body {
    display: flex;
    font-size: 30px;
    }

.grid {
    margin: 50px auto 0;
    outline: 1px solid red;
    width: 960px;   
    /*параметры для ГРИД*/
    display: grid;
    gap: 10px; 
/* А теперь сокращенное описание шаблона ячеек сетки ГРИДЫ*/
    grid-template:
    [header-top]       /*имя первой строки (непонятно можно ли использовать и как)*/      
    "b b b" 100px     /*одинаковое имя всех трех ячеек "b".Первая строка имена ячеек и ее высота 100px*/ /*количество стобцов 3шт*/
    [header-bottom 
    main-top]          /*имя второй и третьей строки, Начинается зона мейн размером 2 строки на 3 столбца*/ 
    "c c d" 150px     /*вторая строка и ее высота 150px*/ /*количество стобцов 3шт естественно*/
    "c c d" 200px     /*третья строка и ее высота 200px*/ /*количество стобцов 3шт естественно*/
    [main-bottom] 
    "e e e" 200px     /*четвертая строка и ее высота 200px*/ /*количество стобцов 3шт естественно*/
    /                  /*после слэша идет перечисление ширин столбцов всей таблицы*/      
    1fr 200px 1fr;        /*первый столбец = 1 фрации, второй столбец равен 200px, третий столбец равен 1 фракции*/        
}
.header {
    grid-area: b;   /* этот класс дан последнему элементу в html-разметке,
                     но он займет три верхних ячейки таблицы потому что ему присвоена зона с именем ячеек "b" */
}
.content {
    grid-area: c;   /* элемент  с этим классом,
                        но он займет зону с ячейками под именем "c" во
                         второй и третьей строке, потому что ему присвоена зона с именем ячеек "с" */
}
.aside {
    grid-area: d;   /* элемент  с этим классом,
                    займет зону с ячейками под именем "d" во
                    второй и третьей строке, потому что ему присвоена зона с именем ячеек "d" */
}
.footer {    
    grid-area: e;   /* элемент  с этим классом,
                  займет зону с ячейками "d" в последней строке, потому что ему присвоена зона с именем ячеек "d" */
}




.grid > * {
    /* display: flex; */
    /* padding: 20px 25px; */
    
    border-radius: 8px;
}
.grid > * > * {
    /* padding: 5px;
    margin: auto; */

}
.grid div:nth-child(7n+1) {
    background-color: lightgreen;

}
.grid div:nth-child(7n+2) {
    background-color: lightblue;
    
}
.grid div:nth-child(7n+3) {
    
    background-color: #ff55407d;   
}
.grid div:nth-child(7n+4) {
    background-color: yellow;
}
.grid div:nth-child(7n+5) {
    background-color: #00ffee66;
}
.grid div:nth-child(7n+6) {
    background-color: #0d00ff81;

}.grid div:nth-child(7n+7) {
    background-color: rgba(0, 0, 255, 0.3);

}

