@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;

  src:
    url("./fonts/Montserrat-Regular.woff") format("woff"),
    url("./fonts/Montserrat-Regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;

  src:
    url("./fonts/Montserrat-Medium.woff") format("woff"),
    url("./fonts/Montserrat-Medium.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 300;

  src:
    url("./fonts/Montserrat-LightItalic.woff") format("woff"),
    url("./fonts/Montserrat-LightItalic.woff2") format("woff2");
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #000000;
  background-color: #ffffff;
  min-width: 1440px;
}

.header {
  width: 1440px;
  margin: 0 auto;
  padding-left: 165px;
  padding-right: 165px;
}

.header__nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  gap: 30px;
  border-bottom: 1px solid #f5d581;
}

.header__menu-list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.header__menu-list a {
  padding: 20px;
}

.header__details {
  position: relative;
}

.header__summary {
  display: relative;
  padding: 10px;
  display: block; /* тем самым переопределяем родное display: list-item, нативная стрелка у details исчезает */
}

.header__summary:hover {
  cursor: pointer;
}

.header__summary::before {
  position: absolute;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  right: -8px;
  content: "";

  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 7px solid #f5d581;
}

.header__details-list {
  right: -40px;
  left: 0;
  padding: 30px 16px;
  background-color: #ffffff;
  list-style-type: none;
  position: absolute;
  display: grid;
  row-gap: 23px;
  box-shadow:
    0 4px 8px 0 rgba(97, 97, 97, 0.18),
    0 2px 4px 0 rgba(97, 97, 97, 0.18);
}

.header .header__feedback {
  border: 1px solid #9f7303;
  border-radius: 8px;
  padding: 6px 22px;
}

.header a {
  color: inherit;
  text-decoration: none;
}

header a:hover {
  color: #9f7303;
}

.wrapper {
  width: 1440px;
  margin: 0 auto;
  padding-left: 165px;
  padding-right: 165px;
}

.page-main {
  padding: 75px 9 114px;
  background-color: #fffdf8;
}

.wysiwyg-wrapper {
  background-color: #fffdf8;
  padding-top: 72px;
  padding-bottom: 114px;
}

/* .wysiwyg-wrapper * {
  border: 1px solid green;
} */

.wysiwyg-wrapper h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
  font-weight: 500;
  line-height: 59px;
  margin: 0 0 32px;
}

.wysiwyg-wrapper h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-weight: 500;
  line-height: 49px;
  margin: 0 0 32px;
  color: #9f7303;
}

.wysiwyg-wrapper h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  font-weight: 500;
  line-height: 39px;
  margin: 0 0 32px;
  color: #9f7303;
}

.wysiwyg-wrapper p {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 39px;
  margin: 0 0 32px;
}

.wysiwyg-wrapper img {
  margin: 0 0 56px;
}

.wysiwyg-wrapper ul,
.wysiwyg-wrapper ol {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  margin: 0 0 56px;
  list-style-type: none;
}

.wysiwyg-wrapper li {
  padding-left: 20px;
  position: relative;
}

.wysiwyg-wrapper li::before {
  content: "";
  width: 8px;
  height: 8px;
  background-color: #f5d581;
  position: absolute;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: -20px;
  transform: rotate(45deg);
}

.wysiwyg-wrapper blockquote {
  font-family: "Montserrat", sans-serif;
  font-style: italic;
  font-weight: 300;
  font-size: 24px;
  line-height: 1.5;
  text-align: center;
  width: 80%;
  margin: 0 auto;
  color: #9f7303;
  border-top: 1px solid #f5d581;
  border-bottom: 1px solid #f5d581;
  padding: 40px 95px;
}

.wp-yellow-text {
  color: #9f7303
}

.form {
  background-color: #f4efe2;
  padding-top: 81px;
  padding-bottom: 44px;
}

.form__heading {
  color: #9f7303;
  margin: 0 0 32px;
}

.form__textarea {
  width: 100%;
  height: 160px;
  padding: 16px;
  font-size: 18px;
  resize: none;
  border-radius: 8px;
  border: 1px solid #f5d581;
  margin-bottom: 24px;
}

.form__textarea::placeholder {
  color: #000000;
  opacity: 0.3;
}


.form__field--name {
  width: 540px;
  font-size: 18px;
  padding: 16px;
  border-radius: 8px;
  border: 1px solid #f5d581;
  margin-bottom: 24px;
}

.form__submit-container {
  display: grid;
  grid-template-columns: min-content auto;
  gap: 16px;
  align-items: center;
  margin-bottom: 56px;
}

.form__submit {
  padding: 18px 92px;
  border-radius: 8px;
  background-color: #9f7303;
  border: 1px solid transparent;
  font-size: 18px;
}

.form__explanation {
  font-size: 12px;
}

.form__separator {
  width: 1px;
  border-bottom: 1px solid #f5d581;
  width: 100%;
}

.reviews {
  background-color: #f4efe2;
  padding-top: 44px;
  padding-bottom: 88px;
}

.reviews__list {
  list-style-type: none;
  display: grid;
  row-gap: 32px;
}

.reviews__item {
  display: grid;
  grid-template-columns: min-content auto;
  column-gap: 24px;
}



.reviews__avatar-container {
  grid-row: 1 / 3;
  width: 50px;
  height: 50px;
  background-color: #f5d581;
  border-radius: 50%;
  overflow: hidden;
}

.reviews__author {
  color: #000000;
  font-size: 14px;
  font-weight: 500;
  line-height: 150%;
  font-style: normal;
}

.reviews__blockquote {
  grid-column: 2 / 3  ;
}
