node_modules
build
# *.min.*
# не не передавался в главный репозиторий  pristine.min.js в проекте кексобукинг, работал над ним на ноутбуке а когда поробовал на компе обнаружил что нет файла pristine.min.js консоль навыдавала кучу ошибок теперь я закоментировал строку выше и изменения должны быть глобально

