


html {
  border: 1px soli #ff0000;
  box-sizing: border-box;
  height: 100%;
  padding: 0;
}

body {
  margin: 0;
  border: 1px solid #90ee90;
  font-family: sans-serif;
  box-sizing: border-box;
  height: 100%;
  text-align: center;
  display: flex;
}

.container {
  margin: auto;
}

.main-menu-list {
  padding: 0;
  text-align: center;
}

.main-menu-item {
  list-style-type: none;
}

.main-menu-item a {
  text-decoration: none;
  color: #999999;
}

.complete,
.in-work {
  position: relative;
}

.complete::after,
.in-work::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 5px;
}

.complete a {
  color: #333333;
}

.complete {
  background-color: rgb(197, 246, 197);
}

.in-work a {
  color: #666666;
}

.in-work {
  background-color: rgb(246, 243, 197);
}

.not-start a{
  color: #d6d5d5;
}
