.advantages__header {
  padding-top: 40px;

  @media (min-width: $tablet-width) {
    padding-bottom: 46px;
  }
}

.advantages__body {
  margin-top: -30px;
  padding-top: 114px;
  overflow: hidden;
}

.advantages__list {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    position: relative;
    padding-left: 310px;
    text-align: left;
    margin-bottom: 91px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
    text-align: left;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}

.advantages__item {

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}

.advantages__title {
  margin: 0;
  color: $basic-black;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 11px;

  @media (min-width: $desktop-width) {
    font-size: 30px;
    line-height: 30px;
    width: 240px;
    margin: 0 auto 20px;
  }
}

.advantages__description {
  font-size: 14px;
  line-height: 24px;
  margin: 0;
  flex-grow: 1;
  flex-shrink: 0;
  margin-bottom: 32px;

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 30px;
    width: 240px;
    margin: 0 auto;
  }
}



.advantages__item:not(:last-child) .advantages__image {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.advantages__image-wrapper {
  overflow: hidden;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: -60px;
    left: 0;
  }

  @media (min-width: $desktop-width) {
    order: -1;
    margin-bottom: -22px;

    position: relative;
    &::after {
      content: "";
      position: absolute;
      min-width: 100%;
      height: 20px;
      bottom: -9px;
      left: 0;
      right: 0;
      border-radius: 50%;
      opacity: 0.3;
      background-image: linear-gradient(to right, transparent 0, $basic-black 50%, transparent 100%);
      filter: blur(4px);
    }
  }
}

.advantages__image {
  margin-top: 8px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: -42px;

  @media (min-width: $tablet-width) {
      width: 268px;
      height: 547px;
      margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    width: 186px;
    height: 382px;
    margin-bottom: -48px;
}
}
