.contacts {
  position: relative;
  z-index: 0;
  margin-bottom: 35px;

  @media (min-width: $desktop-width) {
    padding-top: 14px;
  }
}

.contacts::after {
  z-index: -1;
  position: absolute;
  content: "";
  width: 100%;
  height: 123px;
  bottom: -67px;
  left: 0;
  right: 0;
  background-repeat: repeat;
  background-position: center bottom;
  background-size: 1200px 123px;
  background-image: url("../img/background/triangle-white-top.svg");

  @media (min-width: $tablet-width) {
    bottom: -50px;
  }

  @media (min-width: $desktop-width) {
    bottom: -97px;
  }
}

.contacts__title {
  margin-bottom: 34px;
  margin-top: 42px;

  @media (min-width: $tablet-width) {
    margin-top: 45px;
    margin-bottom: 34px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 41px;
  }
}


.contacts__list {
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 10px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 338px 305px 332px;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
  }
}


.contacts__item:nth-child(3n) {
  grid-column: 1 / -1;

  @media (min-width: $desktop-width) {
    grid-column: auto;
  }
}

.contacts__item:nth-child(2) {

  @media (min-width: $desktop-width) {
    order: 2;
  }
}

.contacts__link {
  text-decoration: none;
  color: $color-primary;
}

.contacts dt {
  margin-bottom: 2px;

  @media (min-width: $desktop-width) {
    margin-bottom: 20px;
  }
}

.contacts dd {
  margin-left: 0;
  margin-bottom: 15px;
  font-size: 24px;
  font-weight: 300;
  line-height: 33px;

  @media (min-width: $tablet-width) {
    margin-bottom: 42px;
  }
}

.contacts__link--email {
  position: relative;

  &:hover {
    color: $special-gray;
  }

  &:active {
    color: fade-out($special-gray, 0.7);
  }

  &:hover::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 2px;
    height: 1px;
    background-color: $special-gray;
  }

  &:active::after {
    background-color: fade-out($special-gray, 0.7);
  }
}
