.feedbacks {
  padding-top: 42px;

  @media (min-width: $desktop-width) {
    padding-top: 187px;
    position: relative;
  }
}

.feedbacks::after {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
    position: absolute;
    content: "";
    width: 79px;
    height: 63px;
    top: 72px;
    right: 0;
    left: 0;
    margin: 0 auto;

    background-image: url("../img/sprites/quotes.svg");
    background-repeat: no-repeat;
    background-size: 79px 63px;
    background-position: center;
  }
}

.feedbacks__item {
  margin: 0;


  @media (min-width: $tablet-width) {
    display: grid;
  }



  @media (min-width: $desktop-width) {
    padding-right: 126px;
    padding-left: 126px;
  }

}

.feedbacks__author-name {
  display: block;
  margin: 0;
  margin-bottom: 12px;
  font-style: normal;
  font-weight: 700;
  color: $basic-black;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    margin-top: 10px;
    letter-spacing: 1.3px;
    margin-bottom: -1px;
  }

  @media (min-width: $desktop-width) {
    font-size: 24px;
    letter-spacing: normal;
    margin-bottom: 4px;
  }
}

.feedbacks__author-info {
  @media (min-width: $tablet-width) {
    margin-bottom: 28px;
  }
}

.feedbacks__author-age,
.feedbacks__author-profession {
  display: none;

  @media (min-width: $tablet-width) {
    display: inline-block;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    text-transform: lowercase;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
  }
}

.feedbacks__text {
  margin-top: 0;
  margin-bottom: 24px;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    order: -1;
  }
}

.feedbacks__toggles {
  position: relative;
  // необходимо для Z-index ниже
  z-index: 1;
  // небходимо что бы поднять toggles над наезжающим снизу слоем, так как между блоками косая граница разделения
}
