
.field-group {
  border: none;
  padding: 0;
  margin: 0;
  margin-top: -5px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
    margin-bottom: 70px;
    margin-right: 20px;
    margin-left: 20px;

    &:not(:first-child) {
      border: 2px solid $special-gray-200;
      padding-top: 0;
      border-radius: 3px;
    }
  }

  @media (min-width: $desktop-width) {
    &:not(.field-group--name):not(.field-group--app) {
      grid-column: 1 / -1;
    }
  }
}

.field-group:nth-child(2n) {
  background-color: $special-gray-100;
  @media (min-width: $tablet-width) {
    background-color: $basic-white;
  }
}

.field-group__heading {
  margin-top: 40px;

  padding: 0 20px;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  color: $color-primary;

  @media (min-width: $tablet-width) {
    transform: translateY(-50%);
    background-color: $basic-white;
    width: fit-content;
  }
}

.field-group__heading--contacts {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.field-group__list {
  margin-top: 40px;
  list-style-type: none;
  margin-bottom: 48px;
  padding: 0;
  text-align: left;

  width: 280px; // 320 - 20 - 20
  margin-right: auto;
  margin-left: auto;

  @media (min-width: $tablet-width) {
    width: auto;
  }
}


.field-group:not(:first-child) {
  @media (min-width: $tablet-width) {
    .field-group__list {
      padding-right: 60px;
      padding-left: 60px;
    }
  }
}

.field-group__item {
  margin-bottom: 19px;

  @media (min-width: $tablet-width) {
    &:last-child {
      margin-bottom: 54px;
    }
  }
}


.field-group__field {
  display: grid;
  gap: 8px;
}

.field-group--name {
  order: -3;
  @media (min-width: $tablet-width) {
    .field-group__field {
      grid-template-columns: max-content 1fr;
      gap: 20px;
      align-items: center;
    }

    .field-group__item:last-child {
      margin-bottom: 0;
    }
  }

  @media (min-width: $desktop-width) {
    .field-group__list {
      width: auto;
      margin-top: 6px;
    }
  }
}

.field-group--progress {
  @media (min-width: $desktop-width) {
    .field-group__list {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 60px;
      row-gap: 10px;
    }
  }
}

.field-group--contacts {
  @media (min-width: $tablet-width) {
    order: -1;
    .field-group__field {
      display: flex;
      flex-direction: column-reverse;
      position: relative;

      &::after {
        position: absolute;
        content: "";
        right: 0;
        top: 0;
        height: 59px;
        width: 59px;
        background-color: $special-gray-200;
        background-position: center;
        background-repeat: no-repeat;
      }
    }

    .field-group__field--tel::after {
      background-image: url("../img/icons/phone-icon.svg");
      background-size: 20px 19px;
    }

    .field-group__field--mail::after {
      background-image: url("../img/icons/mail-icon.svg");
      background-size: 18px 13px;
    }

    .field__input {
      padding-right: 70px;
    }
  }

  @media (min-width: $desktop-width) {
    .field-group__list {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 74px;
    }


  }
}

.field-group--app {
  @media (min-width: $tablet-width) {
    order: -2;
  }

  @media (min-width: $desktop-width) {
    .field-group__list {
      width: auto;
    }
  }
}
