.form__body {
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.form__button {
  margin-right: 20px;
  margin-left: 20px;
  width: auto;
}
