.form__body {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    padding-top: 36px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 112px;
    padding-right: 112px;
    margin-right: auto;
    margin-left: auto;
  }
}

.form__button {
  margin-right: 20px;
  margin-left: 20px;
  width: auto;
  padding-top: 20px;
  padding-bottom: 20px;

  @media (min-width: $desktop-width) {
    margin-right: auto;
    padding-right: 55px;
    padding-left: 55px;
  }
}


.form__explanation {
  text-transform: uppercase;
  margin-top: 34px;
  margin-bottom: 20px;
  @media (min-width: $desktop-width) {
    margin-left: auto;
  }
}

.form__add-text-desktop {
  display: none;
  @media (min-width: $desktop-width) {
    display: inline;
  }
}
