.form__body {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    padding-top: 36px;
    margin-bottom: 44px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 78px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 110px;
    padding-right: 110px;

    margin-right: auto;
    margin-left: auto;
    column-gap: 32px;
  }
}

.form__button {
  margin-right: 20px;
  margin-left: 20px;
  width: auto;
  padding-top: 20px;
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    width: 45.5%;
    display: inline-block;
    margin-left: 0;
    padding-bottom: 18px;
    border-radius: 0;
  }

  @media (min-width: $desktop-width) {
    margin-right: auto;
    padding-right: 55px;
    padding-left: 55px;
  }
}


.form__explanation {
  text-transform: uppercase;
  margin-top: 34px;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    width: 45.5%;
    font-size: 14px;
    display: inline-block;
    text-align: right;
    margin-top: 38px;
  }

  @media (min-width: $desktop-width) {
    margin-left: auto;
  }
}

.form__add-text-desktop {
  display: none;
  @media (min-width: $desktop-width) {
    display: inline;
  }
}
