.install {
  padding: 28px 0 32px;

  @media (min-width: $tablet-width) {
    width: 300px;
    padding-bottom: 110px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 38px;
    padding-bottom: 123px;
  }
}

.install__button {
  width: 100%;
  margin-bottom: 20px;

  &:hover {
    background-color: $basic-white;
    color: $color-primary;
  }

  &:active {
    background-color: $basic-white;
    color: fade-out($color-primary, 0.7);
  }

  @media (min-width: $tablet-width) {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 34px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 12px;
    letter-spacing: 2px;
    margin-bottom: 58px;
  }
}



.install__list {
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 8px;

  @media (min-width: $tablet-width) {
    margin-bottom: 19px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 38px;
  }
}

.install__icon {
  display: block;
  width: 80px;
  height: 80px;
  background-repeat: no-repeat;
  background-position: center;

  &--ios {
    background-size: 47px 56px;
    background-image: url("../img/sprites/apple-logo.svg");
  }

  &--android {
    background-size: 43px 47px;
    background-image: url("../img/sprites/android-logo.svg");
  }

  &--windows {
    background-size: 44px 41px;
    background-image: url("../img/sprites/microsoft-logo.svg");
  }
}

.install__text {
  margin: 0;
  font-weight: 300;

  @media (min-width: $tablet-width) {
    line-height: 1.5;
  }

  @media (min-width: $desktop-width) {
    line-height: 1.35;
    margin-left: -5px;
  }
}
