.install {
  padding: 28px 0 38px;
}

.install__button {
  width: 100%;
  margin-bottom: 32px;
}

.install__list {
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 28px;
}

.install__icon {
  display: block;
  background-color: green;
  width: 80px;
  height: 80px;
}

.install__text {
  margin: 0;
  font-weight: 300;
}
