.intro {
  margin-top: -66px;

  @media (min-width: $tablet-width) {
    margin-top: -110px;
  }
}

.intro__wrapper {
  padding-top: 66px;

  background-image: url("../img/background/back-mobile.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 320px 462px;


  @media (min-resolution: 2dppx) {
    background-image: url("../img/background/back-mobile@2x.jpg");
  }

  @media (min-width: $tablet-width) {


    background-image: url("../img/background/back-tablet.jpg");
    background-size: 1200px 729px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background/back-tablet@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 120px;
    background-image: url("../img/background/back-desktop.jpg");
    background-size: 2560px 853px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background/back-desktop@2x.jpg");
    }
  }
}



.intro__content {
  position: relative;
  z-index: 1;
}

.intro__content--catalog {
  padding-bottom: 46px;
  text-align: center;
}


.intro__heading {
  margin: 24px 20px 28px;
  font-weight: 300;
  line-height: 120%;
  font-size: 24px;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 112px 28px 0;
    width: 300px;
    font-size: 40px;
  }
}

.intro__heading--catalog {
  margin-top: 30px;
  line-height: 1.4;
  @media (min-width: $tablet-width) {
    width: auto;
  }
}


.intro__image-wrapper {
  margin-right: -20px;
  margin-left: -20px;

  @media (min-width: $tablet-width) {
    z-index: -1;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    left: auto;
    margin-right: -130px;
  }
}



.intro__image {
  width: 320px;
  height: 286px;

  @media (min-width: $tablet-width) {
    width: 660px;
    height: 545px;
  }

  @media (min-width: $desktop-width) {
    width: 1050px;
    height: 645px;
  }
}
