.location {
  background-color: $basic-white;
  position: relative;
  z-index: -1;

  @media (min-width: $tablet-width) {
    margin-top: -60px;
  }
}

.location__container {
  @media (min-width: $desktop-width) {
    width: 1200px;
  }
}

.location__wrapper {
  margin: 0 -20px;

  @media (min-width: $desktop-width) {
    margin: 0 auto;
  }
}

// Метка на карте
.location__wrapper::before {
  position: absolute;
  content: "";
  top: 26px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 36px;
  height: 36px;
  background-color: $color-primary;
  border-radius: 50%;
  border: 10px solid $basic-white;

  @media (min-width: $tablet-width) {
    top: 50px;
  }

  @media (min-width: $tablet-width) {
    top: 65px;
  }
}


.location__image {
  display: block;

  @media (min-width: $tablet-width) {
    width: 660px;
    height: 374px;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
    height: 502px;
  }
}
