.main-nav {
  z-index: 2;
  position: relative;
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
}

.main-nav__bar {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 66px;
  border-bottom: 1px solid transparent;
  width: auto;
  padding-right: 20px;
  padding-left: 20px;
  background-color: fade-out($basic-black, 0.7);

  @media (min-width: $tablet-width) {
    min-height: 110px;
  }
}

.main-nav__toggle {
  margin-left: auto;
  display: block;
  width: 50px;
  height: 50px;
  position: relative;

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.main-nav__toggle::after {
  position: absolute;
  content: "";
  top: 13px;
  right: 0;
  left: 0;
  height: 4px;
  border-radius: 1px;
  background-color: $basic-white;
  box-shadow:
    0 10px 0 0 $basic-white,
    0 20px 0 0 $basic-white;
}

.main-nav__toggle:hover::after {
  box-shadow:
  0 10px 0 0 $color-primary,
  0 20px 0 0 $color-primary;
}

.main-nav__toggle:active::after {
  box-shadow:
  0 10px 0 0 fade-out($color-primary, 0.7),
  0 20px 0 0 fade-out($color-primary, 0.7);
}

.main-nav__wrapper {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}

// no js
.main-nav--nojs {
  background-color: $special-gray;
}

.main-nav--nojs .main-nav__wrapper {
  display: block;
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}

// opened
.main-nav--opened {
  background-color: $special-gray;
}

.main-nav--opened .main-nav__bar {
  border-bottom: 1px solid $basic-black;
}

.main-nav--opened .main-nav__wrapper {
  z-index: 2;
  position: absolute;
  top: 99%;
  width: 100%;
  display: block;
}

.main-nav--opened .main-nav__toggle::after,
.main-nav--opened .main-nav__toggle::before {
  position: absolute;
  content: "";
  width: 30px;
  height: 4px;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  box-shadow: none;
  margin: auto;
  background-color: $basic-white;
  transform: rotate(45deg);
}

.main-nav--opened .main-nav__toggle::before {
  transform: rotate(-45deg);
}

.main-nav .main-nav__toggle:hover::before,
.main-nav .main-nav__toggle:hover::after {
  background-color: $color-primary;
}

.main-nav .main-nav__toggle:active::before,
.main-nav .main-nav__toggle:active::after {
  background-color: fade-out($color-primary, 0.7);
}
