// html
.page {
  min-width: 320px; // при этом не ломается верстка при ширине меньше чем 320рх

  height: 100%; // паттерн sticky footer
  font-family: $font-body;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;


  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 30px;
  }
}

// body
.page__body {
  margin: 0;
  min-height: 100%; // паттерн sticky footer
  display: flex;
  flex-direction: column;
  color: $special-gray;
  background-color: $basic-white;

// центрирование контента странице (заготовка)
  // max-width: 500px;
  // margin: 0 auto;
  // border: 1px solid red;
}

.page__header, .page__footer {
  flex-grow: 0;
  flex-shrink: 0;
}

.page__main {
  flex-grow: 1;
}
