.page-footer {
  padding: 40px;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding: 32px 0;
    display: grid;
    grid-template-columns: 160px 1fr 160px;
  }

  @media (min-width: $desktop-width) {
    padding: 68px 0;
  }
}

.page-footer__developer {
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-left: auto;
  }
}

.page-footer__logo img {
  margin: 0 auto 34px;
  width: 145px;
  height: 40px;

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-right: auto;
    margin-top: 3px;
  }

  @media (min-width: $tablet-width) {
    width: 147px;
  }
}
