.page-header {
  text-align: center;
  background-color: $background-color-page-header;
  color: $basic-white;
}

.page-header__logo {
  display: block;

  @media (min-width: $tablet-width) {
    margin-bottom: 16px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 32px;
    margin-right: 132px;
    margin-bottom: 18px;
  }
}

.page-header__logo  {
  .logo--small {
    display: block;
    color: $basic-white;
    &:hover {
      color: $color-primary;
    }

    &:active {
      color: $basic-white;
      opacity: 0.3;
    }

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  .logo--medium {
    display: none;

    @media (min-width: $tablet-width) {
      display: block;

      color: $basic-white;
      &:hover {
        color: $color-primary;
      }

      &:active {
        color: $basic-white;
        opacity: 0.3;
      }
    }

    @media (min-width: $desktop-width) {
      display: none;
    }
  }

  .logo--large {
    display: none;

    @media (min-width: $desktop-width) {
      display: block;

      color: $basic-white;
      &:hover {
        color: $color-primary;
      }

      &:active {
        color: $basic-white;
        opacity: 0.3;
      }
    }
  }
}
