.page-header {
  text-align: center;
  background-color: $background-color-page-header;
  color: $basic-white;
}

.page-header__logo {
  display: block;

  @media (min-width: $desktop-width) {
    margin-left: 32px;
    margin-right: 132px;
    margin-bottom: 18px;
  }
}

.page-header__logo img {
  width: 74px;
  height: 23px;
  @media (min-width: $tablet-width) {
    margin-bottom: 14px;
    width: 145px;
    height: 40px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    width: 147px;
    height: 40px;
  }
}
