.price {
  padding-top: 100px;
  padding-bottom: 40px;
}

.price__wrapper {
  overflow-x: auto;
  padding-bottom: 30px;
}

.price__list {
  width: 875px;
  padding-right: 20px;
  padding-left: 20px;
  //border-spacing: 10px 20px; вместо устаревшего cellspacing="0"  еще от таблицы свойство  при border-collapse: collapse; исчезают паддинги
  border-spacing: 0 0;

  @media (min-width: $tablet-width) {
    width: 612px;
    padding: 0;
    margin: 0 auto;
  }

  td {
    min-width: 280px; // поточнее разобраться

    @media (min-width: $tablet-width) {
      min-width: 153px;
    }
  }
}

// взамен устаревшего свойства cellpadding в html применим
.price__list th {
  padding: 0;
}

.price__column-head {
  position: relative;
  text-transform: uppercase;
  background-color: $special-gray;
  color: $basic-white;
}

.price__column-head--hit {
  overflow: hidden;
}

.price__column-head--hit::before {
  content: "хит";
  position: absolute;
  top: 10px;
  left: -110px;
  height: 20px;
  width: 100%;
  background-color: $color-primary;
  font-weight: 400;
  transform: rotate(-45deg);
  line-height: 1;
  text-transform: uppercase;
  font-size: 14px;
  padding-top: 2px;
  padding-right: 13px;

  @media (min-width: $tablet-width) {
    top: 10px;
    left: -52px;
    padding-right: 7px;
  }
}


.price__title {
  font-size: 16px;
  font-weight: 700;
  margin-top: 17px;
  margin-bottom: 2px;
}

.price__cost {
  margin: 0;
  margin-bottom: 23px;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
}

.price__row-head {
  @media (min-width: $tablet-width) {
    padding: 10px 0;
  }
}


// радиусы и границы шрифты
.price__column-head:first-of-type {
  border-top-left-radius: 3px;
}

.price__column-head:last-of-type {
  border-top-right-radius: 3px;
}

.price__column-head:not(:last-of-type) {
  border-right: 2px solid transparent;
  background-clip: content-box;
}

.price__list tr:last-child {
  td:first-child {
    border-bottom-left-radius: 3px;
  }

  td:last-child {
    border-bottom-right-radius: 3px;
  }
}

.price__list td {
  border-bottom: 2px solid $special-gray-200;
  border-right: 2px solid $special-gray-200;
  background-color: $basic-white;

  @media (min-width: $tablet-width) {
    font-size: 14px;
  }
}

.price__list td:first-child,
.price__list td:nth-child(2) {
  border-left: 2px solid $special-gray-200;
}

.price__list td:first-child {
  border-right: none;
}

.price__list tr:nth-child(2) td:first-child {
  position: relative;

  &::after {
    position: absolute;
    display: block;
    content: "";
    top: -2px;
    left: -2px;
    right: 0;
    height: 3px;
    background-color: $basic-white;
    border-top-left-radius: 3px;
    border-top: 2px solid $special-gray-200;
    border-left: 2px solid $special-gray-200;
  }
}

.price__list tr:first-child td:first-child {
  background-color: transparent;
  border: none;
}

.price__list tr th:first-child,
.price__list tr td:first-child {
  display: none;

  @media (min-width: $tablet-width) {
    display: table-cell;
  }
}

// лишняя обертка потому что табличная ячейка display: table-cell и при замене на любое другое значение верстка ломается
.price__td-content {
  margin: 0;
  padding: 20px;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    padding: 0;
    justify-content: center;
  }
}


.price__td-title {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.price__td-check {
  width: 31px;
  height: 31px;
  position: relative;
  &::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.price__check--yes .price__td-check::after {
  background-image: url("../img/sprites/check-yes.svg");
  background-size: 31px 21px;
}

.price__check--no .price__td-check::after {
  background-image: url("../img/sprites/check-no.svg");
  background-size: 27px 27px;
}
