.reviews__header {
  padding-top: 46px;
  padding-bottom: 50px;
  line-height: 2.1;
}

.reviews__header--form {
  padding-bottom: 0;
}

.reviews__list {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
  text-align: left;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 54px;

  }
}

.reviews__item {
  background-color: $special-gray-100;
  margin-bottom: 20px;
  padding-bottom: 25px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    min-height: 455px;
  }

  @media (min-width: $desktop-width) {
    min-height: 555px;
  }
}

.reviews__item--day {
  position: relative;

  @media (min-width: $tablet-width) {
    grid-column: 1 / -1;
  }
}

.reviews__mark {
  position: absolute;
  top:0;
  right: 0;
  background-color: $color-primary;
  font-size: 12px;
  line-height: 1;
  padding: 13px 20px;
  color: $basic-white;
  text-transform: uppercase;
  font-weight: 700;
}

.reviews__item--day .reviews__image-wrapper {
  margin-right: -20px;
  margin-left: -20px;
}

.reviews__image {

  @media (min-width: $tablet-width) {
    width: 300px;
    height: 300px;
  }

  @media (min-width: $desktop-width) {
    width: 300px;
    height: 400px;
  }
}

.reviews__item--day .reviews__image {

  @media (min-width: $tablet-width) {
    width: 660px;
    height: 509px;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
    height: 506px;
  }
}

.reviews__item--day .rewiews__text-wrapper {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr max-content;
    padding-right: 13px;
    padding-left: 13px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 10px;
    padding-left: 10px;
  }
}

.reviews__quote {
  margin: 0;
  margin-bottom: 17px;
  padding-top: 18px;
  padding-right: 10px;
  padding-left: 17px;

  @media (min-width: $tablet-width) {
    flex-grow: 1;
  }
}

.reviews__cite {
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

.reviews__time {
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: -0.03em;
}

.reviews__text {
  margin-top: -1px;
  margin-bottom: 1px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.reviews__item--day .reviews__text {

  @media (min-width: $tablet-width) {
    margin-right: -150px;
  }

  @media (min-width: $desktop-width) {
  }
}

.reviews__item--day .reviews__likes {
  @media (min-width: $tablet-width) {
    margin-top: 25px;
  }
}


.reviews__likes {
  display: flex;
  align-items: flex-start;
  padding-left: 17px;
  padding-right: 17px;
  gap: 19px;

  @media (min-width: $tablet-width) {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}


.reviews__button-like {
  width: 13px;
  height: 12px;
  vertical-align: middle;
  background-image: url("../img/sprites/heart.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 13px 12px;

  @media (min-width: $tablet-width) {

  }
}

.reviews__like-counter {
  font-size: 12px;
  line-height: 1;
  color: $color-primary;
  text-transform: uppercase;
}
