.site-menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: $special-gray;
  border-top: 1px solid $basic-black;

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    border-top: none;
    background-color: transparent;
  }
}


.site-menu__item--active {
  @media (min-width: $desktop-width) {
    position: relative;
  }
}

.site-menu__item--active::after {
  @media (min-width: $desktop-width) {
    position: absolute;
    content: "";
    bottom: 0;
    right: 35px;
    left: 35px;
    height: 2px;
    background-color: $basic-white;
  }
}

.site-menu__link {
  display: block;
  color: $basic-white;
  text-decoration: none;
  padding: 16px;
  border-top: 1px solid fade-out($basic-white, 0.85);
  border-bottom: 1px solid $basic-black;
  text-transform: uppercase;

  @media (min-width: $desktop-width) {
    text-transform: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    border: none;
    padding: 16px 35px;
  }
}

.site-menu__link[href]:hover {
  color: $color-primary;
}

.site-menu__link[href]:active {
  color: fade-out($basic-white, 0.7);
}

.site-menu__link--active:hover {
  cursor: default;
}
