.site-menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.site-menu__link {
  display: block;
  color: $basic-white;
  text-decoration: none;
  padding: 16px;
  border-top: 1px solid fade-out($basic-white, 0.85);
  border-bottom: 1px solid $basic-black;
  text-transform: uppercase;
  background-color: $special-gray;
}

.site-menu__link[href]:hover {
  color: $color-primary;
}

.site-menu__link[href]:active {
  color: fade-out($basic-white, 0.7);
}

.site-menu__link--active:hover {
  cursor: default;
}
