.slash-background-top {
  background-image: linear-gradient( -185.5deg, transparent 118px, $special-gray-100 119px);
  background-size: 1500px 828px;
  background-position: center top;
  background-repeat: no-repeat;
}
