.slider__list {
  position: relative;
}

.slider__toggles {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.slider__toggles--table {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.slider__toggle-item {
  margin: 9px;
}

.slider__toggle {
  padding: 0;
  display: block;
  background-color: fade-out($special-gray, 0.7);
  width: 6px;
  height: 6px;
  border-radius: 50%;

  &--current {
    background-color: $basic-white;
    outline: 3px solid $special-gray;
  }

  &:hover:not(.slider__toggle--current) {
    background-color:  fade-out($special-gray, 0.4);
  }

  &:active:not(.slider__toggle--current) {
    background-color:  fade-out($special-gray, 0.9);
  }
}

.slider__arrows {
  display: none;
  @media (min-width: $desktop-width) {
    display: block;
    position: absolute;
    top: 50%;
    display: flex;
    right: 0;
    left: 0;
    justify-content: space-between;
  }
}


.slider__arrow {
  width: 22px;
  height: 41px;
  padding: 0;
  opacity: 0.3;


  &--left {
    transform: rotate(180deg);
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.1;
  }
}
