$color-primary: #d22856;
$basic-white: #ffffff;
$basic-black: #000000;
$special-gray: #283645;
$special-gray-2: #1D2631;
$basic-green: #2aab6d;
// fonts
$font-body: "Open Sans", sans-serif;

// width
$tablet-width: 660px;
$desktop-width: 1200px;
$mobile-width-only: 659px;
