$color-primary: #d22856;
$basic-white: #ffffff;
$basic-black: #000000;
$special-gray: #283645;
$special-gray-2: #1D2631;

$special-gray-100: #f2f2f2;
$special-gray-200: #e5e5e5;
$basic-green: #2aab6d;
$special-green: #1c9b5e;

$background-color-page-header: #1A3143;
// fonts
$font-body: "Open Sans", sans-serif;

// width
$tablet-width: 660px;
$desktop-width: 1200px;
$mobile-width-only: 659px;
