//label
.field {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 15px;
  align-items: center;
}

.field__lead {
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
}

.field--phone, .field--email {
  grid-template-columns: auto;

  .field__lead {
    margin-left: 23px;
  }
}

// input
.field__input {
  min-width: 0; // изначально у инпута есть минимальная ширина, сбрасываем иначе при нашем шрифте инпуты вылезают за границы
  box-sizing: border-box;
  padding: 18px 22px 14px;
  border: none;
  background-color: $basic-gray;
  font-size: 18px;
  line-height: 26px;
  font-family: inherit;
  font-weight: 700;

  &::placeholder {
    color: $basic-black;
  }
}

.field--textarea {
  display: block;
  margin-top: -5px;

  .field__input {
    resize: auto;
    width: 100%;
    padding: 12px 20px 17px;

    @media (min-width: $tablet-width) {
      margin-top: 34px;
    }
  }

}


