.logo {
  text-align: center;
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media(min-width: $tablet-width) {
    position: absolute;
    top: 0;
    left: calc(50% - 51px);
  }

  @media(min-width: $desktop-width) {
    left: calc(50% - 93px);
  }
}

.logo__image {
  width: 102px;
  height: 84px;

  @media (min-width: $desktop-width) {
    width: 186px;
    height: 96px;
  }
}
