// Сэтого файла нужно начинать стилизацию сеток страницы

.page {
  min-width: 320px;
  // Это ключевая настройка. Именно от нее будет зависеть, как будет выглядеть страница при уменьшении экрана меньше чем 320px. Именно из нее я решил вернуться к началу стилизации и начать все заново имея лишь стили шрифтов и фона. Сравнивая со страницей из архива учебного проекта там все красиво уменьшалось на ширине меньшей чем 320px а у меня нет. Важно понять что .page это наша страница в теге <html>...<html> и стили для нее важны и глобальны. Ну все теперь иожно дальше верстать спокойно отталкиваясь от этой ширины.
  height: 100%;
  // значит наш html занимает 100% вьюпорта (проверил через добавление   outline: 1px solid red; outline-offset: -2px;) это правило(имеется в виду height: 100%;) необходимо если контента будет мало и html будет меньше по высоте вьюпорта и к примеру паттерн стикки футер не будет работать.
  font-family: $font-heading;
  font-size: 14px;
  text-transform: uppercase;
  // зададим основной размер шрифта всей страницы (это сымый обычный текст на странице не заголовки. А тем элементам чей шрифт отличаются от этого дабовим дополниельные правила
  line-height: 18px;
  // зададим основной размер высоты строки для этого обычного текста, а тем элементам чья высота строки отличаются от этой - дабовим дополниельные правила

  // Стили для нагдлядного представления где находится и какое место занимает наш <html>...</html> по сути это тоже оболочка ( outline: 1px solid red; outline-offset: -2px;)

  // Теперь посмотрим в макет на версию для планшетов там основной шрифт уже не 14px, a 18px и высота строки уже не 18px, а 24px это задаем через медиа запрос
  @media (min-width: $tablet-width) { // то есть при ширине равной $tablet-width и ШИРЕ, будет действовать новое правило для шрифта и высотыю
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    background-color: $basic-gray;
  }
}

.page__body {
  margin: 0;//  у тега body марджины по умолчанию 8px со всех строн. Убираем их.
  min-height: 100%; // теперь body не может быть меньше по высоте чем html, а значит и меньше чем высота вьпорта так как боди ребенок html. Кпримеру удалил <main>...</main> контента мало но высота боди все равно равна высоте вьюпорта ( проверил добавив боди следующие правила outline: 1px solid green; outline-offset: -4px;) Если еонтента много то боди просто вываливается из html вниз и это нормально.
  color: $basic-black;
  background-color: $basic-white;
  max-width: $desktop-width;
  margin: 0 auto;
  text-align: center;
  box-shadow: 0 0 14px 7px fade-out($basic-black, 0.9);

  // Стили для нагдлядного представления где находится body отностельно html (outline: 1px solid green; outline-offset: -4px;)
}
