.page-footer {
  background-color: $basic_white;
}

.page-footer__container {
  padding: 41px 0 23px;
  @media (min-width: $tablet-width) {
    padding: 33px 60px;
    display: grid;
    grid-template-columns: 166px 1fr 166px; // элементы в третьем столбце по ширине в сумме составят 163рх округлим до четного (164px). В первом столбце ширина элемента меньше чем 164рх но список соц сетей в среднем столбце должен по точно по середине, поэтому крайние стобцы деалем одинаковыми и равными 164рх
    gap: 16px; // на макете он не обозначен, но добавим его произвольно что бы столбцы не сливались между собой
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    padding: 33px 120px;
  }
}

.page-footer__link {
  font-size: 21px;
  font-weight: 700;
  text-decoration: none;
  margin-bottom: 35px;
  color: $basic-black;
  display: block;
  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.page-footer__link-text {
  margin: 0;
  @media (min-width: $tablet-width) {
    text-align: left;
  }
}

.page-footer__social {
  margin: 0;

  @media (max-width: $mobile-width-only) { // такая формулировка позволить нам применить данное рпавтло только для мобильной версии, для версии экрана шире востановятся настройки по умолчанию
    margin-bottom: 40px;
  }
}
