.page-main__section {
  text-align: center;
}


.page-main__header {
  padding: 30px 0 11px;
  background-color: $basic-white;

  @media (min-width: $tablet-width) {
    padding: 44px 0 52px;
    width: 520px;
  }

  @media (min-width: $desktop-width) {
    padding: 54px 0 43px;
  }
}

.page-main__header--form {
  padding-top: 36px;
  padding-bottom: 17px;

  .page-main__heading {
    margin-bottom: 28px;
  }

  .page-main__subheading {
    line-height: 24px;
  }

  @media (min-width: $tablet-width) {
    padding-top: 63px;
    padding-bottom: 84px;

    .page-main__heading {
      margin-bottom: 33px;
      font-size: 30px;
    }

    .page-main__subheading {
      padding: 0 42px;
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 113px;
    padding-bottom: 57px;
  }
}

.page-main__header--catalog {
  @media (min-width: $tablet-width) {
    width: 430px;
    padding-top: 64px;
    padding-bottom: 53px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 100px;
    padding-bottom: 56px;
  }
}

.page-main__header--video {
  width: 266px;
  padding: 32px 0 25px;

  @media (min-width: $tablet-width) {
    padding-top: 57px;
    padding-bottom: 72px;
    width: 450px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 61px;
  }
}

.page-main__heading {
  padding: 0 10px;
  margin: 0;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  color: $basic-black;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    margin-bottom: 31px;
  }
}

.page-main__heading--catalog {
  @media (min-width: $tablet-width) {
    font-size: 30px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 33px;
  }
}

.page-main__subheading {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  color: $basic-black;
}

.page-main__subheading--catalog {
  line-height: 24px;
  margin-bottom: 7px;
}
