.pop-up {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  place-content: center;


}

.pop-up--opened {
  display: block;
}

.pop-up__content {
  display: none;
  padding: 40px 0 0;
  min-width: 320px;
  list-style-type: none;
  position: absolute;
  top: 116px;
  left: 0;
  right: 0;
  background-color: $basic-white;
  //  в макете было box-shadow: 0 4px 4px 0 fade-out($basic-black, 0.75); но верхняяя граница не явна
  box-shadow: 0 4px 6px 0 fade-out($basic-black, 0.75);

  &--active {
    display: block;
  }

  @media (min-width: $tablet-width) {
    padding: 52px 0 0;
  }
}



.pop-up__heading {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  margin: 0;
  margin-bottom: 25px;
  padding: 0 40px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
  }
}

.pop-up__message {
  margin: 0;
  margin-bottom: 25px;
  padding: 0 44px;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    font-size: 14px;
  }
}

.pop-up__button-container {
  padding-bottom: 35px;
  @media (min-width: $tablet-width) {
    padding-bottom: 46px;
  }
}

.pop-up__content--success .pop-up__button-container {
  padding: 20px;
  background-color: $basic-gray;
  @media (min-width: $tablet-width) {
    padding: 44px 91px;
  }
}

.pop-up__button {
  padding: 18px 63px;
  min-width: 178px;
  font-size: 18px;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    padding: 16px;
  }
}


.pop-up__content--falure {
  @media (min-width: $tablet-width) {
    top: 209px;
    width: 400px;
    padding-top: 50px;

    .pop-up__heading {
      padding: 0 91px;
      line-height: 40px;
    }

    .pop-up__message {
      margin-bottom: 37px;
    }

    .pop-up__button-container {
      padding-bottom: 48px;
    }

    .pop-up__button {
      min-width: 273px;
    }

  }

  @media (min-width: $desktop-width) {
    top: 236px;
  }
}


.pop-up__content--success {

  .pop-up__button-container {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: $tablet-width) {
    top: 162px;
    width: 640px;

    .pop-up__heading {
      margin-bottom: 33px;
    }

    .pop-up__message {
      margin-bottom: 43px;
    }

    .button {
      padding-bottom: 13px;
    }
  }

  @media (min-width: $desktop-width) {
    top: 94px;
  }
}
