//// продолжить отсюда демонстрация № 2 шаг № 3 (Зададим базовые стили для кнопки переключения меню.)


.main-nav {
  position: relative; // подготовливаем почву для позиционирования main-nav__toggle
  width: auto; // непонятно зачем
  min-height: 51px; // высота одного пункта меню
  background-color: #826550; // удобнее взять из стайлгайда
}
.main-nav__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.main-nav__list a {
  color: #ffffff;
}

@media (min-width: $tablet-width) {
  .main-nav__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 640px;
    margin: 0 auto;
  }

  .main-nav__toggle {
    display: none;
  }
}

.main-nav__wrapper {

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 640px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 960px;

  }
}
