.page-header {
  display: flex;
  flex-direction: column;
  background-color: #242424;
  color: #ffffff;


}

.page-header__logo {
  height: 85px;
  text-align: center; // у тега img display: inline поэтому  можно с ориентировать логотип посередине как текст

  @media (min-width: $tablet-width) {
    order: 2; // меняем местами с main-nav
    height: 400px; //  делаем большим блоком весь header по макету высотой 469рх шапка 72рх почему тио тут размер 400 а не 469-72=397 видимо округлено до 400
    @media (min-width: $tablet-width) {
      background-color: #000000;
      background-image: url("../../image/bg-header.jpg");
      background-repeat: no-repeat;
      background-position: 50% -9px; // при поднимаем картинку согласно макета по какимнибудь элементам картинки можгно ориентироваться

      @media (min-resolution: 2dppx) { // загрузка большой картинки для ретина-экранов
        background-image: url("../../image/bg-header@2x.jpg");
        background-size: 1536px auto; // картинка 1ч по ширине 768 рх ретина будет   1536px в демонстрации почему то  background-size: 1338px auto;??
      }
    }

    @media (min-width: $desktop-width) {
      height: 648px; // весь блок header на макете 720рх блок main-nav 69px (720-69 = 651px) но тут почему то взяли 648px; // 
      background-position: center 0; // на десктопной версии смещения по игреку нет обнуляем
      background-size: cover; //это способ заставить картинку занять всю доступную площадь и при этом не деформироваться. Зададим background-size: cover — cover переводится с английского как «обложка».
    }
  }

  @media (min-width: $desktop-width) {
    height: 651px;
  }
}

.page-header__logo img {
  width: 226px;
  height: 85px; // svg не искажаеся а просто увеличивается поле сверху и снизу картинки

  @media (min-width: $tablet-width) {
    width: 370px;
    height: auto; // на этой ширине высота логотипа не подпирает высоту блока сделаем ее пропорциональной
    display: block; // для использования маржинов нужна блочноя модель, но при этом text-align перестает действовать поэтому использем боковые маржины авто
    margin: 0 auto;
    margin-top: 40px;
  }
  @media (min-width:$desktop-width) {
    margin-top: 57px; //  в фигме 57px от верхней границы Лого вверх до Шапки с меню
  }
}

// также можно прописать такое вне предыдущего селектора но это не предпочтительно
// @media (min-width: $tablet-width) {
//   .page-header__logo {
//     order: 2;
//     height: 400px;
//   }
// }
