.services {
  background-color: #353535;
  color: #ffffff;

  padding-top: 41px;
  padding-bottom: 32px;
}
.services__heading {
  margin: 0;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  line-height: 1; /* 100% */
  text-transform: uppercase;
}