.show-more__title {
  font-family: $font-heading;
  color: $special_black;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

.show-more__slogan {
  color: $special-dark-grey;
  font-family: $font-body;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}

.show-more__button {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}
