.works-item {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  border: 1px solid #E5DDD5;
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.works-item--work-of-month {
  position: relative;
}


// ярлык "работа месяца"
.works-item--work-of-month::before,
.works-item--work-of-month::after {
  z-index: 2; // добавлю на всякий случай в учебном проекте при отключении этого свойсва псевдолемент уходит под фото  // разобраться почему у них уходит
  position: absolute;
  content: "работа месяца"; // задаю один текст обоим элементам что бы при увеличении контента они реагировали одинакого
  color: transparent; // задаю им прозрачный цвет , что бы потом переоределть в белый для одного ::after
  background-image: url("../../image/label.png"); // использую png так как svg невозможно ратянуть на бекграунд
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 100% 100%; //  растягиваю бекграунд
  top: 401px;
  left: -1px; // граница бока поджимает внутрь на толщину границы элемент и отностилено фото виден зазор в 1px в прилегании к левому краю потому что у .works-item__image-wrapper {magin: -1px;}
  width: 176px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 18px;
  padding-right: 30px;
  display: grid;
  align-items: center;


  font-size: 20px;
  font-weight: 700;
  line-height: 27px; /* 135% */
  text-transform: uppercase;
  @media (min-width: $tablet-width) {
    top: 35px;
  }
  @media (min-width: $desktop-width) {
    top: 26px;
    left: auto;
    right: 0;
    transform: rotate(180deg); // переворачиваем ярлык (лейбл) для обоих а для ::after отменим переворот
  }

}

.works-item--work-of-month::after {
  background-color: transparent;
  background-image: none;
  color: #ffffff;
  z-index: 3;

  @media (min-width: $desktop-width) {
    transform: rotate(0deg); // отменяем переворот иначе буквы на ярлыке перевернуться тоже
    text-align: right;
    padding-right: 20px;
  }
}


.works-item__image-wrapper {
  margin: -1px;  // тем самым фото перекрывет границу всего блока в 1рх, дальше в перестроении в планшетную версию у нас не возникнет проблем
}

.works-item__image {
  display: block;
}

.works-item__review {
  padding-bottom: 32px;
  padding-right: 23px;
  padding-left: 23px;
  @media (min-width: $tablet-width) {
    padding-bottom: 42px;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
  }
  @media (min-width: $desktop-width) {
    padding-bottom: 32px;
  }
}

.works-item__title {
  margin: 0;
  padding: 24px 0 26px;
  color: $black;
  font-size: 24px;
  font-weight: 700;
  line-height: 27px; /* 112.5% */
}

.works-item__text {
  margin: 0;
  margin-bottom: 24px;
  padding: 0;
  text-align: left;
  color: $black;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px; /* 150% */
}

.works-item__parameter-list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 20px;
  color: $black;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px; /* 168.75% */
}

.works-item__parameter-item {
  padding-left: 45px;
  position: relative;
  &::before {
    position: absolute;
    content: "";
    width: 45px;
    left: -10px;
    top: 0;
    bottom: 0;
    background-position: center;
    background-repeat: no-repeat;
  }

  &--haircut::before {
    background-image: url("../../image/icon/scissors-icon.svg");
    background-size: 21px 20px;
  }

  &--shaving::before {
    background-image: url("../../image/icon/beard-icon.svg");
    background-size: 23px 21px;
  }

  &--moustache::before {
    background-image: url("../../image/icon/moustache-icon.svg");
    background-size: 45px 12px;
  }
}