
.works {
  padding-bottom: 34px;
  position: relative;
  @media (min-width: $tablet-width) {
    padding-bottom: 40px;
  }
  @media (min-width: $desktop-width) {
    padding-bottom: 90px;
  }
 
}

.works__list {
  padding: 0;
  list-style-type: none;
}
