@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;

  src: url("../fonts/pt-sans-regular.woff2") format(woff2);
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;

  src: url("../fonts/pt-sans-bold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight:400;
  src: url("../fonts/pt-sans-italic.woff2") format(woff2);
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 700;

  src: url("../fonts/pt-sans-bold-italic.woff2") format(woff2);
  font-display: swap;
}

/*PT Sans Narrow*/

@font-face {
  font-family: "PT Sans Narrow";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/pt-sans-narrow-bold.woff2") format(woff2);
  font-display: swap;
}


html {
  height: 100%;

}


body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  background-color: #FBF7F4;
  color: #242424;

 
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: inline-block;
  padding: 14px 20px; 
  color: #FFFFFF;
  border: none;
  background-color: #000000;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  box-sizing: border-box;
}

.button-feedback {
  background-color: #FFFFFF;
  color: #242424;
}


.button + .button {
  margin-left: 16px;
}

.button:hover,
.footer-social-link:hover  {
  background-color: #814B18;
}

.button-feedback:hover {
  color: #FFFFFF;
  background-color: #DBB590;
}

.button:focus,
.footer-social-link:focus {
  background-color: #814B18;
  outline: 2px solid #DBB590;
}

.button-feedback:focus {

  background-color: #DBB590;
  outline: 2px solid #AF7842;
}


.page-header {
  background-color: #000000;
  color: #FFFFFF;

}

.navigation {
  display: flex;
  width: 940px;
  margin: 0 auto;


}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 430px;
  list-style-type: none;
}

.navigation-link {
  position: relative;
  padding: 24px 20px;
  display: block;
  color: inherit;
  text-decoration: none;
  font-family: PT Sans Narrow, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 22px;
  text-align: center;
}

.navigation-link:hover {
  background-color: #595959;
}

.navigation-link:focus {
  box-shadow: inset 0 0 0 4px #E7E7E7;
  outline: none;
}

.navigation-user {
  width: 250px;
  margin-left: auto;
}

.navigation-user .navigation-link {
  min-width: 16px;
  min-height: 22px;
}

.navigation-icon {
  fill: #BDBDBD;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  fill: #BDBDBD;
}

.navigation-link:hover .navigation-icon {
  fill: #242424;
}

.navigation-link:focus .navigation-icon {
  fill: #DBDBDB;
}

.navigation-link-login {
  padding-left: 44px;
}

.navigation-link-login .navigation-icon {
  left: 20px;
  right: auto;
  margin: auto 0;
}

.navigation-link-login:hover .navigation-icon {
  fill: #FFFFFF;
}
/* main */

.main-container {
  flex-grow: 1;
  padding-bottom: 61px;
  padding-top: 64px;
}

.main-index {

  background-color: #000000;
  color: #FFFFFF;
  background-image: url("../images/index-bg.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.page-container{
  width: 940px;
  margin: 0 auto;
}

.logo {
  display: block;
  margin: 0 auto;
}



.advantages {
  margin-bottom: 58px;

}

.advatages-list {
  display: flex;
  justify-content: space-between;
  text-align: center;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages-item {
  width: 277px
}

.advantages-title {
  position: relative;
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 32px;
  line-height: 35px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 56px
}

.advantages-title::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: #FFFFFF;
  left: 50%;
  bottom: -34px;
  margin-left: -6px;
  transform: rotate(45deg);
}

.advantages-description {
  margin: 0;
}

.index-columns {
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
  color: #242424;
  background-color: #FBF7F4;
  background-image: url("../images/noisy-80x80.svg");
  background-repeat: repeat;
  margin-bottom: 31px;
  padding: 40px;
  position: relative;
}

.index-columns:last-child {
  margin-bottom: 0;
}

.index-columns::after {
  content: "";
  position: absolute;
  top: 40px;
  bottom: 40px;
  width: 0;
  border-right: 1px dashed #595959;
}

.index-columns:first-of-type::after {
  left: 470px;
}

.index-columns:last-of-type::after {
  left: 430px;
}

.services {
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  width: 390px;

}

.services-title {
  font-size: 32px;
  line-height: 35px;
  margin-top: 0;
  margin-bottom: 28px;

}

.services-list {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  list-style-type: none;
  font-size: 20px;
  line-height: 28px;
}

.services-item {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 22px;
}

.services-item::before {
  content: "";
  margin:0 16px;
  order: 2;
  flex-grow: 1;
  border-bottom: 2px dotted #595959;
}

.services-prise {
  color:#AF7842;
  order: 3;
}

.button-all {
  padding-right: 44px;
  background-image: url("../images/arrow-right.svg");
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: center right 20px;
}

/* gallery */

.gallery {
  width: 390px;
}

.gallery-title {
  margin-top: 0;
  margin-bottom: 20px;
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 35px;
  text-transform: uppercase;
}

.slider-wrapper {
  position: relative;
}

.slider-image {
  display: block;
}

.slider-controls {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.slider-button {
  width: 48px;
  height: 60px;
  color: #ffffff;
  background-color: #000000;
  border: none;
  cursor: pointer;
  background-image: url("../images/arrow-right.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.slider-prev {
  transform: rotate(180deg);
}

.slider-button:hover {
  background-color: #814B18;
}

.slider-button:focus {
  background-color: #814B18;
  outline: 2px solid #DBB590;
}

.slider-pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.slider-pagination-item {
  margin: 0 4px;
}

.slider-pagination-button {
  padding: 0;
  margin: 0;
  border: none;
  width: 8px;
  height: 8px;
  background-color: #BDBDBD;
  border-radius: 50%;
  cursor: pointer;
}

.slider-pagination-button-current {
  background-color: #242424;
}

.slider-pagination-button:hover:not(.slider-pagination-button-current) {
  background-color: #814b18;
}

.slider-pagination-button:focus:not(.slider-pagination-button-current) {
  background-color: #814b18;
  outline: none;
}

/* CONTACTS */

.contacts {
  width: 350px;
  font-weight: 700;

  
}

.contacts-title {
  margin-top: 0;
  margin-bottom: 24px;
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 32px;
  line-height: 35px;
  text-transform: uppercase;
}
.contacts-subtitle {
  font-family: "PT Sans Narrow", sans-serif;
  margin-top: 22px;
  margin-bottom: 8px;

  color: #AF7842;
  font-size: 20px;
  line-height: 28px;
  text-transform: uppercase;

}
.contacts-address {
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 22px;
}

.contacts-address-text {
  margin: 8px 0;
}

.contacs-phone {
  
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 24px;
  line-height: 29px;
  color: #242424;
  
}

.contacts-schedule {
  margin: 8px 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  list-style-type: none;
  padding-left: 0;

}

.contacts-navigation {
  margin-top: 21px;
  margin-bottom: 0;
}
.button-feedback {
  background-color: #FFFFFF;
  color: #242424;
}


/* APOINTMENT */

.appointment {
  width: 430px;
}

.appointment-title {
  margin-top: 0;
  margin-bottom: 20px;
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 35px;
  text-transform: uppercase;
}

.appointment-description {
  font-size: 14px;
  line-height: 20px;
  color: #595959;
}

.appointment-form {
  font-size: 16px;
  line-height: 24px;

  display: grid;
  grid-template-columns: 114px 74px 208px;
  gap: 15px;
}

.field-group {
  margin: 0;
  display: flex;
  flex-direction: column;
  
}

.appointment-form-name {
  grid-column: 1 / -1;
}

.appointment-submit {
  grid-column: 1 / -1;
  justify-self: start;
  margin-top: 9px;
}

.form-label {
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 8px;
  font-family: inherit;
}

.form-label-icon {
  padding-right: 20px;
  position: relative;
}

.info {
  position: absolute;
  width: 16px;
  height: 16px;
  padding: 0;
  margin-top: 4px;
  margin-left: 2px;
  background-color: transparent;
  background-image: url("../images/info.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
}

.field {
  margin: 0;
  border: 2px solid #242424;
  box-sizing: border-box;
  padding: 8px 14px;
  font-family: inherit;
  font-weight: 700;
  background-color: #ffffff;
  font-size: 16px;
  line-height: 24px;
  color: #BDBDBD;
  cursor: pointer;
}

.field:hover,
.field:focus {
  border: 2px solid #AF7842;
}

.field:focus {
  outline: 2px solid #DBB590;
}

.field:disabled,
.field:disabled:hover {
  color: #595959;
  background-color: #E7E7E7;
  border-color: #595959;
}

.field:invalid {
  box-shadow: none;
  
}

.field:focus:invalid {
  border-color: #EA5454;
}

.field::placeholder {
  color: #BDBDBD;
  opacity: 1; /* непонятно зачем */
}

/* footer */

.page-footer {

  color: #FFFFFF;
  background-color: #242424;
  background-image: url("../images/noisy-80x80.svg");
  background-repeat: repeat;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;

}

.page-footer-container {
  padding: 40px 0;
  width: 940px;
  margin: 0 auto;
  display: flex;
}

.footer-contacts {
  font-style: normal;
  width: 200px;
  margin-right: 130px;
}

.footer-contacts-logo {
  display: block;
  margin-bottom: 24px;
}

.footer-about-text {
  margin-top: 24px;
  margin-bottom: 4px;
}

.footer-contacts-address {
  margin-bottom: 16px;
  font-style: normal;
}

.page-footer a{
  color: inherit;
}



.footer-contacts-address-phone{
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  text-transform: uppercase;
  text-decoration: underline;
}

.footer-cotacts-map-link{
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
  text-decoration: underline;
}

.page-footer-title{
  margin-top: 0;
  margin-bottom: 14px;
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  text-transform: uppercase;
}

.footer-newsletter {
  width: 280px;
}

.newsletter-form {
  display: flex;
}

.newsletter-button {
  width: 56px;
  height: 44px;
  background-image: url("../images/arrow-tail-right.svg");
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: center;
}


.footer-social {
  max-width: 190px;
  margin-left: auto;
}

.footer-social p{
  margin: 0;
}

.page-footer .htmlacademy-link{
  color: #DBB590;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  list-style-type: none;
}

.footer-social-item {
  width: 56px;
  height: 44px;
  margin-right: 8px;
  margin-bottom: 8px;
  outline-offset: -2px;
}

.footer-social-item:nth-child(3n) {
  margin-right: 0;
}

.footer-social-link {
  display: block;
  height: 44px;
  background-size: 16px 16px;
  background-position: center;
  background-color: #000000;
  background-repeat: no-repeat; 
}


.footer-social-link-tw {
  background-image: url("../images/twitter.svg");
}

.footer-social-link-vk {
  background-image: url("../images/vkontacte.svg");
}

.footer-social-link-inst {
  background-image: url("../images/insta.svg");
}


/*<<<<<<<<<<<<<<<<<<<<<<<                                    стилизация каталога                               >>>>>>>>>>>>>>>>>>>>>>> */


.navigation-logo {
  display: flex;
  width: 140px;
  align-items: center;
  margin-right: 100px;
}

.navigator-link-current {
  position: relative;
}
.navigation-link-current:after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 4px;
  right: 20px;
  left: 20px;
  background-color: #FFFFFF;
}

/* перенес сюда раздел майн-иннер что бы не 
путаться сюда где вся стилизация каталога
раньше он был рядом с майн индекс */
.main-inner{
  flex-grow: 1;    /* для патерна "sticky footer"*/
  padding-top: 40px;
  color: #242424;
  background-color: #FBF7F4;
  background-image: url("../images/noisy-80x80.svg");
  background-repeat: repeat;
}

.inner-header-title {
  margin-top: 0;
  margin-bottom: 16px;
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 35px;
  text-transform: uppercase;
  color: #242424;


}

.breadcrumbs {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
  
}

.breadcrumbs-item{
  margin-right: 32px;
  position: relative;
}

.breadcrumbs-item::after {
  content: "";
  background-color: #242424;
  position: absolute;
  width: 8px;
  height: 8px;
  right: -20px;
  top: 6px;
  transform: rotate(45deg);
}

.breadcrumbs-item:last-child::after {
  content: none;
}

.breadcrumbs-link{
  
  font-size: 16px;
  line-height: 22px;
  color: #242424; 
}

.breadcrumbs-link-current{
  color:#595959;
}

.catalog-products {
  display: flex;
}
.catalog-filter {
  width: 220px;
  margin-right: 20px;
}

.catalog-filter-title{
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 20px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;

}

.control-label{
  font-weight: 700;
  line-height: 22px;
}

.catalog-right-column {
  width: 700px;
}

/* SORTING */

.sorting-container{
  margin-bottom: 16px;
  padding: 16px;
  display: flex;
  color: #242424;
  background-color: #FFFFFF;
}

.sorting-type {
  margin-right: auto;
}
.card-grid-togle {
  width: 56px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
}

.card-grid-togle:hover {
  background-color: #814B18;
}

.card-grid-togle:focus {
  outline: 2px solid #DBB590;
  background-color: #AF7842;
}

.card-grid-togle svg {
  fill: #FFFFFF;
}

.card-grid-togle:hover svg,
.card-grid-togle:focus svg {
  fill: #FFFFFF;
}

.card-grid-togle-current {
  background-color: #FFFFFF;
}
.card-grid-togle-current svg {
  fill: #242424;
}

/*Стилизация карточек продукта*/

.product-list {
  list-style-type: none;
  padding: 0; 
  margin: 0;
  margin-bottom: 24px;

  display: grid;
  grid-template-columns: repeat(3, 220px);
  gap: 20px;

  
}

.product-card{
  background-color: #FFFFFF;
  display: grid;
  grid-template-columns: 16px 188px 16px;
  grid-template-rows: 200px min-content auto min-content 16px;
  
}

.product-card-image-link {
  grid-column: 1 / -1;
  background-color: #F7F7F7;
}

.product-card-title-link,
.product-card-price,
.product-card-button {
  grid-column: 2 / 3;
}

.product-card-title-link {
  margin-top: 16px;
  margin-bottom: 8px;
}

.product-card-title{
  font-weight: 700;
  color: #000000;
}

.product-card-price{
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  color:#814B18;
  margin-bottom: 16px;
}

/* pagination*/

.pagination-container {
  display: flex;
  padding: 16px;
}

.pagination{
  margin: 0;
  padding: 0;
  display: flex;
  background-color: #FFFFFF;
  list-style-type: none;
}

.pagination-item:not(last-child) {
  margin-right: 8px;

}

.pagination-link{
  display: block;
  box-sizing: border-box;
  width: 50px;
  height: 44px;
  padding: 14px 20px;

  line-height: 16px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #000000;
  text-decoration: none;
}


.pagination-link:hover {
  background-color: #814B18;
}

.pagination-link:focus {
  outline: 2px solid #DBB590;
  background-color: #AF7842;
}

.pagination-current{
  background-color: #FFFFFF;
  color: #242424;
}

.pagination-disabled{
  background-image: url("../images/arrow-left.svg");
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: center;
  background-color: #595959;
}

.pagination-next {
  background-image: url("../images/arrow-right.svg");
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: center;
}

.pagination-show-more {
  margin-left: auto;
}

