.addition-product__heading {
  font-family: $font-heading;
  color: $black;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
}

.addition-product__list {
  list-style-type: none;
}

.addition-product__title {
  font-family: $font-heading;
  color: $special-dark-grey-2;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
}

.addition-product__quantity,
.addition-product__price {
  color: $special-dark-grey;
  font-family: $font-body;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
}

