.addition-product__heading {
  color: $black;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
}

.addition-product__list {
  list-style-type: none;
}

.addition-product__title {
  color: $special-dark-grey-2;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
}
