.button {
  text-decoration: none;
  text-transform: uppercase;
}

.button--secondary {
  color: $white;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  background-color: $basic-green;
}
