.catalog-additional__container {
  padding-top: 25px;
  padding-bottom: 35px;
  @media (min-width: $tablet-width) {
    padding-top: 68px;
    padding-bottom: 69px;
  }
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr auto; // разделяем блок, что бы справа поставить .catalog-addition__promo
    gap: 80px; // __promo находиться в последнем столбце сетки в фигме первые три занимает catalog-aditional__list
    padding-top: 75px;
    padding-bottom: 86px;
  }
}
.catalog-additional__heading {
  margin: 0;
  margin-bottom: 36px;
  color: $black;
  font-family: $font-heading;
  font-size: 24px;
  font-weight: 400;
  line-height: 1; /* 100% */
  @media (min-width: $tablet-width) {
    font-size:  36px;
  }
  @media (min-width: $desktop-width) {
    grid-column: 1 / -1;
  }

  span {
    position: relative; // только для z-index что бы сделать выше before (зеленая линия )
    z-index: 1;
    background-color: $white;
    width: max-content;
    padding-left: 22px;
    padding-right: 22px;
    margin-left: -22px;
    display: flex; // после этого бек становиться белым у блока а не у текста (до этого текст залезал своим беком на другой текст выше)
    @media (min-width: $tablet-width) {
      padding-left: 40px;
      padding-right: 40px;
      margin-right: -40px;
    }
  }
}

.catalog-additional__heading::before { // тут именно только before, только тогда этот элемент встанет у самой верхней граници в отличии от after!!! потомучто первый родитель не является position: relative; и позиционировать от верха будем зачет margin-top; оно сместит на определенное количество пикселей вниз отностиельно верхней границы field-group__heading
  position: absolute; // ни у одного его родителя нет позиии отличающейся от static поэтому возможно элементы тянуться до границ html
  content: "";
  height: 2px;
  left: 0;
  right: 0;
  margin-top: 16px;
  background-color: $color-primary;
  @media (min-width: $tablet-width) {
    margin-top: 22px;
  }
}

.catalog-additional__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 35px;
  @media (min-width: $tablet-width) {
    margin-bottom: 69px;
  }
  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}
