.catalog-list__container {
  @media (max-width: $mobile-width-only) {
    padding: 27px 0 19px;
  }
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 80px;
    row-gap: 62px;
  }
}

.catalog-list__item {
  @media (max-width: $mobile-width-only) {
    margin-right: -21px;
    margin-left: -21px;
    border: 1px solid $special_grey-2;
    border-top: none;
    &:first-of-type { // первому элементу с классом catalog-list__item (и только с таким классом другие не в счет) рисукм верхнюю границу
      border-top: 1px solid $special-grey-2;
    }
  }

}
