.catalog-sections {
  color: $black;
  font-weight: 400;
  text-align: left;
  padding: 20px;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 82px 110px 0;
  }
}

.catalog-sections__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  row-gap: 20px;

  @media (min-width: $tablet-width) {
    row-gap: 30px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 570px 570px;
    column-gap: 80px;
  }
}

.catalog-sections__item {
  background-color: $basic_grey;
}


.catalog-sections__heading {
  margin: 0;
  padding-bottom: 7px;
  font-family: $font-heading;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
}

.catalog-sections__description {
  margin: 0;
  margin-right: 33px;
  margin-left: 20px;
  padding: 22px 0;
  font-family: $font-heading;
  font-size: 14px;
  line-height: 18px;
  border-bottom: 1px solid $special_grey-4;
}


.catalog-sections__link {
  display: block;
  padding: 15px 19px 0;
  font-family: $font-heading;
  color: $black;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
}
