.content-text {
  color: $special_dark-grey;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  font-family: $font-heading;

  &-address{
    line-height: 20px;
  }

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }
}