// не забыть добавить @import этого файла в style.scss 
// контейнер универсальный блок будем замиксовываить его к похожим друг на друга по оюерткам элементам 

.container {
  width: 280px; // ширина контейнера 320px - 2*20px (отступы справа и слева)
  margin-right: auto; // задаем по отдельности что бы не затрагивать вертикальные марджины  
  margin-left: auto; // центрируем этими двумя правилами внутри родительского блока (в данном случае .promo и не только в нем)
  
  @media (min-width: $tablet-width) {
    width: 708px // ширина контейнера 768px - 2*30px (отступы справа и слева)
  }

  @media (min-width: $desktop-width) {
    width: 1220px // ширина контейнера 1440px - 2*110px (отступы справа и слева)
  }
}

