
.control {
  display: grid;
  grid-template-columns: 30px 1fr;
  gap: 15px;
  font-family: $font-heading;
  color: $special-dark-grey-2;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  cursor: pointer;
}

.control--disabled,
.control:disabled {
  opacity: 0.3;
  pointer-events: none;
}


.control__lead,
.control__input {
  font-family: $font-heading;
  color: $special-dark-grey;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }
}

.control__input {
  z-index: 1; // добавлено что бы поднять наверх относительно декоративных элементов для прямого взоимодействия
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  width: 30px;
  height: 30px;
  margin: 0;
  opacity: 0; // скрыто прозрачностью

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
  }
}

.control__lead {
  grid-column: 1 / -1;
  grid-row: 1 / 2;

  display: grid;
  grid-template-columns: 30px 1fr;
  gap: 15px;
  align-items: center;

  @media (min-width: $tablet-width) {
    grid-template-columns: 40px 1fr;
    gap: 20px;
  }

  &::before {
    border: 1px solid $special_grey;
  }

  &::before,
  &::after {
    margin: auto;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    content: "";
    width: 30px;
    height: 30px;

    @media (min-width: $tablet-width) {
      width: 40px;
      height: 40px;
    }
  }
}

.control--radio .control__lead::before,
.control--radio .control__lead::after {
  border-radius: 50%;
}

.control--radio .control__input:checked + .control__lead::after {
  width: 14px;
  height: 14px;
  background-color: $color-primary;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    width: 18px;
    height: 18px;
  }
}


.control--checkbox .control__input:checked + .control__lead::after {
  width: 26px;
  height: 26px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-image: url("../img/icons/check-mark.svg");

  @media (min-width: $tablet-width) {
    background-size: 26px 26px;
  }
}

.control--checkbox .control__lead {
  color: $black;
}

.control:hover .control__lead::before {
  border: 1px solid $special_grey-1;
}

.control:focus-within .control__lead::before {
  outline: 2px solid $special_dark-grey;
}
