.developer {
  letter-spacing: 0.01em;
  color: $special-dark-grey;
  font-family: $font-body;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr auto;
}

.developer__logo {
  color: $special_grey-3; // перевел цвета svg fill и stroke на currentColor и теперь можно управлять через color: (причем у одних иконок это fill a у других это stroke
}

.developer:hover .developer__logo {
  color: $color-primary;
}

.developer:active {
  opacity: 0.3;
}
