.example {
  background-color: $special_grey-6;
  padding: 25px 20px 40px;

  @media (min-width: $tablet-width) {
    padding: 43px 30px 55px;
    background-color: $white;
  }

  @media (min-width: $desktop-width) {
    padding: 26px 0 65px;
  }

}

.example__heading {
  margin-top: 0;
  margin-bottom: 40px;


  @media (min-width: $desktop-width) {
    background-color: $white;
    padding: 0 110px;
  }
}


.example__content-wrapper {
  @media (min-width: $desktop-width) {
    background-color: $basic_grey;
    padding: 0 110px;
  }
}

.example__termin {
  color: $special-dark-grey;
  font-family: $font-body;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
}

.example__description-termin {
  font-family: $font-heading;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
}

.example__price-total {
  margin-top: 0;
  margin-bottom: 40px;
  font-family: $font-heading;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

.example__images {
  margin-bottom: 15px;
}

.example__toggle {
  font-family: $font-heading;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}
