.field-group {
  margin: 0;
  @media (max-width: $mobile-width-only) {
    padding: 24px 20px;
    position: relative;
    border: none;
    border-bottom: 1px solid $special_grey-4;
    &--contacts,
    &--comment,
    &--additional {
      border: none;
      padding-bottom: 0;
    }
  }
}

.field-group__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  gap: 14px;
  @media (min-width: $tablet-width) {
    padding-left: 40px;
    padding-right: 40px;
  }
  &--radio {
    gap: 13px;
  }
  &--checkbox {
    @media (min-width: $tablet-width) {
      grid-template-columns: 1fr 1fr; 
      row-gap: 32px;
      column-gap: 60px;
    }
  }
}

.field-group__lead,
.field-group__input {
  font-family: $font-heading;
  color: $special-dark-grey;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

.field-group__input::placeholder {
  color: $special-dark-grey;
}

.field-group__lead--radio {
  color: $special_dark-grey-2;
}

.field-group__heading {
  display: block; // так как это теги span и у них display: inline; и отступы работают не как в блочной модели
  margin-bottom: 35px;
  font-family: $font-heading;
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
  @media (min-width: $tablet-width) {
    width: max-content;
    padding-left: 40px;
    padding-right: 40px;
  }
}
