.field {
  display: grid;
  grid-template-columns: max-content 1fr;
  align-items: center;
  gap: 12px;

  @media (min-width: $tablet-width) {
    gap: 18px;
  }



  &--textarea {
    grid-template-columns: auto;
  }
  &--email,
  &--telephone {
    position: relative;
    svg {
      position: absolute;
      right: 15px;
      color:  $special_dark-grey-2
    }
  }
}

.field__lead,
.field__input {
  font-family: $font-heading;
  color: $special-dark-grey;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  text-transform: uppercase;
  @media (min-width: $tablet-width) {
    font-size: 20px;
  }
}

.field__input {
  width: 100%; //при родителе display: grid инпут займет всю ширины ячейки в сетке
  padding-top: 9px;
  padding-bottom: 10px;
  padding-left: 14px;
  padding-right: 14px;
  border: 1px solid #e7e7e7;
  @media (min-width: $tablet-width) {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 19px;
    padding-left: 19px;
  }
}

.field__input { // отступы для изображения на полях вводf? что бы текст не надезал на иконки
  &--bg-image {
  padding-right: 50px;
  }
}

.field:hover {  
  .field__input {
      border-color: $special_grey;
    }
}

//подсвечиваем иконки зеленым при фокусе на инпуте
.field--email:focus-within {
  svg {
    color: $color-primary;
  }
}

.field--telephone:focus-within {
  svg {
    color: $color-primary;
  }
}

.field__input:focus,
.field__input:focus-visible {
  outline: none;
  outline: 2px solid $special_dark-grey;
}


.field--error .field__input {
  outline: 2px solid $status_error;
}

.field--email.field--error svg {
  stroke: $status_error;
}

.field--telephone.field--error svg {
  fill: $status_error;
}


.field textarea {
  line-height: 2;
  height: 153px;
  padding-top: 4px;
  padding-right: 12px;
  resize: none; // убираем уголок в правом нижнем углу отвечающий за изменение пользователем размера textarea

  @media (min-width: $tablet-width) {
    height: 175px;
  }
}