.logo { //yужно не забыть добавить строку c @import "blocks/logo.scss"; в style.scss
  display: grid; // тип блока грид, можно прописывать ширины стобцов. 
  grid-template-columns: 34px 1fr; // Тем самым мы задали сетку о которой говорили в элементе .page-header__bar, но уже внутри блока logo.
  align-items: center; // также выравнивание элементов по вертикали по центру но уже внутри .page-header__logo
  gap: 16px; // задаем такойже гэп что бы сетка блока лого точно легла на сетку родителя .page-header__bar
}

.logo__sign {
  justify-self: center; // центруем по горизонтали логотип в виде шрифта
}