.main-nav {
  font-family: $font-heading;
  font-weight: 500;
  background-color: $white;
  color: $black;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style-type: none;


}

.main-nav__link {
  text-decoration: none;
  color: $black;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  text-transform: uppercase;
}
