.main-nav {
  font-family: $oswald;
  font-weight: 500;
  background-color: $white;
  color: $black;
  text-align: center;
}

.main-nav__list {
  list-style-type: none;
}

.main-nav__link {
  text-decoration: none;
  color: $black;
}
