.offer {
  min-height: 290px;
  background-color: $basic_green-2;
  background-repeat: no-repeat;
  background-position: 0 100%; //Позиция изображения левый край изображения от левого края блока и нижний край изображения от нижнего края блока
  background-image: url(""); /// добавить картинку

  //////////////////////////////////////////////доделать блок offer
  /// /////////////////////////////////////////////////////
  /// //////////////////////////////////////////////////////////
}


.offer__text {
  line-height: 20px;
}
