// этот юлок стилизуем после блока page
// сам тег header имеет свойство display: block; и па ширине равен body, a body по ширине равен html, а html по ширине равен ширине вьюпорта ИТОГО  <header>...</header> (он же класс .page-header) по ширине равен ширине вьпорта. Это нас устраивает и смысла стилизовать хеадер нет. поэтому начнем сразу с page-header__nav   

.page-header__nav {
  @media (max-width: $mobile-width-only) { // только для мобильной версии (для ширины меньше 767px) 
    border-bottom: 1px solid $special_grey-5; // добавляет нижнюю границу серым для навигаации такие же граница для элементов списка навигации потом сделаем в вверху в топе
  }

  // при не заданной ширине .page-header__nav занимает всю ширину  <header>, а также <body> , а также <html> , а также вьюпорта и это нас устраивает, но только для мобильной версии. а для плоншетов и шире добавим следующее:
  @media (min-width: $tablet-width) {
    width: 708px; // так как page-header__nav меньше <header>, а также <body> , а также <html> , а также вьюпорта на два отпупа по 30px расчет: (768px - 2*30px)
    margin: 0 auto; // это правило будет центровать по горизонтали page-header__nav относительно  <header>, а также <body> , а также <html> , а также вьюпорта при ширине экрана больше 768px
  }

}

