.page-header {
  @media (min-width: $desktop-width) {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      z-index: -2;
      top: 0;
      left: 50%;
      right: 0;
      bottom: 0;
      // background-color: rgba(104, 183, 56, 0.85);
    }
  }
}

.page-header__logo {
  grid-column-start: 1; // использую такую форму правил  потому, что sass поймет к примеру grid-colomn: 1 / 3; как арифметические действия и в css пойдет не правильное выражение grid-column: 0.33333... наверно но попрововал оказалось в css идет grid-column: 1/3; правильно.
  grid-column-end: 3; // этими двумя правилами мы расположили лого в первых двух столбцах из трех слобцов в page-header__nav;
  // также нам надо будет построить похожую сетку в блоке logo но только на два столбца (это мы сделаем в файле logo.scss)
}
