.page-header__wrapper {
  outline: 5px solid rgba(255, 0, 0, 0.8);
  outline-offset: -3px;
  width: 280px;
  margin: 0 auto;
  display: grid;
  place-content: center;

  position: relative;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 174px 1fr;
    column-gap: 93px;
    width: $tablet-width;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
    grid-template-columns: 202px 1fr;
    column-gap: 538px;
  }
}





.page-header__logo {
  outline: 5px solid rgba(0, 255, 0, 0.8);
  outline-offset: -3px;
  height: 66px;
}


.page-header__logo-image {
  position: absolute;
  top: 10px;
  left: 0;
}

