.page-main__header {
  padding: 28px 0 40px;
}

.page-main__heading {
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  font-family: $font-heading;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    font-size: 60px;
    line-height: 60px;
  }
}