.process {
  background-color: $white;
  padding: 0 20px 29px;

  @media (min-width: $tablet-width) {
    padding: 45px 30px 47px;
  }

  @media (min-width: $desktop-width) {
    padding: 71px 110px 0;
  }
}

.process__heading {
  margin-top: 0;
  margin-bottom: 40px;
}

.process__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  color: $special_dark-grey;
  
  @media (min-width: $tablet-width) {
    display:  grid;
    grid-template-columns: 230px 230px;
    column-gap: 154px;
    row-gap: 37px;

  }

    
  @media (min-width: $desktop-width) {
    grid-template-columns: auto auto auto auto;
    column-gap: 80px;
  }
}

.process__item {
  margin-top: 0;
  margin-bottom: 20px;
}

.process__text {
  margin: 0;
  font-family: $font-body;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}
