.process {
  background-color: $white;
}

.process__heading {
  font-family: $font-heading;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
}

.process__list {
  list-style-type: none;
  color: $special_dark-grey;
}

.process__text {
  font-family: $font-body;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}
