.promo {
  padding-top: 8px; // подогнал исходя из картинки бекграунда пользуясь инструментами разработчика в браузере
  text-align: center;
  @media (max-width: $mobile-width-only) {
    color: $white; // в мобильной версии цвет всего текста белый
    background-color: $color-primary; // цвет фона подбираем совпадаюштй с преимущественным цветом фонового изображения
    background-image: linear-gradient(to bottom, rgba(104, 183, 56, 0.85) 0px, rgba(104, 183, 56, 0.85) 302px, #ffffff 302px), // маска из прозрачного цвета сврху вниз(to bottom - к низу) стартуем зеленым на 0px заканчиваем имже на 302px (связано с высотой фонового изображения) далее до конца блока вниз белый с 302px
                      url("../../img/background/index-background-@x1.jpg"); // подложеное изображение под маску
    background-position: 50% 0; // расположение фонового изображения по Х(горизонтали) Х=50% т.е. по центру блока, по У (вертикали) У=0 то есть прикрепить к верхней границе блока
    background-repeat: no-repeat;
  }

  @media (min-width: $tablet-width) {
    color: $black; // для планшетов: цвет текста черный,
    background-image: none; // изображения нет,
    background-color: transparent; // фон прозрачный
    text-align: left; // выравнивание текста по левому краю
  }

  @media (min-width: $desktop-width) { // фоновое изображение выходит за рамки блока - делаем псевдо элемент и задаем ему наш фон
    position: relative; // теперь мы сможем позиционировать относительно нашего блока псевдоэлемент
    &::after {
      content: "";
      position: absolute; // для поизиционирования относительно родителя (.promo)
      top: -200px; //вехняя граница выше верхней границы родителя на 200px
      right: 0; // по правой границе родителя
      bottom: 0; // по нижней границе родителя
      left: 50%; // от середины блока родителя по горизонтали
      z-index: -2; // Иначе псевдоэлемент перекрывает все блоки выше, но если поставить -1, то далее мы выводим из потока еще и .promo__image же уменьшаем z-index но оно должно быть выше этого псевдоэлемента (promo::after)

      background-repeat: no-repeat;
      background-position: 0 100%; //Позиция изображения левый край изображения от левого края блока и нижний край изображения от нижнего края блока
      background-image: linear-gradient(to bottom, rgba(104, 183, 56, 0.85) 0px, rgba(104, 183, 56, 0.85) 100%),
      url("../../img/background/index-background-720x694.jpg");
    }
  }
}

.promo__container { // eще этому элементу присвоен класc container, он выделен в отлельный блок так как есть уверенность что он будет повторяться в коде далее
  @media (min-width: $tablet-width) {
    position: relative; // для позиционирования промо-картинки
    padding: 0 90px 526px; // 90px отсупы справа и слева внутри блока по макету, 526px от кнопки (подобрать программу) вниз до конца блока
  }
  @media (min-width: $desktop-width) {
    min-height: 582px; // непонял откуда эта высота
    padding: 20px 610px 95px 80px; // 80px
  }
}

.promo__heading {  // слова: функциональное питание для котов....
  margin: 0;
  margin-bottom: 25px;
  font-size: 36px;
  line-height: 1;
  font-family: $font-heading;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    margin-bottom: 41px;
    font-size: 60px;
  }

}

.promo__text {
  margin-top: 0;
  margin-bottom: 29px;

  font-family: $font-heading;
  font-size: 14px;
  line-height: 1;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    margin-bottom: 49px;
  }
}

.promo__image {
  width: 280px;
  @media (min-width: $tablet-width) {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    width: 709px;
    height: 609px;
  }
  @media (min-width: $desktop-width) {
    top: 0;
    left: calc(50% - 162px); //Для десктопов левый край картинки залезает на первую половину страницы на 162px;
    width: 552px;
    height: 499px;
  }
}

.promo__button {
  width: 100%;
}
