.promo {
  padding-top: 8px; // подогнал исходя из картинки бекграунда пользуясь инструментами разработчика в браузере
  text-align: center;
  position: relative;

  &::before, // картинка бекграунда будет на before а зеленый фильтр будет на after 
  &::after { 
    z-index: -2; // Иначе псевдоэлемент перекрывает все блоки выше, но если поставить -1, то далее мы выводим из потока еще и .promo__image же уменьшаем z-index но оно должно быть выше этого псевдоэлемента (promo::after)
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 302px;
    @media (min-width: $tablet-width) { // в версии планшета нет бекграунда
      display: none;
    }
    @media (min-width: $desktop-width) {
      display: block;
      top: -200px; //вехняя граница выше верхней границы родителя на 200px
      right: 0; // по правой границе родителя
      bottom: 0; // по нижней границе родителя
      left: 50%; // от середины блока родителя по горизонтали
      height: 694px;
    }
  }

  &::before {
    background-color: $color-primary;
    background-size: 320px 302px;
    background-repeat: no-repeat;
    background-image: url("../../img/background/bg-promo-mobile.jpg");
    background-position: 50% 50%;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/background/bg-promo-mobile@2x.jpg");
    }

    @media (min-width: $desktop-width) {
      background-position: left 50%;
      background-size: 720px 694px;
      background-image: url("../../img/background/bg-promo-desktop.jpg");
      
      @media (min-resolution: 2dppx) {
        background-image: url("../../img/background/bg-promo-desktop@2x.jpg");
      }
    }

  }

  &::after {
    background-color: rgba(104, 183, 56, 0.85); // маска зеного цвета after находится над before так он ниже в коде
  }

  @media (max-width: $mobile-width-only) {
    color: $white; // в мобильной версии цвет всего текста белый
  }

  @media (min-width: $tablet-width) {
    color: $black; // для планшетов: цвет текста черный,
    background-image: none; // изображения нет,
    background-color: transparent; // фон прозрачный
    text-align: left; // выравнивание текста по левому краю
  }
}

.promo__container { // eще этому элементу присвоен класc container, он выделен в отлельный блок так как есть уверенность что он будет повторяться в коде далее
  @media (min-width: $tablet-width) {
    position: relative; // для позиционирования промо-картинки
    padding: 0 90px 526px; // 90px отсупы справа и слева внутри блока по макету, 526px от кнопки (подобрать программу) вниз до конца блока
  }
  @media (min-width: $desktop-width) {
    min-height: 582px; // непонял откуда эта высота
    padding: 20px 610px 95px 80px; // 80px
  }
}

.promo__heading {  // слова: функциональное питание для котов....
  margin: 0;
  margin-bottom: 25px;
  font-size: 36px;
  line-height: 1;
  font-family: $font-heading;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    margin-bottom: 41px;
    font-size: 60px;
  }

}

.promo__text {
  margin-top: 0;
  margin-bottom: 29px;

  font-family: $font-heading;
  font-size: 14px;
  line-height: 1;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    margin-bottom: 49px;
  }
}

.promo__image {
  width: 280px;
  @media (min-width: $tablet-width) {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    width: 709px;
    height: 609px;
  }
  @media (min-width: $desktop-width) {
    top: 0;
    left: calc(50% - 162px); //Для десктопов левый край картинки залезает на первую половину страницы на 162px;
    width: 552px;
    height: 499px;
  }
}

.promo__button {
  width: 100%;
}
