// site-menu являентся ребенком page-header__nav, но выделен в отдельный блок пэтому будем стилизовать все элементы в этом файле

.site-menu {
  margin: 0;
  padding: 0;
  list-style-type: none; // по тегу site-menu  является списком, избавляемся от отступов и меток присовоенных по умолчанию.


  @media (max-width: $mobile-width-only) {
    font-size: 20px; // в мобильной версии шрифт 20px жирность: 500,
    font-weight: 500; // в мобильной версии вес шрифта 500
    border-top: 1px solid $special_grey-5; // декоративные граница 1px серого цвета над меню (такие же будут под каждым пунктом меню) и такое только в мобильной версии
    text-align: center; // в мобильной версии пункты меню центрируются в своих полях
  }

  @media (min-width: $tablet-width) {
    font-size: 18px; // начиная с версии для планшетов и шире ширина 768px размер шрифта 18px
    line-height: 24px; /* 133.333% */
    display: flex; // начиная с версии для планшетов и шире пункты меню располагаются слева направо. Используем для этого флекс, так как спомощью флекса можно создать кирпичную кладку из пунктов меню если оно будет состоять из нескольких строк.
    flex-wrap: wrap;
    justify-content: flex-end; // теперь меню прижато к правому краю родителя page-header__nav
  }

  @media (min-width: $desktop-width) {
    margin-left: auto;
    width: 520px;
  }
}

.site-menu__item {
  @media (max-width: $mobile-width-only) {
    border-bottom: 1px solid $special_grey-5; // только в мобильной версии заданы нижние границы у пунктов меню. реализовал через обертки элементов списка
  }
}

.site-menu__item--active { // отмечае текущую(активную) страницу сайта подчеркиванием послокой снизу
  @media (min-width: $tablet-width) {
    position: relative; // задаем элементу списка что бы привязать к нему абсолютно спозиционированный псевдоэлемент

    &::after { // создаем псевдоэлемент выделяющей полоски под активным элементом site-menu
      position: absolute; //позиционируем абсолютно к ближайшему по родственникам с позицией relative активного элемента списка .site-menu__item--active
      bottom: 8px; // вниз от нижней границы .site-menu__item--active на 8px
      left: 18px; // эта величина завистит от паддингов которые мы задим позже непоредственно классу site-menu__link
      right: 18px; // эта величина завистит от паддингов которые мы задим позже непоредственно классу site-menu__link
      content: ""; // необходимое условие существоание псевдоэлемента
      height: 2px; // высота полоски
      background-color: $color-primary; // цвет полоски
    }
  }

  @media (min-width: $desktop-width) { // в версии для десктопа полоска из псевдоэлемента меняет цвет на белый
    &::after {
      background-color: $white;
    }
  }
}

.site-menu__link {
  background-color: $white;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  font-family: $font-heading; // шрифт пунктов меню Освальд используем переменную одержащию этот шрифт
  line-height: 1; // высота строки равна 1(то есть равна размеру шрифта)

  display: block; // для взаимодействия с падингами по умолчанию inline вроде и веритакальные не работают как надо
  padding: 22px 20px 24px; // верхний боковые нижний
  color: $black; // непосредствено задаем цвет ссылкам, из за юзер-агент они не наследуют его,
  text-decoration: none; // так же убираем подчеркивание по этой же причине
  &[href]:hover {
    background-color: $basic_grey;
  }

  &[href]:active {
    background-color: $special_grey-6;
  }

  @media (min-width: $tablet-width) { // при ширине для планшета и шире меняются расстояния между элемнтами
    padding: 17px; // растояние между элементами по горизонтали в среднем 34px делим его на два паддинга получаем 17px вертикальные тоже заодно задаем 17px
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;

    &[href]:hover {
      color: fade-out($black, 0.4); // 1 - opacity 0.6 = 0.7
    }

    &[href]:active { // далее для всех ширин нужно прописывать селектор по атрибуту
      color: fade-out($black, 0.7); // 1 - opacity 0.3 = 0.7
    }
  }

  @media (min-width: $desktop-width) {
    color: $white; // пункты меню для десктопа становяться белыми
    background-color: transparent;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    &:not([href]) {
      cursor: default;
    }

    &[href]:hover {
      color: fade-out($white, 0.4);
      background-color: transparent;
    }
    &[href]:active { // 
      color: fade-out($white, 0.7);
      background-color: transparent;
    }
  }
  &--catalog {
    color: #111111;
  }
}
