.social {
  margin-bottom: 19px;
  padding: 12px 12px; // не понятно почему 12рх
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    margin-bottom: -11px;
    margin-top: -11px;
    padding: 0;
  }
 
}

.social__item {
  margin: 0; // сделаем неюльшие отступы элементов друго от друга по горизонтали
}

.social__link {
  width: 53px;
  height: 40px;
  display: grid;
  place-content: center;
  color: $special_grey-3; // не понятно пока почему задается ссылкам цвет шрифта если будут участвовать иконки. теперь понятно. перевел цвета svg fill и stroke на currentColor и теперь можно управлять через color: (причем у одних иконок это fill a у других это stroke

  @media (min-width: $tablet-width) {
    width: 52px;
    height: 52px;
    svg {
      transform: scale(1.43);
    }
  }

  &:hover {
    color: $color-primary; // перевел цвета svg fill и stroke на currentColor и теперь можно управлять через color: (причем у одних иконок это fill a у других это stroke
  }

  &:active {
    color: fade-out($color-primary, 0.7);
  }
}
