.social {
  padding: 20px 12px; // не понятно почему 12рх
  display: flex;
  flex-wrap: wrap; // разрешаем занимать элементам несколко строк
  justify-content: center; // центрируем в данном случае по горизонтали
  list-style-type: none; // убираем признаки списка по умолчанию. Делаем это в этом файле что бы если мы и доавим еще куданибудь в новое место список соц сетей то значки списка уже будут отсутствовать
  @media (min-width: $tablet-width) {
    padding: 0; //теперь вертикальные паддинги для элемента social не нужны они будут за счет элемента page-footer
  }
}

.social__item {
  margin: 0 4px; // сделаем неюльшие отступы элементов друго от друга по горизонтали
  display: flex;
  align-items: center; // выровниваем элементы по вертикали
}

.social__link {
  display: block; // по умолчанию ссылки имеют  display: inline; но при таком не работают как надо вертикальные паддинги
  padding: 8px; //задаем рамку из падингов для увеличения зоны клика(возможно)
  color: $special_grey-3; // не понятно пока почему задается ссылкам цвет шрифта если будут участвовать иконки.
  width: 24px;
  height: 24px;
  background-color: red;
}
