.switcher {
  display: grid;
  grid-template-columns: 49px 1fr 49px;
  gap: 13px;
  padding: 0 35px;
  align-items: center;
  position: relative;

  &::before {
    content: "";
    width: 86px;
    height: 14px;
    border-radius: 7px;
    border: 1px solid #cdcdcd;
    background-color: #ffffff;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    @media (min-width: $tablet-width) {
      width: 426px;
      height: 6px;
      border-radius: 6px;
      background-color: #dcdcdc;
    }
  }


  @media (min-width: $tablet-width) {
    padding: 0 60px;
    grid-template-columns: 70px 1fr 70px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}


.switcher__bar {
  margin-left: 6px;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  width: 36px;
  position: relative;
  &::after {
    display: block;
    content: "";
    height: 6px;
    border-radius: 3px;
    background-color: #68B738;

    @media (min-width: $tablet-width) {
      position: absolute;
      right: -17px;
      top: -17px;
      width: 34px;
      height: 34px;
      border-radius: 50%;
      background-color: #ffffff;
      border: 1px solid #cdcdcd;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.16);
      background-image: radial-gradient(ellipse at center,  #68B738 0%, #68B738 4px, #ffffff 4px,#ffffff);
    }
  }
  @media (min-width: $tablet-width) {
    margin-left: 12px;
    width: 196px;
  }
}
 

.switcher__button {
  display: block;
  padding: 0 2px 2px; // непонятно как получить это значение

  font-family: $font-heading;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  color: $black;
  background-color: transparent;
  border: none;

  &:last-child { //  определяем "стало" в третий стобик
    grid-column: 3/4;
  }
  @media (min-width: $tablet-width) {
    padding-bottom: 4px;
    border-bottom: 1px dotted rgba($black, 0.25);
    justify-self: center;
    font-size: 20px;
    line-height: normal;
  }
}
