.switcher {
  display: grid;
  grid-template-columns: 49px 1fr 49px;
  gap: 13px;
  padding: 0 35px;
  align-items: center;
  position: relative;

  @media (min-width: $tablet-width) {
    padding: 0 60px;
    grid-template-columns: 70px 1fr 70px;
    gap: 7px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}


.switcher__toggler {
  margin-top: -4px;
  height: 14px;
  background-color: $white;
  border: 1px solid $special_grey;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  position: relative;
  border-radius: 6px;

  &::after {
    position: absolute;
    top: 3px;
    width: 36px;
    content: "";
    height: 6px;
    border-radius: 3px;
    background-color: $color-primary;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.switcher--before .switcher__toggler::after {
  left: 6px;
  right: auto; // для переключения из положения --after (
}

.switcher--after .switcher__toggler::after {
  left: auto;
  right: 6px;
}


.switcher__range {
  display: none;
  /* stylelint-disable */
  -webkit-appearance: none;
  -moz-appearance: none;
  /* stylelint-enable */
  appearance: none;
  grid-column: 2 / 3;
  grid-row: 1 / 2;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

// для хрома
/* stylelint-disable */
.switcher__range::-webkit-slider-runnable-track {  // стилизация полоски ползунка
  /* stylelint-enable */
  border-radius: 6px;
  height: 6px;
  background-color: $special_grey-9;
}

/* stylelint-disable */
.switcher__range::-webkit-slider-thumb { // стилизация бегунка
  -webkit-appearance: none;
  /* stylelint-enable */
  border-radius: 50%;
  cursor: pointer;
  width: 34px;
  height: 34px;

  margin-top: -14px;
  background-color: $color-primary; // зеленая точка внутри ползунка
  box-shadow: inset 0 0 0 1px $special_grey, // граница в 1рх по краю
    inset 0 0 0 13px $white, // белый фон накрывает зеленый бекграунд на 13рх внутрь от края
    0 10px 3px rgba($black, 0.16); // обычная тень вниз
}


//для мозилы
/* stylelint-disable */
.switcher__range::-moz-range-track {
  /* stylelint-enable */
  border-radius: 6px;
  height: 6px;
  background-color: $special_grey-9;
}

/* stylelint-disable */
.switcher__range::-moz-range-thumb {
  -moz-appearance: none;
  /* stylelint-enable */
  border-radius: 50%;
  cursor: pointer;
  width: 34px;
  height: 34px;
  margin-top: -14px;
  background-color: $color-primary; // зеленая точка внутри ползунка
  box-shadow:
    inset 0 0 0 1px $special_grey, // граница в 1рх по краю
    inset 0 0 0 13px $white, // белый фон накрывает зеленый бекграунд на 13рх внутрь от края
    0 1px 3px rgba($black, 0.16); // обычная тень вниз в sass можно указывать цвет в таком формате
}

.switcher__button {
  display: block;
  padding: 0 2px 2px; // непонятно как получить это значение

  font-family: $font-heading;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  color: $black;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid transparent;

  &:last-child { //  определяем "стало" в третий стобик
    grid-column: 3/4;
  }

  @media (min-width: $tablet-width) {
    padding-bottom: 4px;
    border-bottom: 1px dotted rgba($black, 0.25);
    justify-self: center;
    font-size: 20px;
    line-height: normal;

    &:hover {
      border-bottom: 1px solid fade-out($black, 0.6);
    }
  }
}

.switcher__button:hover {
  border-bottom: 1px solid fade-out($black, 0.6);
  cursor: pointer;
}


.switcher__button:active {
  border-bottom: 1px solid transparent;
}
