body {
    font-size: 125%;
    line-height: 1.4;
    max-width: 600px;
    margin: 0 auto;
    font-family:Arial, Helvetica, sans-serif;
}

footer {
    margin-top: 50px;
    border-top: 1px solid silver;
    font-size: 0.8em;
}

footer ol {
    padding-left: 20px;
}

article {
    counter-reset: footnotes;  /*сбрасываем счетчик, или создаем так и не понял?*/
    /*counter-increment: footnotes -3;  /* смотри ниже рассшифровку этой функции-свойства а эта запись что бы стартануть счетчик не с 1 а к примеру с -2*/
}

.footnote-label {  /*наш созданный для сносок класс*/
    counter-increment: footnotes;  /*increment-переводиться как "прирост" ( counter-increment: [<переменная> | <число>?]+ none ) none - Запрещает увеличение счётчика для текущего селектора.  <переменная> Задаёт одну или несколько переменных, для которых требуется изменить значение счётчика. Переменные разделяются между собой пробелом. <число> - Определяет значение приращения счётчика. По умолчанию оно равно 1. Допускается использовать только положительные целые числа, отрицательные целые числа и ноль.*/
    text-decoration: none;         /*убираем подчеркивание для ссылки*/
    color: inherit;
    cursor: default;     /*курсор для ссылки наследуется от боаузера "point" менеяем на обычный*/

}
/*Создаем псевдоэлемнты у ссылок что бы потом скрыть текстовые ссылки и заменить их этими псевдоэлементами  */
.footnote-label::after {
    content: "[" counter(footnotes) "]"; /* фщрмируем номер для сноски такого вида как [ 1 ]  суть ковычек добавить скобки, при чем первая [ в своих ковычках "[" потом идет фунция и она возвращает в контент текуще значение счетчика а потом оформляем опять закрывающей квадратной скобкой ] заключаяя ее в "" */
    vertical-align: super;              /*поднимаем в строке наши сноски*/
    font-size: 0.5em;                    /*уменьшаем шрифт сноски*/
    margin-left: 2px;                    /*отсуп слева что бы не сливались с текстом*/

    /* стилизуем сноски как ссылку*/
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

/*теперь у обычных ссылок скинуты браузерные стили, созданые псевдолемнты от них пронумерованы автоматически и выглядят как ссылки */

/*дальнейшая стилизация */

.footnote-label:focus::after {  /*этот селектор выбирает псевдоэлемент(и стилизует его) от нашей сылки когда мы на жимаем на ссылку или на псевдоэлемент так как он является частью ссылки*/
    outline: thin dotted;  /*thin- тонкий   это свойство делает прерывистую обводку */
    outline-offset: 2px;   /*расширяет зону обводки на 2px*/
}


/*Псевдокласс :target применяется к целевому элементу, иными словами, к идентификатору, который указан в адресной строке браузера. не очень понятно)) а что делать?*/
/*вобщем он выбирает элементы к которым браузер переходит через якоря или ссылки*/
/*тут используем вложенный селектор,
что бы таккая стилизация была только в только разделе где мы расшифровровываем сноски (в нашем случае это footer)
 и не применялась с переходом к другим элементам, например при возврате по id к элемннтам основного текса*/

/*подсветим сноски при переходе*/
 footer :target {
    background-color: yellow;
}


/*далее скроем семантический нужный, но добавленый от себя заголовок от сносок через добавленный элементу класс visually-hidden*/
.visually-hidden {
    position: absolute; /*элемент исключается из потока*/
    clip: rect(0 0 0 0); /* ? */
    visibility: hidden; /* видимость: скрытый */
    opacity: 0;         /*прозрачность 100% */

}

