@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;

  src: url("../fonts/Raleway-extra-bold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;

  src: url("../fonts/Rubik-regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;

  src: url("../fonts/Rubik-bold.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

html {
  height: 100%;

}

body {
  min-height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
  padding-top: 17px;
  width: 1440px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header-nav {
  margin: 0 140px;
  padding: 0 60px;
}

.navigation-logo {
  display: block;
  margin-bottom: 24px;
}

.user-menu-container {
  display: flex;
  align-items: center;
  margin-bottom: 22px;
}

.search-form {
  width: 517px;
  display: flex;
  margin-bottom: 5px;
  margin-top: 5px;
}

.search-field {
  flex-grow: 1;
  margin-right: -2px;
}

.search-input {
  font-family: 'Rubik';
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  background-color: transparent;
  padding: 8px 48px;
  border: 2px solid #000000;
  border-radius: 50px 0 0 50px;
  width: 100%;
}

.search-input::placeholder {
  color: #000000;
  background-color: transparent;
}

.button-search {
  padding: 8px 54px;
  border: 2px solid #000000;
  border-radius: 0px 50px 50px 0px;
  /* margin-right: 26px; */

}

.button-secondary,
.tab-link {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;

  position: relative; /* нужно для желтой полосы за кнопкой через псевдоэлемент */
}

.button-secondary::before,
.tab-link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 8px;
  top: calc(50% - 4px);
  right: 0;
  left: 0;
  background-color: #ffe17f;
  z-index: -1;
}

.button-search {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  background-color: transparent;
}

/* navigation-user-list */
.navigation-user-list {
  list-style-type: none;
  margin: 0;
  margin-right: -21px;
  padding: 0;
  padding-left: 26px;
  display: flex;
  flex-wrap: wrap;
}

.navigation-user-item {
  margin-top: 5px;
  margin-bottom: 5px;
}

.navigation-user-link,
.account-exit {
  display: block;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  text-decoration: none;
  padding-top: 4px;
  padding-bottom: 4px;
  outline: 1px solid green;
  margin-right: 5px;
}

.navigation-user-link-login {
  min-width: 231px;
  padding-left: 29px;
  margin-right: 26px;
}

.navigation-user-link-compare {
  padding-left: 24px;
  padding-right: 10px;
}

.navigation-user-link-cart {
  padding-left: 2px;
  padding-right: 15px;
  display: flex;
  align-items: center;
}

.navigation-user-link-text {
  padding-left: 20px;
}

.account-exit {
  opacity: 0.3;
}

.icon-button-counter {
  font-size: 14px;
  line-height: 17px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 7px;
  padding-left: 7px;
  background-color: green;
  border-radius: 50%;
}

/* navigation-list */
.navigation-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-right: -28px;
  margin-left: -24px;
  margin-bottom: -19px;
}

.navigation-item {
  padding: 2px;
  margin-right: 22px;
  margin-left: 22px;
}

.catalog-toggler-container {
  margin-right: auto;
  display: flex;
  position: relative; /* отсносительного этого элемента будем позиционировать выпающее меню */
}

/* выпадающее окно на детайлс */

/* стилизуем суммари */
.select-button {
  position: relative;
  padding: 17px 65px 17px 2px;/* закладываем место справа под кружок с плюсом/минусом  */
  display: flex;
  cursor: pointer;
  user-select: none;
}

/* круглая граница кнопки  */
.select-button::after {
  position: absolute;
  right: 0;
  top: 2px;
  bottom: 0;
  content: "";
  display: block;
  border-radius: 50%;
  border: 2px solid #000000;
  width: 50px;
  height: 50px;
  opacity: 0.3;

  background-position: center;
  background-size: 16px 17px;
  background-repeat: no-repeat;
  background-image: url("../image/icon/select-plus.svg");
}

/* замена плюса в круге на минус при открытии details */
.select-catalog[open] .select-button::after {
  background-image: url("../image/icon/select-minus.svg");
}

/* выпадающее окно */
.catalog-select-list {
  z-index: 1; /*поднимаем по z относительно пунктов меню(каталог товаров, доставка, гарантия. контакты.... мы их подняли выше по коду над другими элементами через класс="navigation-list") выпадающее окно должно быть выше по z индексу, но при этом выше других элементов на странице */
  position: absolute;
  width: 1160px;
  left: -58px;
  top: 55px;
  background-color: #ffe17f;
  list-style-type: none;
  padding: 13px 60px 27px;
  margin: 0;

  display: grid;
  grid-template-columns: repeat(3, min-content);
  column-gap: 30px;
  grid-auto-flow: dense; /*этим свойвои и значением размещаем элементы плотно(особенности гридов) по умолчанию рамещает немного по другому можно узнат отуключив свойство */
}

.catalog-select-item {
  margin-bottom: 18px;
  margin-right: 18px;
  width: max-content;
}

/* сетка выпадающего меню */
.first-column {
  grid-column: 1 / 2;
}

.second-column {
  grid-column: 2 / 3;
}

.third-column {
  grid-column: 3 / 4;
}

/* пункты выпадающего меню */
.catalog-select-link {
  font-size: 16px;
  line-height: 18px;
  color: #000000;
  text-decoration: none;
}

/* общаяя стилизация пунктов основной навигации(шрифт, цвет) */
.navigation-link {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  display: flex;
  align-items: center; /* так как в первом элементе другие падинги могут быть несоответсвия между ним и следующими (еще можно попробовать baseline) */
}


.main-container {
  flex-grow: 1; /* для паттерна стикки-футер */
}

/* Слайдер */

.gallery {
  display: grid;
  grid-template-columns: 560px 560px;
  margin-right: 140px;
  margin-left: 145px;
  column-gap: 35px;
}

.slider {
  position: relative; /* для позиционирования подложки с номером слайда (.slider-number), а также конопок слайдера */
}

/* позиционируем подложку (желтый фон) */
.slider-number {
  position: absolute;
  left: -5px;
  top: -150px;
  font-weight: 700;
  font-size: 180px;
  line-height: 180px;
  color: #ffffff;
  background-color: #ffe17e;
  z-index: -1;
  width: 1160px;
  height: 300px;
}

/* позиционируем номер слайда на подложке */
.background-number {
  position: absolute;
  bottom: -38px;
  right: 44px;
}

.slider-description {
  padding-top: 123px;
}

.section-title {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.gallery .section-title {
  margin-top: 0;
  margin-bottom: 29px;
}

.section-description {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
}

.gallery-section-description {
  margin-top: 0;
  margin-bottom: 51px;
}

.pagination-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 49px;
}

.slider-button-show-more {
  padding: 10px 40px;
}



.slider-pagination-list {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  list-style-type: none;
  margin-right: -20px;
}

.slider-pagination-item {
  display: grid;
  place-content: center;
  margin-right: 20px;
}
.slider-pagination-button {
  padding: 0;
  margin: 0;
  width: 12px;
  height: 12px;
  display: block;
  border-radius: 50%;
  border: 2px solid #000000;
}

.slider-pagination-button-current {
  background-color: #000000;
}

.parameter-list {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat( 2, max-content);
  min-width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.parameter-item {
  display: grid;
  grid-template-rows: repeat(2, min-content);
  grid-gap: 12px;
  grid-template-areas: "parameter-description"
                       "parameter-termin";
}

.parameter-termin {
  grid-area: parameter-termin;
  font-size: 16px;
  line-height: 30px;
  color: #444444;
}

.parameter-description {
  margin-left: 0;
  grid-area: parameter-description;
  font-size: 36px;
  line-height: 30px;
  color: #000000;
}

.categories-link {
  text-decoration: none;
}

.categories-title {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #000000;
}

.tab-link-current {
  color: #ffe17f;
  background-color: #000000;
}

.button-addition-services {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  background-color: #f0f0f0;
}

.delivery-list {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.section-subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #444444;
}

.contacts-address {
  font-style: normal;
}

.contacts-phone {
  text-decoration-line: underline;
  color: #444444;
}

.subscribe {
  background-color: #f0f0f0;
}

.subscribe-input {
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  background-color: transparent;
}

.subscribe-input::placeholder {
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  opacity: 0.5;
}

.button-subscribe {
  background-color: transparent;
}


.page-footer {
  color: #ffffff;
  background-color: #444444;
}

.page-footer a {
  color: #ffffff;
}

.footer-contacts-text {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-style: normal;
}

.footer-navigation-link {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
}

.footer-address {
  font-style: normal;
}

.footer-contacts-phone {
  text-decoration: underline;
}


/* catalog */


.left-panel {
  background-color: #f0f0f0;
}

.form-title {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.breadcrumbs-link{
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  color: #000000;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
}

.catalog-filter-label {
  font-size: 15px;
  line-height: 18px;
  opacity: 0.3;
}

.catalog-filter-input {
  background-color: transparent;
}

.select-control {
  font-size: 18px;
  line-height: 30px;
}

/* product card */

.product-card-link {
  text-decoration: none;
}

.product-card-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
}

.product-card-price {
  font-size: 18px;
  line-height: 21px;
  color: #444444;
}

.button-show-more {
  font-size: 16px;
  line-height: 19px;
  background-color: transparent;
}

.pagination {
  background-color: #ebebeb;
}

.pagination-button {
  background-color: transparent;
}

.pagination-link {
  font-size: 16px;
  line-height: 20px;
  color: #444444;
  opacity: 0.3;
  text-decoration: none;
}

/* modal */

.modal-field-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
}

.modal-field-input {
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  background-color: #f0f0f0;
}

.modal-field-input::placeholder {
  color: #000000;
  opacity: 0.3;
}

.modal-field-message {
  font-size: 14px;
  line-height: 20px;
}

.modal-field-message-error {
  color: #ff3d3d;
}

.field-info-text {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #000000;
}
