@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;

  src: url("../fonts/Raleway-extra-bold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;

  src: url("../fonts/Rubik-regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;

  src: url("../fonts/Rubik-bold.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

html {
  height: 100%;

}

body {
  min-height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
  padding-top: 14px;
  width: 1440px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.header-nav {
  margin: 0 140px;
  padding: 0 60px;
  background-image: linear-gradient(to bottom, #ffffff 27px, #ffe17e 27px);
}

.navigation-logo-link,
.footer-logo-link {
  display: block;
  width: max-content;
  margin-left: -4px;
  margin-bottom: 22px;
  padding: 2px;
  border: 2px solid transparent;
}

.footer-logo-link {
  margin-bottom: 31px;
}

.navigation-logo-link:hover,
.footer-logo-link:hover {
  opacity: 0.6;
  cursor: pointer;
}

.navigation-logo-link:active,
.footer-logo-link:active {
  opacity: 0.3;
}

.navigation-logo-link:focus:not(:active),
.footer-logo-link:focus:not(:active) {
  border-color: #af4fff;
  outline: none;
}

.user-menu-container {
  display: flex;
  align-items: center;
  margin-bottom: 22px;
}

.search-form {
  width: 517px;
  display: flex;
  margin-bottom: 5px;
  margin-top: 5px;
}

.search-field {
  flex-grow: 1;
  margin-right: -2px;
}

.search-input {
  font-family: 'Rubik';
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  background-color: transparent;
  padding: 8px 48px;
  border: 2px solid #000000;
  border-radius: 50px 0 0 50px;
  width: 100%;
  cursor: text;
}

.search-input::placeholder {
  color: #000000;
  opacity: 0.3;
  background-color: transparent;
}

.search-input:disabled {
  opacity: 0.3;
  pointer-events: none;
  user-select: none;
}

.search-input:focus {
  outline: none;
}
.search-field:focus-within {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
  z-index: 1;
}

/* buttons  */

.button-search {
  padding: 8px 54px;
  border: 2px solid #000000;
  border-radius: 0px 50px 50px 0px;

  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  background-color: transparent;
  cursor: pointer;
}

.button-search:disabled {
  opacity: 0.3;
  pointer-events: none;
  user-select: none;
}

.button-search:hover {
  background-color: #000000;
  color: #ffffff;
}

.button-search:focus:not(:active) {
  outline: none;
}

.button-search:active {
  color: rgba(255, 255, 255, 0.3);
}


.button-search-container:focus-within {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.button-secondary,
.tab-link {
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  background-image: linear-gradient(to bottom, transparent calc(50% - 4px), #ffe17f calc(50% - 4px), #ffe17f calc(50% + 4px), transparent calc(50% + 4px));
  border: 2px solid transparent;
  background-color: transparent;
}

.button-secondary:hover {
  background-image: none;
  background-color: #ffe17f;
}

.button-secondary:active {
  background-image: none;
  background-color: #ffcc33;
}

.button-secondary:focus:not(:active) {
  outline: 2px solid #AF4FFF;
}

.button:disabled,
.button-disabled
 {
  opacity: 0.3;
  pointer-events: none;
  user-select: none;
}

/* navigation-user-list */
.navigation-user-list {
  list-style-type: none;
  margin: 0;
  margin-right: -20px;
  padding: 0;
  padding-left: 26px;
  display: flex;
  flex-wrap: wrap;
}

.navigation-user-item {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 18px;
  display: flex;
}

.navigation-user-item-login {
  min-width: 238px;
  justify-content: space-between;
}

.navigation-user-link {
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  text-decoration: none;
  padding: 0;
  display: flex;
  align-items: baseline;
}

.navigation-user-link:hover {
  opacity: 0.6;
  cursor: pointer;
}

.navigation-user-link:active {
  opacity: 0.3;
}

.navigation-user-link:focus:not(:active) {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}



.account-exit {
  opacity: 0.3;
  margin-right: 7px;
}

.navigation-user-link-cart {
  position: relative; /* для поизионирования icon-button-counter */
}

.navigation-user-link-text {
  background-position: left center;
  background-repeat: no-repeat;
  padding: 0;
}

.navigation-user-link-login-text {
  padding-left: 27px;
  background-size: 16px 13px;
  background-image: url("../image/icon/login-icon.svg");
}

.navigation-user-link-compare-text {
  padding-left: 22px;
  background-size: 10px 13px;
  background-image: url("../image/icon/compare-icon.svg");
}

.navigation-user-link-cart-text {
  padding-left: 44px;
  background-size: 16px 15px;
  background-position: 16px 5px;
  background-image: url("../image/icon/cart-icon.svg");
}



.icon-button-counter {
  position: absolute;
  top: 4px;
  left: 0px;
  font-size: 14px;
  line-height: 17px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 7px;
  padding-left: 7px;
  background-color: #ffffff;
  border-radius: 50%;
}

/* navigation-list */
.navigation-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-right: -28px;
  margin-left: -24px;
  margin-bottom: -19px;
}

.navigation-item {
  padding: 2px;
  margin-right: 22px;
  margin-left: 22px;
}

/* общаяя стилизация пунктов основной навигации(шрифт, цвет) */
.navigation-link {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  display: flex;
  align-items: center; /* так как в первом элементе другие падинги могут быть несоответсвия между ним и следующими (еще можно попробовать baseline) */
}

.navigation-link-current {
  padding-bottom: 6px;
  margin-top: 8px;
  border-bottom: 2px solid #000000;
}

.navigation-link:hover {
  opacity: 0.6;
  cursor: pointer;
}

.navigation-link:active {
  opacity: 0.3;
}

.navigation-link:focus:not(:active) {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.catalog-toggler-container {
  margin-right: auto;
  display: flex;
  z-index: 1; /* иначе картинка слайда неиного наслаивается сверху над catalog-toggler-container */
  position: relative; /* отсносительного этого элемента будем позиционировать выпающее меню */
}

/* выпадающее окно на детайлс */

/* стилизуем суммари */
.select-button {
  position: relative;
  padding: 17px 65px 17px 2px;/* закладываем место справа под кружок с плюсом/минусом  */
  display: flex;
  cursor: pointer;
  user-select: none;
}

/* круглая граница кнопки и изображение плюса */
.select-button::after {
  position: absolute;
  right: 0;
  top: 2px;
  bottom: 0;
  content: "";
  display: block;
  border-radius: 50%;
  border: 2px solid #000000;
  width: 50px;
  height: 50px;
  opacity: 0.3;

  background-position: center;
  background-size: 16px 17px;
  background-repeat: no-repeat;
  background-image: url("../image/icon/select-plus.svg");
}

/* замена плюса в круге на минус при открытии details */
.select-catalog[open] .select-button::after {
  background-image: url("../image/icon/select-minus.svg");
}

.select-button:hover,
.select-button:hover::after {
  opacity: 1;
}

/* выпадающее окно */
.catalog-select-list {
  z-index: 1; /*поднимаем по z относительно пунктов меню(каталог товаров, доставка, гарантия. контакты.... мы их подняли выше по коду над другими элементами через класс="navigation-list") выпадающее окно должно быть выше по z индексу, но при этом выше других элементов на странице */
  position: absolute;
  width: 1160px;
  left: -58px;
  top: 62px;
  background-color: #ffe17f;
  list-style-type: none;
  padding: 6px 60px 27px;
  margin: 0;

  display: grid;
  grid-template-columns: repeat(3, min-content);
  column-gap: 30px;
  grid-auto-flow: dense; /*этим свойвои и значением размещаем элементы плотно(особенности гридов) по умолчанию рамещает немного по другому можно узнат отуключив свойство */
}

.catalog-select-item {
  margin-bottom: 15px;
  margin-right: 18px;
  width: max-content;
}

/* сетка выпадающего меню */
.first-column {
  grid-column: 1 / 2;
}

.second-column {
  grid-column: 2 / 3;
}

.third-column {
  grid-column: 3 / 4;
}

/* пункты выпадающего меню */
.catalog-select-link {
  font-size: 16px;
  line-height: 18px;
  color: #000000;
  text-decoration: none;
  margin-bottom: 3px;
}

.catalog-select-link-current {
  margin-bottom: 0px;
  padding-bottom: 3px;
  border-bottom: 1px solid #000000;
}

.catalog-select-link:hover {
  opacity: 0.6;
  cursor: pointer;
}

.catalog-select-link:active {
  opacity: 0.3;
}

.catalog-select-link:focus:not(:active) {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}







.main-container {
  flex-grow: 1; /* для паттерна стикки-футер */
}

/* Слайдер */

.slide {
  display: none;
  grid-template-columns: 560px 560px;
  margin-right: 140px;
  margin-left: 145px;
  column-gap: 35px;
  margin-bottom: 216px;
}

.slide-current {
  display: grid;
}

.slider {
  position: relative; /* для позиционирования подложки с номером слайда (.slider-number), а также конопок слайдера */
}

.slider-controls {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  top: 211px;
  display: flex;
  justify-content: space-between;
}

.slider-button {
  width: 28px;
  height: 68px;
  border: 2px solid transparent;
  background-color: transparent;
  background-size: 20px 60px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.slider-button-pref {
  transform: rotate(180deg);
  background-image: url("../image/icon/slider-arrow.svg");
}

.slider-button-next {
  background-image: url("../image/icon/slider-arrow.svg");
}



/* позиционируем подложку (желтый фон) */
.slider-number {
  position: absolute;
  left: -5px;
  top: -150px;
  font-weight: 700;
  font-size: 180px;
  line-height: 180px;
  color: #ffffff;
  background-color: #ffe17e;
  z-index: -1;
  width: 1160px;
  height: 300px;
}

/* позиционируем номер слайда на подложке */
.background-number {
  position: absolute;
  bottom: -38px;
  right: 44px;
}

.slider-description {
  padding-top: 123px;
}

.section-title {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.gallery .section-title {
  margin-top: 0;
  margin-bottom: 29px;
}

.section-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
}

.gallery .section-description {
  margin-top: 0;
  margin-bottom: 51px;
}

.pagination-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 49px;
}

.slider-button-show-more {
  padding: 10px 40px;
}

.slider-pagination-list {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  list-style-type: none;
  margin-right: -20px;
}

.slider-pagination-item {
  display: grid;
  place-content: center;
  margin-right: 20px;
}
.slider-pagination-button {
  padding: 0;
  margin: 0;
  width: 12px;
  height: 12px;
  display: block;
  border-radius: 50%;
  border: 2px solid #000000;
}

.slider-pagination-button-current {
  background-color: #000000;
}

.parameter-list {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat( 3, max-content);
  min-width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.parameter-item {
  display: grid;
  grid-template-rows: repeat(2, min-content);
  grid-gap: 12px;
  grid-template-areas: "parameter-description"
                       "parameter-termin";
}

.parameter-termin {
  grid-area: parameter-termin;
  font-size: 16px;
  line-height: 30px;
  color: #444444;
}

.parameter-description {
  margin-left: 0;
  grid-area: parameter-description;
  font-size: 36px;
  line-height: 30px;
  color: #000000;
}

/* categories картинки на желтом фоне с подписями*/
.categories {
  margin-bottom: 70px;
}

.categories-title {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #000000;
}

.categories-list {
  list-style-type: none;
  margin: 0 140px;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(6, 160px);
  column-gap: 40px;
}

.categories-link {
  text-decoration: none;
  padding-top: 193px;
  display: block;
  position: relative;
}

.categories-link::before {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  content: "";
  display: block;
  width: 160px;
  height: 160px;
  background-color: #ffe17f;
  background-size: 160px 160px;
  background-repeat: no-repeat;
  background-position: center;
}

.categories-virtualreal::before {
  background-image: url("../image/icon/catogory-virtalreal.svg");
}

.categories-monopods::before {
  background-image: url("../image/icon/category-monopods.svg");
}

.categories-actioncameras::before {
  background-image: url("../image/icon/category-actioncameras.svg");
}

.categories-fitnesband::before {
  background-image: url("../image/icon/category-fitnesband.svg");
}

.categories-smartwatch::before {
  background-image: url("../image/icon/category-smartwatch.svg");
}

.categories-quadracopters::before {
  background-image: url("../image/icon/category-quadracopters.svg");
}


/* services меню с вкладками доставка, гарантия, кредит и информационное поле*/

.services {
  display: grid;
  grid-template-columns: 140px 287px 1fr 140px;
  background: linear-gradient(to bottom, #ffffff 102px, #f0f0f0 102px);
  padding-bottom: 72px;
  margin-bottom: 70px;

}

.panel-menu {
  grid-column: 2 / 3;
}

.panel-content-list {
  margin: 0;
  padding: 0;
}


.panel-content-item {
  display: none;
  grid-column: 3 / 4;
  padding-left: 116px;
  padding-right: 282px;
  padding-top: 72px;
  padding-bottom: 72px;
  background-repeat: no-repeat;
  background-position: 674px center;
}

.panel-content-current {
  display: block;
}

.panel-content-delivery {
  background-image: url("../image/background/background-delivery.svg");
  background-size: 136px 164px;
}

.panel-content-warranty {
  background-image: url("../image/background/background-warranty.svg");
  background-size: 171px 195px;
}

.panel-content-credit {
  background-image: url("../image/background/background-credit.svg");
  background-size: 156px 189px;
}


.panel-content-item .section-title {
  margin: 0;
  margin-bottom: 34px;
}

.panel-content-item .section-description {
  margin: 0;
}

.tabs-list {
  list-style-type: none;
  padding: 0;
  padding-top: 64px;
  padding-bottom: 64px;
  margin: 0;
  display: grid;
  row-gap: 35px;
  border-right: 7px solid #000000;
}

.tab-item {
  display: grid;
  grid-template-columns: min-content 1fr;
}

.tab-link {
  text-align: center;
  display: block;
  padding: 10px 10px;
  min-width: 160px;
}

.tab-link-current {
  background-image: none;
  color: #ffe17f;
  background-color: #000000;
}

/* растягиваем заливку до правой границы контейнера, если вкладка является текущей */
.tab-link-current + .tab-background-longer { /* пришлось добавить пустышку. если делать через tab-item::after то соседние селекторы не работают, несмотря на то, что в одном грид-контейнере находится два элемента(один из них псевдоэлемент) */
    content: "";
    width: 100%;
    height: 100%;
    background-color: #000000;
    display: block;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}


/* кнопка "доставим редкий товар на заказ" */
.button-addition-services {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  background-color: #f0f0f0;

  display: block;
  margin: 0 140px 70px;
  padding: 40px 125px;
  position: relative;
  background-image: url("../image/icon/elipse.svg");
  background-repeat: no-repeat;
  background-size: 41px 40px;
  background-position: right 42px center;
}
/* картинка слева */
.button-addition-services::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background-color: #ffe17e;
  background-image: url("../image/icon/delivery-car.svg");
  background-repeat: no-repeat;
  background-size: 47px 31px;
  background-position: center;
  height: 100%;
  width: 125px;
}

/* значек справа(фон для него задан как фоновая картинка родительского элемента .button-addition-services так как при наведении символ на иконке меняет прозрачность независимо от фона иконки */
.button-addition-services::after {
  content: "";
  position: absolute;
  right: 42px;
  top: calc(50% - 20px);
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-image: url("../image/icon/i-icon.svg");
  background-repeat: no-repeat;
  background-size: 2px 12px;
  background-position: center;
  opacity: 0.3;
}


/* columns */
.columns {
  display: grid;
  grid-template-columns: 520px 532px;
  margin: 0 140px 70px;
  column-gap: 108px;
}

.column {
  position: relative;
}

.column .button-secondary {
  padding: 6px 25px;
}
/* черточки на колонками */
.column::before {
  content: "";
  width: 84px;
  height: 7px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000000;
}

.columns .section-title {
  margin-top: 40px;
  margin-bottom: 48px;
}

.columns .section-description {
  margin-top: 0;
  margin-bottom: 30px;
}

/* section about */
.delivery-list {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;

  padding: 0;
  margin-top: 0;
  margin-bottom: 30px;
  list-style-type: none;
  display: grid;
  row-gap: 19px;
}

.delivery-item {
  padding-left: 34px;
  margin-left: 4px;
  position: relative;
}

.delivery-item::before {
  content: "";
  width: 8px;
  height: 8px;
  position: absolute;
  left: 0;
  top: calc(50% - 4px);
  background-color: #ffc700;
  border-radius: 50%;
}

.section-subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #444444;
  margin-top: 0;
  margin-bottom: 15px;
}

.contacts-address {
  font-style: normal;
  margin-bottom: 30px;
}

.contacts-phone {
  text-decoration-line: underline;
  color: #444444;
}

.schedule-list {
  padding: 0;
  list-style-type: none;
}

/* subscribe */
.subscribe {
  background-color: #f0f0f0;
  padding: 64px 141px 56px;
  display: grid;
  grid-template-columns: 354px 1fr;
  column-gap: 252px;
  row-gap: 144px;
  align-items: end;
}

.subscribe .section-title {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 7px;
}

.subscribe .section-description {
  margin-top: 0px;
  margin-bottom: 0;
}

.subscribe-form {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 557px 253px 1fr;
}
/* сделать границы !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
.subscribe-input {
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  background-color: transparent;
  width: 100%;
  height: 100%;
  border: 0 solid transparent;
  border-bottom: 3px solid #c4c4c4;
  padding: 11px 16px 14px 16px;
}

.subscribe-input::placeholder {
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  opacity: 0.5;
}

.subscribe-input:hover {
  background-color: #b3b3b3;
}

.subscribe-input:focus:not(:active) {
  outline: none;
  background-color: #dcdcdc;
}

.subscribe-input:active {
  outline: none;
}

.subscribe-input-error {
  border-bottom-color: #ff3d3d;
}

.subscribe-input:disabled,
.subscribe-inputdisabled:hover {
  background-color: transparent;
  opacity: 0.3;
  pointer-events: none;
  user-select: none;
}


.button-subscribe {
  background-color: transparent;
  background-image: none;
  padding: 18px 39px;
  border: 3px solid #cecece;
}

.pseudo-checkbox {
  padding-left: 32px;
  align-self: center;
  justify-self: end;
  position:relative
}

/* зеленая галочка */
.pseudo-checkbox::before {
  content: "";
  width: 16px;
  height: 17px;
  position: absolute;
  background-image: url("../image/icon/check-icon.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 16px 17px;
  left: 0;
  top: calc(50% - 8px);
}


/* footer */
.page-footer {
  color: #ffffff;
  background-color: #444444;

  padding: 61px 140px;
  position: relative;
}

.page-footer::before {
  content: "";
  position: absolute;
  width: 80px;
  height: 7px;
  left: 141px;
  bottom: 77px;
  background-color: #ffc700;
}

.footer-content {
  display: grid;
  grid-template-areas: "contacts services tel"
                      ". soc-list html-academy-link";
  grid-template-columns: 250px 1fr 250px;
  column-gap: 100px;
  row-gap: 47px;
}
.page-footer a {
  color: #ffffff;
}

.footer-contacts-text {
  grid-area: contacts;
  margin: 0;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-style: normal;
}

.footer-navigation-link {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
}

.footer-address {
  font-style: normal;
}

.footer-navigation-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, min-content);
  column-gap: 35px;
}

.footer-phone {
  justify-self: end;
}

.footer-contacts-phone {
  text-decoration: underline;
}

.footer-social-list {
  margin: 0;
  margin-right: -15px;  /* компенсирует оступы справа у footer-social-link */
  margin-bottom: -15px;
  padding: 0;
  list-style-type: none;
  grid-area: soc-list;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.footer-social-item {
  margin-right: 15px;
  margin-bottom: 15px;
}

.footer-social-link {
  display: block;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  position: relative;
}

.footer-social-link::after {
  display: block;
  content: "";
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  width: 40px;
  height: 40px;
}

.footer-social-link-fb::after {
  background-size: 9px 18px;
  background-image: url("../image/icon/icon-facebok.svg");
}

.footer-social-link-inst::after {
  background-size: 16px 16px;
  background-image: url("../image/icon/icon-instagramm.svg");
}

.footer-social-link-tw::after {
  background-size: 15px 15px;
  background-image: url("../image/icon/icon-twitter.svg");
}

.html-academy-link {
  grid-area: html-academy-link;
  justify-self: end;
}

/* catalog */

.catalog-header-nav {
  padding-bottom: 38px;
}

.catalog-title {
  margin: 0 140px;
  padding: 35px 60px;
}

.catalog-title .section-title {
  margin-top: 0;
  margin-bottom: 16px;
}

.breadcrumbs-list {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 20px;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.breadcrumbs-item {
  margin-bottom: 11px; /* в сумме с отступом у breadcrumbs-list они датут отступ 35px, но в таком случае будет оступ между строками 11px если строк будет нескольстко */
  display: grid; /* задади грид всем элементам breadcrumbs? что бы не было проблем с выравниванием  из за своиств grid*/
}

.breadcrumbs-item:not(:first-child) {/* стрелки будут у всех кроме первого элемента только им зададим шаблон сетку с двумя столбцами*/
  grid-template-columns: 36px max-content;
}
/* стрелки у хлебных крошек */
.breadcrumbs-item:not(:first-child)::before {
  content: "";
  width: 4px;
  height: 7px;
  justify-self: center;
  align-self: center;
  background-image: url("../image/icon/breadcrumbs-arrow.svg");
  background-size: 4px 7px;
  background-position: center;
  background-position: no-repeat;
}

.breadcrumbs-link{
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  color: #000000;
  padding: 2px;
  border: 2px solid transparent;
}

.breadcrumbs-link:hover {
  opacity: 0.6;
  cursor: pointer;
}

.breadcrumbs-link:active {
  opacity: 0.3;
}

.breadcrumbs-link:focus:not(:active) {
  border-color: #af4fff;
  outline: none;
}




.catalog-filter-content-wrapper {
  background-color: #f0f0f0;
  padding: 0 140px;
  display: grid;
  grid-template-columns: 320px 1fr;
}

/* catalog-filter  */
.catalog-filter {
  background-color: #f0f0f0;
  margin: 0 60px;
}

.form-title {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;

  padding-top: 25px;
  padding-bottom: 25px;
  margin: 0;
}

.filter-fieldset {
  margin: 0;
  border-top: 2px solid #000000;
  padding-top: 0;
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 35px;
  border: none;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
  border-top: 2px solid #000000;
  padding-top: 12px;
  padding-bottom: 20px;
  width: 100%;
}


/* range */
.range-bar {
  height: 2px;
  background-color: #000000;
  margin-top: 10px;
  margin-bottom: 11px;
  position: relative;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 18px;
  height: 18px;
  border: 2px solid #000000;
  border-radius: 50%;
  background-color: #ebebeb;
}

.toggle-min {
  left: -9px;
}

.toggle-max {
  right: -9px;
}

.range-fields {
  display: flex;
  flex-direction: row;
}

.range-field {
  font-size: 15px;
  line-height: 18px;
  opacity: 0.3;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  position: relative;
}

.range-title {
  position: absolute;
  left: -24px;
  top: calc(50% - 9px);
  padding-left: 7px;
}

.range-input {
  background-color: transparent;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
  border: 1px solid transparent;
  width: 100%;
}

.range-field:first-child {
  padding-right: 24px;
}

/* Код ниже прячет стрелки управления в браузерах, основанных на webkit (Opera для проверки нет): */
.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
}

/* Для Firefox попроще: */
.range-input[type="number"] {
  appearance: textfield;
}

/* filter checkbox radio */

.catalog-filter-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  row-gap: 17px;
}


.control-label {
  line-height: 19px;
  display: grid;
  grid-template-columns: 20px min-content;
  column-gap: 16px;
  user-select: none;
  cursor: pointer;
}

.control-label::before,
.control-label::after {
  content: "";
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  align-self: center;
}

.control-label::before { /* из-за рамки при фокусе которая размером больше чем элемент сделаем подложку из before большего размера, что бы отцентровать используем отрицательные маржины */
  width: 28px;
  height: 28px;
  margin: -4px;
  border: 2px solid transparent;

}

/* чекбокс */
 /* нечекнутый чекбокс */
.control-label::after {
  width: 20px;
  height: 20px;
  border: 2px solid #cccccc;
  border-radius: 3px;
  background-repeat: no-repeat;
  background-size: 10px 10px;
  background-position: center;
}

/* чекнутый чекбокс */
.control-input:checked + .control-label::after {
  background-image: url("../image/icon/checkbox-shevron.svg");
  border: 2px solid #000000;
}

/* радио */
/* невыбранный радио*/
.control-input[type="radio"] + .control-label::after {
  border-radius: 50%;
}

/* выбранный радио */
.control-input[type="radio"]:checked + .control-label::after {
  background-size: 8px 8px;
  background-image: url("../image/icon/radio-circle.svg");
}

/* взамодествие с чекбоксами и радио*/

.control-label:hover {
  opacity: 0.6;
}

.control-input:focus-visible:not(:active) + .control-label::before {
  border-color: #af4fff;
}

.control-label:active {
  opacity: 0.3;
}

/* отключение чекбоксов и радио */
.control-input:disabled + .control-label {
  opacity: 0.1;
  pointer-events: none;
  user-select: none;
}

/* filter-submit */
.filter-submit {
  padding: 10px 48px;
}


/* catalog-content */

.catalog-content {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}

/* catalog-sort-form */

.catalog-sort {
  padding: 0 40px;
  display: grid;
  grid-template-columns: 1fr max-content;
  align-content: center;
  background-color: #f0f0f0;
}

.catalog-sort-form {
  display: grid;
  grid-template-columns: max-content 1fr;
  align-items: center;
}

.select-control {
  justify-self: end;
  font-size: 18px;
  line-height: 30px;
  appearance: none;
  padding-right: 50px;
  background-color: transparent;
  border: 2px solid transparent;
  background-image: url("../image/icon/select-arrow.svg");
  background-repeat: no-repeat;
  background-size: 10px 7px;
  background-position: right 11px center;
  cursor: pointer;
}

.select-control:hover {
  opacity: 0.6;
}

.select-control:focus:not(:active) {
  outline: 2px solid #AF4FFF;
  outline-offset: 2px;
}

.select-control:active {
  opacity: 0.3;
}

.select-control:disabled {
  opacity: 0.1;
  pointer-events: none;
  user-select: none;
}

.paging-arows {
  display: flex;
  min-width: 257px;
  justify-content: end;
  align-items: center;
}

.paging-arrow {
  display: block;
  width: 30px;
  height: 30px;
  background-image: url("../image/icon/triangle-button-sort.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 12px 10px;
  opacity: 0.2;
}

.paging-arrow-down {
  transform: rotate(180deg);
}

/* product-card-list */

.product-card-list {
  background-color: #ffffff;
  margin-top: 0;
  margin-bottom: 44px;
  padding: 70px 40px 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 40px;
  row-gap: 44px;
  list-style-type: none;
}

/* product card */

.product-card-item {
  display: grid;
  grid-template-areas: "image image"
                        "link price";
  row-gap: 32px;
}

.product-card-link {
  grid-area: link;
  text-decoration: none;
}

.product-card-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
  margin: 0;
}

.product-card-image {
  grid-area: image;
}

.product-card-price {
  grid-area: price;
  justify-self: end;
  font-size: 18px;
  line-height: 21px;
  color: #444444;
  margin: 0;
}

.button-show-more {
  font-size: 16px;
  line-height: 19px;
  background-color: transparent;
  border: 3px solid #e5e5e5;
  background-image: none;
  padding: 18px 0;
  margin-bottom: 44px;
  margin-right: 40px;
  margin-left: 40px;
}

.button-show-more:hover {
  border: 3px solid #000000;
  background-color: transparent;
}

.button-show-more:focus:not(:active) {
  outline-offset: 2px;
}

.button-show-more:active {
  border: 3px solid #000000;
  background-color: transparent;
  opacity: 0.2;
}

.pagination {
  background-color: #ebebeb;
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  place-content: center;
}

.pagination-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.pagination-button {
  background-color: transparent;
  background-image: none;
  border-color: transparent;
  padding: 25px;
}

.pagination-link {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  color: #444444;
  opacity: 0.3;
  text-decoration: none;
  min-width: 40px;

}

/* модальное окно */

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;/* без top: 0; left: 0; окно будет смещаться из центра прои зуме */
  z-index: 2;
  width: 100%;
  height: 100%;
  place-content: center;
  background-color: rgba(240, 240, 240, 0.9);

}
.modal-opened {
  display: grid;
}

.modal-container {
  position: relative;
  width: 920px;
  padding: 72px 80px;
  background: #FFFFFF;
  border: 10px solid #000000;
  box-shadow: 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.modal-close-button {
  position: absolute;
  width: 34px;
  height: 34px;
  top: 80px;
  right: 80px;
  border: 2px solid transparent;
  background-color: transparent;
  background-image: url("../image/icon/cross.svg");
  background-repeat: no-repeat;
  background-size: 26px 26px;
  background-position: center;
}

.modal .section-title {
  margin-top: 0;
  margin-bottom: 42px;
}

.modal-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 42px;
  column-gap: 40px;
}

.modal-fields {/* сгруппируем два поля в одни контейнер чтобы разместить его на два столбца */
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 1fr 180px;
  gap: 40px;
}

.modal-field {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  border: none;
}

.modal-field-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
  margin-bottom: 14px;
}

.modal-field-input {
  padding: 20px;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  background-color: #ebebeb;
  border: 2px solid transparent;
  width: 100%;
}

.modal-field-input[name="name"] {
  background-image: url("../image/icon/field-name-icon.svg");
  background-repeat: no-repeat;
  background-size: 15px 12px;
  background-position: right 20px center;
}

.modal-field-input[type="email"] {
  background-image: url("../image/icon/field-letter-icon.svg");
  background-repeat: no-repeat;
  background-size: 15px 12px;
  background-position: right 20px center;
}

.modal-field-input::placeholder {
  color: #000000;
  background-color: #f0f0f0;
  opacity: 0.3;
}

.modal-field-input:hover {
  background-color: #dcdcdc;
  cursor: pointer;
}

.modal-field-input:hover::placeholder { /* у плейсхолдкра область бакгроунда равна шитрине строки и при наведении мыши на поле кода там плесхолдер заний фон под плеисхолдером не меняется(поэтому меняем его дополнительно)  */
  background-color: #dcdcdc;
}

.modal-field-input:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}


.field-input-error {
  border-color: #ff3d3d;
}

.modal-field-message {
  font-size: 14px;
  line-height: 20px;
}

.modal-field-message-error {
  color: #ff3d3d;
}

.modal-field-input:disabled {
  opacity: 0.3;
  pointer-events: none;
  user-select: none;
}



.label-icon-container {
  padding-right: 34px;
  position: relative;
  width: max-content;
  display: grid;
}

.field-info-icon {
  position: absolute;
  right: 0;
  top: -2px;
  display: block;
  width: 26px;
  height: 26px;
  background-color: #ffe17f;
  border-radius: 50%;
  background-image: url("../image/icon/i-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 2px 12px;
  cursor: pointer;
}

.field-info-text {
  display: none;
  position: absolute;
  width: 200px;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #000000;
  box-shadow: 0px 10px 0px rgba(0, 0, 0, 0.1);
  z-index: 1;
  top: calc(100% + 10px);
  right: -34px;
  padding: 19px;

}

.field-info-text::before {
  content: "";
  position: absolute;
  top: -6px;
  right: 40px;
  width: 14px;
  height: 6px;
  background-image: url("../image/icon/triangle.svg");
  background-size: 14px 6px;
  background-repeat: no-repeat;
  background-position: center;
}

.field-info-icon:focus {
  outline: none;
}

.field-info-icon:hover .field-info-text,
.field-info-icon:focus .field-info-text {
  display: block;
}

.modal-number {
  position: relative;
}

/* Код ниже прячет стрелки управления в браузерах, основанных на webkit (Opera для проверки нет): */
.amount-input::-webkit-outer-spin-button,
.amount-input::-webkit-inner-spin-button {
  appearance: none;
}

/* Для Firefox попроще: */
.amount-input[type="number"] {
  appearance: textfield;
  text-align: center;
  cursor: text;
}

.number-button {
  position: absolute;
  width: 60px;
  height: 100%;
  background-color: transparent;
  top: 0;
  border: 2px solid transparent;
  cursor: pointer;
}

.number-button-minus {
  left: 0;
}

.number-button-plus {
  right: 0;
}

.number-button::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 16px;
}

.number-button-minus::after {
  background-image: url("../image/icon/button-minus.svg");
}

.number-button-plus::after {
  background-image: url("../image/icon/button-plus.svg")
}
/* number-button:hover */
.number-button:hover {
  background-color: #ebebeb;
}

.number-button:hover::after {
  opacity: 0.6;
}

/* number-button:focus  */
.number-button:focus:not(:active) {
  border: 2px solid #af4fff;
  outline: none;
}

/* number-button:active */
.number-button:active {
  background-color: #f0f0f0;
}

.number-button:active::after {
  opacity: 0.3;
}

.number-button:disabled {
  opacity: 0.3;
  pointer-events: none;
  user-select: none;
}

.modal-button-submit {
  padding: 10px 30px;
  justify-self: start;
}

.field-input-error { /* собрать все инпуты в начале файла */
  border-color: #ff3d3d;
}
