/*  Шаг-1  Вам дана страница студии дизайна общественных интерьеров. Ссылка на макет Ваша задача: подготовить графику под интеграцию CMS. Нам нужно подготовить графику только в блоке с отзывами. Другие картинки будут добавлены через WYSIWYG редактор или вставлены как декоративные элементы. */
/*  Шаг-2   Подготовим разметку для блока с отзывами. Можно сразу вставить изображения с разными размерами и пропорциями, чтобы учесть их отображение: Размером 50px на 50px — как и задумано в макете. Размером 640px на 640px. Вертикальное изображение 588px на 732px. Горизонтальное изображение 500px на 366px. Без изображения. В следующем шаге пропишем основную стилизацию отзывов. */
/*  Шаг-3  Пропишем основную стилизацию для отзывов. Первое и второе изображение отображаются корректно, остальные нужно подправить. Сделаем это в следующем шаге. */
/*  Шаг-4 Добавим object-fit: cover, чтобы вертикальные и горизонтальные изображения отображались правильно. В следующем шаге пропишем стилизацию на случай, если изображение не загрузят. */
/*  Шаг-5 Добавим цвет фона для review-image-wrapper и значение text-indent, чтобы убрать обводку у тега <img>. Готово. Подготовка графики для интеграции CMS завершена. */

body {
  font-family: "Montserrat","Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 30px;
  color: #000000;
}

.review-item {
  display: grid;
  grid-template-columns: 50px 1fr;
  grid-template-rows: 27px 1fr;
  column-gap: 22px;
  margin-bottom: 30px;
}

.review-image-wrapper {
  width: 50px;
  height: 50px;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  background-color: #f5d581;
  border-radius: 50%;
}

.review-item img {
  border-radius: 50%;
  object-fit: cover;
  text-indent: -100vw;
}

.review-name {
  font-size: 14px;
  line-height: 1.5;
  font-weight: 500;
  margin: 0;
}

.review-text {
  font-size: 18px;
  line-height: 1.5;
  font-weight: 400;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  margin: 0;
}

