@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("fonts/montserrat-medium.woff2") format("woff2"),
    url("fonts/montserrat-medium.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("fonts/montserrat-regular.woff2") format("woff2"),
    url("fonts/montserrat-regular.woff") format("woff");
}

body {
  font-family: "Montserrat", "Arial", sans-serif;
  min-width: 1440px;
  font-weight: 400px;
  font-size: 18px;
  line-height: 1.5;
  color: #000000;
}

.feedback {
  background-color: #f4efe2;
  padding-top: 81px;
  padding-bottom: 56px;
}

.wrapper {
  width: 1110px;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

.feedback__title {
  margin: 0 0 24px 0;
  font-size: 32px;
  line-height: 39px;
  font-weight: 500;
  color: #9f7303;
}
