form {
  /* width: 440px; */
  display: grid;
  grid-template-columns: 400px 400px;
  gap: 40px;
  place-content: center;
  margin: 0 auto;
  font-size: 20px;
}

.input {
  height: 200px;
  font-size: 30px;
}

.show-output {
  border: 1px solid red;
  height: 100px;
}

.button {
  height: 50px;
  align-self: center;
  border-radius: 30px;
  cursor: pointer;
}
