/* Щаг-1 В этом демо-проекте мы будем готовить форму для интеграции WordPress с плагином Contact Form 7. Макет: «Витрины для выпечки», если ссылка не работает, то попробуйте открыть тут. В проекте одна форма. Её особенность в том, что в ней три колонки. Такой реализации по умолчанию в плагине Contact Form 7 нет, поэтому колонки будем создавать самостоятельно. Подготовим основную разметку в следующем шаге. */
/* Шаг-2 Задаём основную стилизацию и добавляем обёртки. Создадим обёртку с классом order-form, чтобы от него создавать колонки. Если бы мы стилизовали на основе уже интегрированного сайта, то можно было бы отталкиваться от id формы. */
/* https://up.htmlacademy.ru/profession/frontender-lite/2/cms/2/demos/6513#2 */
@font-face {
  font-family: "Arkhip";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("fonts/arkhip.woff2") format("woff2"),
  url("fonts/arkhip.woff") format("woff"); /* скачать шрифты */
}
