@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/oswaldregular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  src: url("../../fonts/oswaldmedium.woff2") format("woff2");
  font-display: swap;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

legend {
  padding-left: 0;
  padding-right: 0;
}

picture {
  width: max-content;
  height: max-content;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page {
  font-family: "Arial", sans-serif;
  min-width: 320px;
  height: 100%;
  font-size: 14px;
  line-height: 18px;
}
@media (min-width: 768px) {
  .page {
    font-size: 16px;
    line-height: 24px;
  }
}

.page__body {
  margin: 0;
  min-height: 100%;
  color: #000000;
  background-color: #ffffff;
}

@media (min-width: 1300px) {
  .page-header {
    position: relative;
  }
  .page-header::before {
    content: "";
    position: absolute;
    z-index: -2;
    top: 0;
    left: 50%;
    right: 0;
    bottom: 0;
  }
}

.page-header__logo {
  grid-column-start: 1;
  grid-column-end: 3;
}

.main-nav {
  position: relative;
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  color: #000000;
}
@media (max-width: 767px) {
  .main-nav {
    border-bottom: 1px solid #e6e6e6;
  }
}
@media (min-width: 768px) {
  .main-nav {
    width: 708px;
    margin: 0 auto;
    padding: 24px 0;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 16px;
  }
}
@media (min-width: 1300px) {
  .main-nav {
    padding-top: 53px;
    width: 1220px;
  }
}

@media (max-width: 767px) {
  .main-nav__bar {
    width: 320px;
    margin: 0 auto;
    padding: 14px 20px 13px;
    display: grid;
    grid-template-columns: 34px 1fr 34px;
    gap: 16px;
    align-items: center;
  }
}

.main-nav__toggle {
  border: none;
  width: 44px;
  height: 39px;
  background-color: transparent;
  position: relative;
  display: block;
}
@media (min-width: 768px) {
  .main-nav__toggle {
    display: none;
  }
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}

@media (max-width: 767px) {
  .main-nav__wrapper {
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 2;
  }
}

.main-nav--opened .main-nav__toggle::before, .main-nav--opened .main-nav__toggle::after {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0px;
  margin: auto;
  content: "";
  width: 24px;
  height: 1.5px;
  background-color: #000000;
}
.main-nav--opened .main-nav__toggle::after {
  transform: rotate(45deg);
}
.main-nav--opened .main-nav__toggle::before {
  transform: rotate(-45deg);
}

.main-nav--closed .main-nav__toggle::before {
  position: absolute;
  top: 10px;
  right: 0;
  left: 0;
  margin: 0 auto;
  content: "";
  width: 24px;
  height: 2px;
  background-color: #000000;
  box-shadow: 0 8px 0 0 #000000, 0 16px 0 0 #000000;
}

@media (max-width: 767px) {
  .main-nav--closed .main-nav__wrapper {
    display: none;
  }
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}
.main-nav--nojs .main-nav__wrapper {
  position: static;
  display: block;
}

.logo {
  display: grid;
  grid-template-columns: 34px 1fr;
  align-items: center;
  gap: 16px;
}
@media (min-width: 768px) {
  .logo {
    grid-template-columns: 60px 1fr;
    gap: 12px;
  }
}
@media (min-width: 1300px) {
  .logo {
    grid-template-columns: 70px 1fr;
    gap: 15px;
  }
}
.logo:hover {
  opacity: 0.8;
}
.logo:active {
  opacity: 0.6;
}

.logo__image {
  width: 34px;
  height: 38px;
}
@media (min-width: 768px) {
  .logo__image {
    width: 60px;
    height: 52px;
  }
}
@media (min-width: 1300px) {
  .logo__image {
    width: 70px;
    height: 59px;
  }
}

.logo__sign {
  display: block;
  width: 101px;
  height: 18px;
  justify-self: center;
}
@media (min-width: 768px) {
  .logo__sign {
    justify-self: start;
  }
}

.page-footer__logo {
  grid-template-columns: auto;
  margin-left: auto;
  margin-right: auto;
  width: 128px;
  height: 24px;
}
@media (min-width: 768px) {
  .page-footer__logo {
    margin: 0;
    margin-top: 4px;
  }
}

.site-menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
@media (max-width: 767px) {
  .site-menu {
    font-size: 20px;
    font-weight: 500;
    border-top: 1px solid #e6e6e6;
    text-align: center;
    background-color: #ffffff;
  }
}
@media (min-width: 768px) {
  .site-menu {
    margin-right: -16px;
    font-size: 18px;
    line-height: 24px;
    /* 133.333% */
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }
}
@media (min-width: 1300px) {
  .site-menu {
    margin-left: auto;
    width: 520px;
  }
}

@media (max-width: 767px) {
  .site-menu__item {
    border-bottom: 1px solid #e6e6e6;
  }
}

@media (min-width: 768px) {
  .site-menu__item--active {
    position: relative;
  }
  .site-menu__item--active::after {
    position: absolute;
    bottom: 8px;
    left: 18px;
    right: 18px;
    content: "";
    height: 2px;
    background-color: #68b738;
  }
}

@media (min-width: 1300px) {
  .site-menu--index .site-menu__item--active::after {
    background-color: #ffffff;
  }
}

.site-menu__link {
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  line-height: 1;
  display: block;
  padding: 22px 20px 24px;
  color: #000000;
  text-decoration: none;
}
.site-menu__link:not([href]) {
  cursor: default;
}
@media (max-width: 767px) {
  .site-menu__link[href]:hover {
    background-color: #f2f2f2;
  }
  .site-menu__link[href]:active {
    background-color: #eaeaea;
  }
}
@media (min-width: 768px) {
  .site-menu__link {
    padding-top: 18px;
    padding-bottom: 16px;
    padding-right: 18px;
    padding-left: 18px;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
  }
  .site-menu__link[href]:hover {
    color: rgba(0, 0, 0, 0.6);
  }
  .site-menu__link[href]:active {
    color: rgba(0, 0, 0, 0.3);
  }
}
@media (min-width: 1300px) {
  .site-menu__link {
    padding-top: 23px;
    padding-bottom: 21px;
    padding-left: 16px;
    color: #111111;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
  }
}

@media (min-width: 1300px) {
  .site-menu--index .site-menu__link {
    color: #ffffff;
  }
  .site-menu--index .site-menu__link[href]:hover {
    color: rgba(255, 255, 255, 0.6);
  }
  .site-menu--index .site-menu__link[href]:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

.page-main__header--form {
  padding-top: 27px;
  padding-bottom: 40px;
}
@media (min-width: 768px) {
  .page-main__header--form {
    padding: 0 40px;
    padding-top: 33px;
  }
}
@media (min-width: 1300px) {
  .page-main__header--form {
    padding: 0;
  }
}

.page-main__heading {
  margin: 0;
  margin-bottom: 42px;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  font-family: "Oswald", sans-serif;
}
@media (min-width: 768px) {
  .page-main__heading {
    margin-bottom: 0;
    font-size: 60px;
    line-height: 60px;
  }
}

.page-main__heading--catalog {
  margin-top: 27px;
  margin-bottom: 36px;
}
@media (min-width: 768px) {
  .page-main__heading--catalog {
    margin-top: 36px;
    margin-bottom: 82px;
  }
}
@media (min-width: 1300px) {
  .page-main__heading--catalog {
    margin-top: 47px;
    margin-bottom: 84px;
  }
}

.page-main__heading--form {
  margin-bottom: 34px;
}
@media (min-width: 768px) {
  .page-main__heading--form {
    margin: 0 0 54px;
  }
}
@media (min-width: 1300px) {
  .page-main__heading--form {
    padding-top: 47px;
  }
}

.page-main__subheading {
  margin: 0;
  width: 230px;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .page-main__subheading {
    width: 330px;
    margin: 0 0 66px;
    font-size: 20px;
    line-height: 30px;
    /* 150% */
  }
}

.container {
  width: 280px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 708px;
  }
}
@media (min-width: 1300px) {
  .container {
    width: 1220px;
  }
}

.promo {
  padding-top: 26px;
  text-align: center;
  background-color: #63A63C;
  background-image: url("../img/background/bg-promo-mobile.jpg"), linear-gradient(#63a63b 0, #63a63b 302px, #ffffff 302px);
  background-repeat: no-repeat;
  background-position: 50% 0;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .promo {
    background-image: url("../../img/background/bg-promo-mobile@2x.jpg"), linear-gradient(#63a63b 0, #63a63b 302px, #ffffff 302px);
    background-size: auto 302px, auto auto;
  }
}
@media (min-width: 768px) {
  .promo {
    padding-top: 33px;
  }
}
@media (min-width: 1300px) {
  .promo {
    padding-top: 0;
    position: relative;
  }
}
@media (min-width: 1300px) {
  .promo::before {
    background-color: #63A63C;
    position: absolute;
    z-index: -2;
    content: "";
    top: -300px;
    right: 0;
    bottom: 82px;
    left: 50%;
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 1044px 696px;
    background-image: url("../../img/background/bg-promo-desktop.jpg");
  }
}
@media (min-width: 1300px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1300px) and (min-resolution: 2dppx) {
  .promo::before {
    background-image: url("../../img/background/bg-promo-desktop@2x.jpg");
  }
}
.promo::after {
  background-color: rgba(104, 183, 56, 0.85);
}
@media (max-width: 767px) {
  .promo {
    color: #ffffff;
  }
}
@media (min-width: 768px) {
  .promo {
    color: #000000;
    background-image: none;
    background-color: transparent;
    text-align: left;
  }
}

@media (min-width: 768px) {
  .promo__container {
    position: relative;
    padding: 0 90px 526px;
  }
}
@media (min-width: 1300px) {
  .promo__container {
    min-height: 636px;
    padding: 85px 610px 95px 80px;
  }
}

.promo__heading {
  margin: 0;
  margin-bottom: 25px;
  font-size: 36px;
  line-height: 1;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
}
@media (min-width: 768px) {
  .promo__heading {
    margin-bottom: 39px;
    font-size: 60px;
  }
}

.promo__text {
  margin-top: 0;
  margin-bottom: 29px;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 1;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .promo__text {
    font-size: 20px;
    margin-bottom: 50px;
  }
}

.promo__image {
  width: 280px;
}
@media (min-width: 768px) {
  .promo__image {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    width: 709px;
    height: 609px;
  }
}
@media (min-width: 1300px) {
  .promo__image {
    top: 0;
    left: calc(50% - 162px);
    width: 552px;
    height: 499px;
  }
}

.promo__button {
  width: 100%;
}

.button {
  display: inline-block;
  font-family: "Oswald", sans-serif;
  text-decoration: none;
  border: none;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #68b738;
  font-weight: 400;
  text-align: center;
  padding: 11px;
  font-size: 16px;
}
.button:hover {
  background-color: #5eaa2f;
}
.button:active {
  color: rgba(255, 255, 255, 0.3);
}
@media (min-width: 768px) {
  .button {
    padding: 16px 26px;
    width: auto;
    font-size: 20px;
    line-height: 1;
  }
}

.button--secondary {
  color: #444444;
  background-color: #f2f2f2;
}
.button--secondary:hover {
  background-color: #ebebeb;
}
.button--secondary:active {
  color: rgba(68, 68, 68, 0.3);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.catalog-sections {
  padding-top: 20px;
}
@media (min-width: 768px) {
  .catalog-sections {
    padding-top: 0;
  }
}

@media (min-width: 1300px) {
  .catalog-section__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }
}

.catalog-sections__item {
  position: relative;
  padding: 24px 20px 21px;
  background-color: #f2f2f2;
}
@media (min-width: 768px) {
  .catalog-sections__item {
    padding: 71px 311px 62px 53px;
  }
}
@media (min-width: 1300px) {
  .catalog-sections__item {
    padding-top: 47px;
    padding-left: 52px;
    padding-right: 53px;
    padding-bottom: 63px;
  }
}
.catalog-sections__item + .catalog-sections__item {
  margin-top: 21px;
}
@media (min-width: 768px) {
  .catalog-sections__item + .catalog-sections__item {
    margin-top: 30px;
  }
}
@media (min-width: 1300px) {
  .catalog-sections__item + .catalog-sections__item {
    margin-top: 0;
  }
}

.catalog-sections__heading {
  position: relative;
  min-height: 50px;
  margin: 0;
  margin-bottom: 22px;
  padding-left: 70px;
  display: flex;
  align-items: center;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .catalog-sections__heading {
    margin-bottom: 16px;
    position: static;
    padding-left: 0;
    font-size: 36px;
  }
}
@media (min-width: 1300px) {
  .catalog-sections__heading {
    position: relative;
    padding-left: 162px;
    min-height: 100px;
    margin-bottom: 39px;
  }
}
.catalog-sections__heading::before, .catalog-sections__heading::after {
  position: absolute;
  content: "";
}
.catalog-sections__heading::before {
  top: 0;
  left: 0;
  background-color: #68b738;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
@media (min-width: 768px) {
  .catalog-sections__heading::before {
    width: 200px;
    height: 200px;
    top: 92px;
    right: 61px;
    left: auto;
  }
}
@media (min-width: 1300px) {
  .catalog-sections__heading::before {
    width: 100px;
    height: 100px;
    top: calc(50% - 50px);
    right: auto;
    left: 0;
  }
}
.catalog-sections__heading::after {
  background-size: contain;
  background-repeat: no-repeat;
}

.catalog-sections__heading--slim::after {
  width: 36px;
  height: 50px;
  top: -3px;
  left: 7px;
  background-image: url("../../img/icons/cat-slim.svg");
}
@media (min-width: 768px) {
  .catalog-sections__heading--slim::after {
    width: 140px;
    height: 194px;
    top: 81px;
    left: auto;
    right: 92px;
  }
}
@media (min-width: 1300px) {
  .catalog-sections__heading--slim::after {
    width: 70px;
    height: 97px;
    top: calc(50% - 56px);
    left: 15px;
    right: auto;
  }
}

.catalog-sections__heading--pro::after {
  width: 67px;
  height: 28px;
  top: 11px;
  left: -9px;
  background-image: url("../../img/icons/cat-pro.svg");
}
@media (min-width: 768px) {
  .catalog-sections__heading--pro::after {
    width: 268px;
    height: 112px;
    top: 135px;
    left: auto;
    right: 28px;
  }
}
@media (min-width: 1300px) {
  .catalog-sections__heading--pro::after {
    width: 134px;
    height: 56px;
    top: calc(50% - 30px);
    left: -19px;
    right: auto;
  }
}

.catalog-sections__text {
  margin: 0;
  padding-bottom: 23px;
  margin-bottom: 18px;
  color: #444444;
  border-bottom: 1px solid #d9d9d9;
}
@media (min-width: 768px) {
  .catalog-sections__text {
    color: #000000;
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 57px;
  }
}
@media (min-width: 1300px) {
  .catalog-sections__text {
    margin-bottom: 32px;
  }
}

.catalog-sections__link {
  font-family: "Oswald", sans-serif;
  color: #000000;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  text-transform: uppercase;
  display: grid;
  grid-template-columns: max-content 32px;
  align-items: center;
  gap: 15px;
}
.catalog-sections__link::after {
  content: "";
  width: 24px;
  height: 10px;
  background-image: url("../../img/icons/icon_arrow.svg");
  background-position: 100% 50%;
  background-repeat: no-repeat;
}
.catalog-sections__link:hover::after {
  width: 32px;
}
.catalog-sections__link:active {
  opacity: 0.3;
}
@media (min-width: 768px) {
  .catalog-sections__link {
    font-size: 20px;
    line-height: 20px;
    gap: 24px;
  }
}

.process {
  padding-top: 21px;
  padding-bottom: 49px;
}
@media (min-width: 768px) {
  .process {
    padding-top: 45px;
  }
}
@media (min-width: 1300px) {
  .process {
    padding-top: 72px;
  }
}

.process__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  color: #444444;
}
@media (min-width: 768px) {
  .process__list {
    padding-top: 32px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
    row-gap: 36px;
    counter-reset: procces;
  }
}
@media (min-width: 1300px) {
  .process__list {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 80px;
  }
}

.process__item {
  display: grid;
  grid-template-columns: 60px 1fr;
  gap: 20px;
}
@media (min-width: 768px) {
  .process__item {
    gap: 32px;
    position: relative;
    z-index: 0;
    min-height: 280px;
    padding-top: 40px;
    padding-right: 72px;
    grid-template-columns: auto;
    grid-template-rows: 80px auto;
    counter-increment: process;
  }
}
@media (min-width: 1300px) {
  .process__item {
    padding-right: 0;
  }
}
@media (max-width: 767px) {
  .process__item + .process__item {
    margin-top: 22px;
  }
}
.process__item::before {
  content: "";
  width: 60px;
  height: 60px;
  margin-top: -2px;
  background-color: #68b738;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
@media (min-width: 768px) {
  .process__item::before {
    width: 80px;
    height: 80px;
    margin-top: 0;
  }
}
@media (min-width: 768px) {
  .process__item::after {
    content: counter(process);
    position: absolute;
    top: 0;
    right: 80px;
    z-index: -1;
    color: #f2f2f2;
    font-family: "Oswald", sans-serif;
    font-size: 280px;
    font-weight: 400;
    line-height: 1;
    /* 100% */
  }
}
@media (min-width: 1300px) {
  .process__item::after {
    right: 0;
  }
}
@media (min-width: 768px) {
  .process__item:first-of-type::after {
    margin-right: 16px;
  }
}

.process__item--leaf::before {
  background-image: url("../../img/icons/icon_leaf.svg");
}

.process__item--powder::before {
  background-image: url("../../img/icons/icon_tub.svg");
}

.process__item--food::before {
  background-image: url("../../img/icons/icon_eat.svg");
}

.process__item--scales::before {
  background-image: url("../../img/icons/icon_alarm.svg");
}

.procces__br {
  display: none;
}
@media (min-width: 768px) {
  .procces__br {
    display: block;
  }
}

.example {
  padding: 25px 0 42px;
  background-color: #eaeaea;
}
@media (min-width: 768px) {
  .example {
    padding-top: 43px;
    padding-bottom: 56px;
    border-top: 1px solid #e6e6e6;
    background-image: linear-gradient(to top, #eaeaea 472px, #ffffff 472px);
  }
}
@media (min-width: 1300px) {
  .example {
    padding-top: 18px;
    padding-bottom: 66px;
  }
}

@media (min-width: 1300px) {
  .example__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }
}

.example__content {
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .example__content {
    display: grid;
    grid-template-columns: 366px 1fr;
    column-gap: 32px;
    margin-bottom: 88px;
  }
}
@media (min-width: 1300px) {
  .example__content {
    grid-template-columns: 366px 70px 1fr;
    margin-bottom: 0;
  }
}

@media (min-width: 768px) {
  .example__heading {
    grid-column: 1/-1;
  }
}

.example__text {
  color: #444444;
  margin: 0;
  margin-bottom: 18px;
}
@media (min-width: 768px) {
  .example__text {
    grid-column: 1/-1;
    margin-top: 63px;
    margin-bottom: 54px;
    padding-right: 20px;
  }
}
@media (min-width: 1300px) {
  .example__text {
    grid-column: 1/3;
    margin-top: 146px;
    margin-bottom: 70px;
    padding-right: 34px;
  }
}

.example__list {
  margin-bottom: 28px;
  margin-top: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 32px;
}
@media (min-width: 768px) {
  .example__list {
    margin-bottom: 0;
    gap: 43px;
  }
}
@media (min-width: 1300px) {
  .example__list {
    margin-bottom: 54px;
    grid-column: 1/2;
    gap: 42px;
  }
}

.example__item {
  padding: 14px 8px 0;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
}
@media (min-width: 768px) {
  .example__item {
    padding-top: 12px;
  }
}

.example__title {
  width: 87px;
  margin-bottom: -10px;
  padding: 0 4px;
  text-align: center;
  background-color: #eaeaea;
  color: #444444;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 1;
  text-transform: lowercase;
}
@media (min-width: 768px) {
  .example__title {
    width: auto;
    margin-bottom: -6px;
    padding: 0 7px;
    background-color: #ffffff;
    font-size: 14px;
  }
}
@media (min-width: 1300px) {
  .example__title {
    background-color: #eaeaea;
  }
}

.example__definition {
  margin-left: 0;
  margin-bottom: 8px;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .example__definition {
    font-size: 30px;
    line-height: 37px;
    margin-bottom: 11px;
  }
}

.example__spending {
  margin: 0;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .example__spending {
    padding-left: 120px;
    text-align: right;
    font-size: 20px;
    line-height: 30px;
    margin-top: 4px;
  }
}
@media (min-width: 1300px) {
  .example__spending {
    margin-top: 0;
    padding-left: 0;
    grid-column: 1/2;
    display: grid;
    grid-template-columns: auto 64px auto;
    justify-content: start;
    text-align: left;
  }
  .example__spending span:first-child {
    grid-column: 1/2;
  }
  .example__spending span:last-child {
    grid-column: 3/4;
    justify-self: center;
  }
}

.example__images {
  margin-bottom: 21px;
}
@media (min-width: 768px) {
  .example__images {
    display: grid;
    grid-template-columns: 1fr 50%;
    padding: 0 58px;
    overflow: hidden;
    margin-bottom: 26px;
  }
}
@media (min-width: 1300px) {
  .example__images {
    margin-top: -38px;
    padding: 0;
    width: 592px;
  }
}

.example__image {
  display: none;
  overflow: hidden;
  width: 280px;
  height: 232px;
  place-content: center;
}
@media (min-width: 768px) {
  .example__image {
    width: 296px;
    height: 511px;
    display: grid;
    justify-content: start;
  }
  .example__image img {
    margin-left: -6px;
    width: auto;
  }
  .example__image:last-child {
    justify-content: end;
  }
  .example__image:last-child img {
    margin-right: -2px;
  }
}

@media (max-width: 767px) {
  .example__image--active {
    display: flex;
  }
}

.switcher {
  display: grid;
  grid-template-columns: 49px 1fr 49px;
  gap: 13px;
  padding: 0 35px;
  align-items: center;
  position: relative;
}
@media (min-width: 768px) {
  .switcher {
    padding: 0 60px;
    grid-template-columns: 70px 1fr 70px;
    gap: 7px;
  }
}
@media (min-width: 1300px) {
  .switcher {
    padding: 0;
  }
}

.switcher__toggler {
  margin-top: -4px;
  height: 14px;
  background-color: #ffffff;
  border: 1px solid #cdcdcd;
  grid-column: 2/3;
  grid-row: 1/2;
  position: relative;
  border-radius: 6px;
}
.switcher__toggler::after {
  position: absolute;
  top: 3px;
  width: 36px;
  content: "";
  height: 6px;
  border-radius: 3px;
  background-color: #68b738;
}
@media (min-width: 768px) {
  .switcher__toggler {
    display: none;
  }
}

.switcher--before .switcher__toggler::after {
  left: 6px;
  right: auto;
}

.switcher--after .switcher__toggler::after {
  left: auto;
  right: 6px;
}

.switcher__range {
  display: none;
  -webkit-appearance: none;
  appearance: none;
  grid-column: 2/3;
  grid-row: 1/2;
}
@media (min-width: 768px) {
  .switcher__range {
    display: block;
  }
}

.switcher__range::-webkit-slider-runnable-track {
  border-radius: 6px;
  height: 6px;
  background-color: #dcdcdc;
}

.switcher__range::-webkit-slider-thumb {
  border-radius: 50%;
  cursor: pointer;
  width: 34px;
  height: 34px;
  -webkit-appearance: none;
  margin-top: -14px;
  background-color: #68b738;
  box-shadow: inset 0 0 0 1px #cdcdcd, inset 0 0 0 13px #ffffff, 0px 1px 3px rgba(0, 0, 0, 0.16);
}

.switcher__range::-moz-range-track {
  border-radius: 6px;
  height: 6px;
  background-color: #dcdcdc;
}

.switcher__range::-moz-range-thumb {
  border-radius: 50%;
  cursor: pointer;
  width: 34px;
  height: 34px;
  -moz-appearance: none;
  margin-top: -14px;
  background-color: #68b738;
  box-shadow: inset 0 0 0 1px #cdcdcd, inset 0 0 0 13px #ffffff, 0px 1px 3px rgba(0, 0, 0, 0.16);
}

.switcher__button {
  display: block;
  padding: 0 2px 2px;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid transparent;
}
.switcher__button:last-child {
  grid-column: 3/4;
}
@media (min-width: 768px) {
  .switcher__button {
    padding-bottom: 4px;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.25);
    justify-self: center;
    font-size: 20px;
    line-height: normal;
  }
  .switcher__button:hover {
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  }
}

.switcher__button:hover {
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.switcher__button:active {
  border-bottom: 1px solid transparent;
}

.contacts {
  background-color: #f2f2f2;
}
@media (min-width: 1300px) {
  .contacts {
    position: relative;
    display: grid;
    z-index: 0;
    min-height: 400px;
    padding: 40px 0 52px;
    grid-template-columns: 1220px;
    align-items: center;
    justify-content: center;
  }
}

.contacts__container {
  padding: 26px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media (min-width: 768px) {
  .contacts__container {
    padding: 58px 40px 60px;
    grid-template-columns: 172px 172px;
    justify-content: space-between;
  }
}
@media (min-width: 1300px) {
  .contacts__container {
    grid-template-columns: 172px 155px;
    width: 565px;
    position: relative;
    margin: 0;
    z-index: 1;
    padding: 56px 80px;
    background-color: #ffffff;
  }
}

.contacts__heading {
  margin: 0;
  padding-right: 10px;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .contacts__heading {
    padding-top: 4px;
    padding-right: 0;
    font-size: 20px;
    line-height: 26px;
  }
}

.contacts__address {
  margin: 0;
  color: #444444;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  line-height: 20px;
}
@media (min-width: 768px) {
  .contacts__address {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: right;
    margin-bottom: 4px;
  }
}
@media (min-width: 1300px) {
  .contacts__address {
    text-align: left;
  }
}

.contacts__map {
  display: block;
  width: 100%;
  height: 362px;
  border: none;
}
@media (min-width: 768px) {
  .contacts__map {
    height: 400px;
  }
}
@media (min-width: 1300px) {
  .contacts__map {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.page-footer {
  padding: 39px 0 22px;
  background-color: #f2f2f2;
}
@media (min-width: 768px) {
  .page-footer {
    padding: 56px 0;
  }
}

@media (min-width: 768px) {
  .page-footer__container {
    display: grid;
    grid-template-columns: 164px 1fr 164px;
    gap: 16px;
    align-items: center;
  }
}

@media (max-width: 767px) {
  .page-footer__logo {
    margin-bottom: 32px;
  }
}

.page-footer__social {
  margin: 0;
}
@media (max-width: 767px) {
  .page-footer__social {
    margin-bottom: 22px;
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
  }
}

.social {
  margin-bottom: 19px;
  padding: 12px 12px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
}
@media (min-width: 768px) {
  .social {
    margin-bottom: -11px;
    margin-top: -11px;
    padding: 0;
  }
}

.social__item {
  margin: 0;
}

.social__link {
  width: 53px;
  height: 40px;
  display: grid;
  place-content: center;
  color: #666666;
}
@media (min-width: 768px) {
  .social__link {
    width: 52px;
    height: 52px;
  }
  .social__link svg {
    transform: scale(1.43);
  }
}
.social__link:hover {
  color: #68b738;
}
.social__link:active {
  color: rgba(104, 183, 56, 0.3);
}

.developer {
  color: #444444;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr auto;
  color: #666666;
}

.developer:hover .developer__logo {
  color: #68b738;
}

.developer:active {
  opacity: 0.3;
}

@media (max-width: 767px) {
  .catalog-list {
    border-bottom: 1px solid #ebebeb;
  }
}

@media (min-width: 768px) {
  .catalog-list__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
  }
}
@media (min-width: 1300px) {
  .catalog-list__container {
    grid-template-columns: repeat(4, 245px);
    column-gap: 80px;
    row-gap: 62px;
  }
}

.catalog-list__item {
  position: relative;
}
@media (max-width: 767px) {
  .catalog-list__item:before {
    position: absolute;
    content: "";
    top: 0;
    left: calc(50% - 50vw);
    right: 0;
    height: 1px;
    width: 100vw;
    background-color: #ebebeb;
  }
}

.card {
  padding-top: 21px;
  padding-bottom: 24px;
  display: grid;
  grid-template-areas: "image link" "image list" "button button";
  grid-template-columns: 1fr 1fr;
}
@media (min-width: 768px) {
  .card {
    grid-template-columns: 1fr;
    grid-template-areas: "image" "." "link" "list" "button";
    grid-template-rows: 213px 28px repeat(3, auto);
    padding: 0 38px 39px;
    background-image: linear-gradient(to bottom, transparent 0, transparent 81px, #f2f2f2 81px);
  }
}
@media (min-width: 1300px) {
  .card {
    padding-left: 40px;
    padding-right: 35px;
    padding-bottom: 41px;
  }
}

.card__link {
  grid-area: link;
  color: #222222;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  /* 125% */
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .card__link {
    justify-self: center;
  }
}

.card__heading {
  margin: 0;
  color: #222222;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  /* 125% */
  text-transform: uppercase;
  width: 90px;
}
@media (min-width: 768px) {
  .card__heading {
    width: 155px;
    text-align: center;
    font-size: 20px;
    line-height: 24px;
    /* 120% */
  }
}

.card__image {
  grid-area: image;
  align-self: center;
  justify-self: center;
}
@media (min-width: 768px) {
  .card__image {
    align-self: end;
  }
}
@media (min-width: 1300px) {
  .card__image {
    margin-bottom: 6px;
  }
}

.card__list {
  margin-top: 14px;
  margin-bottom: 22px;
  font-size: 12px;
  grid-area: list;
  display: grid;
  grid-template-columns: 1fr 1fr;
  line-height: 16px;
}
@media (min-width: 768px) {
  .card__list {
    font-size: 16px;
    line-height: 1;
    /* 100% */
    margin-top: 13px;
    margin-bottom: 34px;
  }
}
@media (min-width: 768px) {
  .card__list {
    margin-right: 4px;
  }
}

.card__title {
  text-wrap: wrap;
}
@media (min-width: 768px) {
  .card__title {
    padding-top: 7px;
    padding-bottom: 8px;
    border-bottom: 1px solid #cdcdcd;
    font-weight: 400;
  }
}

.card__definition {
  justify-self: end;
  margin: 0;
}
@media (min-width: 768px) {
  .card__definition {
    padding-top: 7px;
    padding-bottom: 8px;
    border-bottom: 1px solid #cdcdcd;
    width: 100%;
    text-align: right;
  }
}

.card__definition:last-of-type {
  text-transform: uppercase;
}

.card__button {
  grid-area: button;
  width: 100%;
  padding-top: 11px;
  padding-bottom: 11px;
}
@media (min-width: 768px) {
  .card__button {
    font-size: 16px;
    padding: 12px;
  }
}
@media (min-width: 1300px) {
  .card__button {
    margin-right: 5px;
    width: auto;
  }
}

.show-more {
  position: relative;
  padding: 78px 0 25px;
  text-align: center;
}
@media (min-width: 768px) {
  .show-more {
    padding: 161px 38px 38px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 81px;
    border: 2px solid #f2f2f2;
  }
}
@media (min-width: 1300px) {
  .show-more {
    padding-bottom: 40px;
  }
}

.show-more__title {
  margin: 0;
  margin-bottom: 8px;
  font-family: "Oswald", sans-serif;
  color: #111111;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .show-more__title {
    padding: 0 34px;
  }
}
@media (min-width: 1300px) {
  .show-more__title {
    padding: 0;
  }
}
.show-more__title::before, .show-more__title::after {
  top: 40px;
  left: calc(50% - 15px);
  position: absolute;
  content: "";
  width: 30px;
  height: 2px;
  background-color: #d3d3d3;
}
@media (min-width: 768px) {
  .show-more__title::before, .show-more__title::after {
    width: 60px;
    top: 79px;
    left: calc(50% - 30px);
  }
}
.show-more__title::after {
  transform: rotateZ(90deg);
}
@media (min-width: 768px) {
  .show-more__title {
    margin-bottom: 23px;
    font-size: 20px;
    line-height: 22px;
  }
}

.show-more__text {
  margin-top: 0;
  margin-bottom: 21px;
  color: #444444;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}
@media (min-width: 768px) {
  .show-more__text {
    flex-grow: 1;
    font-size: 16px;
    line-height: 18px;
    width: 220px;
    text-align: center;
  }
}

.show-more__button {
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}
@media (min-width: 768px) {
  .show-more__button {
    padding-top: 10px;
    padding-bottom: 8px;
  }
}

.catalog-additional__container {
  padding-top: 25px;
  padding-bottom: 35px;
}
@media (min-width: 768px) {
  .catalog-additional__container {
    padding-top: 68px;
    padding-bottom: 75px;
  }
}
@media (min-width: 1300px) {
  .catalog-additional__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
    padding-top: 75px;
    padding-bottom: 86px;
  }
}

.catalog-additional__heading {
  grid-column: 1/-1;
  margin: 0;
  margin-bottom: 34px;
  color: #000000;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 1;
  /* 100% */
}
@media (min-width: 768px) {
  .catalog-additional__heading {
    font-size: 36px;
    margin-bottom: 81px;
  }
}
@media (min-width: 1300px) {
  .catalog-additional__heading {
    grid-column: 1/-1;
    margin-bottom: 0;
  }
}
.catalog-additional__heading span {
  max-width: 320px;
  position: relative;
  z-index: 1;
  background-color: #ffffff;
  width: max-content;
  padding-left: 22px;
  padding-right: 22px;
  margin-left: -22px;
  display: flex;
}
@media (min-width: 768px) {
  .catalog-additional__heading span {
    max-width: 700px;
    padding-left: 35px;
    padding-right: 38px;
    margin-right: -40px;
    margin-left: 1px;
  }
}
@media (min-width: 1300px) {
  .catalog-additional__heading span {
    max-width: 1300px;
    margin-left: -35px;
  }
}

.catalog-additional__heading::before {
  position: absolute;
  content: "";
  height: 2px;
  left: 0;
  right: 0;
  margin-top: 16px;
  background-color: #68b738;
}
@media (min-width: 768px) {
  .catalog-additional__heading::before {
    margin-top: 22px;
  }
}

.catalog-additional__list {
  grid-column: 1/4;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 35px;
}
@media (min-width: 768px) {
  .catalog-additional__list {
    margin-bottom: 69px;
  }
}
@media (min-width: 1300px) {
  .catalog-additional__list {
    margin-bottom: 0;
  }
}

.card-row {
  padding: 13px 0 18px;
  border-top: 1px solid #cdcdcd;
}
.card-row:last-of-type {
  border-bottom: 1px solid #cdcdcd;
}
@media (min-width: 768px) {
  .card-row {
    display: grid;
    grid-template-columns: 1fr auto;
    justify-content: end;
    padding: 26px 38px 27px;
    border-left: 1px solid #cdcdcd;
    border-right: 1px solid #cdcdcd;
  }
}
@media (min-width: 1300px) {
  .card-row {
    padding: 0;
    padding-top: 14px;
    padding-bottom: 17px;
    align-items: center;
    grid-template-columns: 287px 287px 245px;
    gap: 37px;
    border-left: none;
    border-right: none;
  }
}

.card-row__heading {
  font-family: "Oswald", sans-serif;
  margin: 0;
  margin-bottom: 13px;
  font-size: 16px;
  line-height: 1;
  text-transform: uppercase;
  font-weight: 400;
}
@media (min-width: 768px) {
  .card-row__heading {
    margin-bottom: 25px;
    font-size: 20px;
  }
}
@media (min-width: 1300px) {
  .card-row__heading {
    margin-bottom: 0;
  }
}

.card-row__list {
  margin: 0;
  margin-bottom: 15px;
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 20px;
  font-size: 14px;
  line-height: 1;
}
@media (min-width: 768px) {
  .card-row__list {
    gap: 10px;
    justify-items: end;
    align-items: end;
    grid-template-columns: 1fr minmax(44px, auto);
    margin-bottom: 22px;
    font-size: 16px;
    line-height: 125%;
  }
}
@media (min-width: 1300px) {
  .card-row__list {
    margin-bottom: 0;
    justify-items: start;
  }
}

.card-row__definition {
  margin-left: 0;
}
@media (min-width: 1300px) {
  .card-row__definition {
    margin-top: 9px;
  }
}

.card-row__definition:last-of-type {
  text-transform: uppercase;
}

.card-row__button {
  width: 100%;
}
@media (min-width: 768px) {
  .card-row__button {
    font-size: 16px;
    grid-column: 1/-1;
    padding-top: 12px;
    padding-bottom: 12px;
  }
}
@media (min-width: 1300px) {
  .card-row__button {
    grid-column: auto;
  }
}

.offer {
  position: relative;
  padding: 188px 58px 42px;
  text-align: center;
  color: #ffffff;
  background-size: cover;
  background-color: #5eaa2f;
  background-repeat: no-repeat;
  background-position: 0 100%;
  background-image: linear-gradient(to bottom, rgba(104, 183, 56, 0.85) 0, rgba(104, 183, 56, 0.85) 100%), url("../../img/background/bg-cat-in-bag-mobile.jpg");
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .offer {
    background-image: linear-gradient(to bottom, rgba(104, 183, 56, 0.85) 0, rgba(104, 183, 56, 0.85) 100%), url("../../img/background/bg-cat-in-bag-mobile@2x.jpg");
    background-size: 560px auto;
  }
}
@media (min-width: 768px) {
  .offer {
    background-position: 50% 50%;
    padding: 73px 124px 68px 422px;
    text-align: left;
    background-image: linear-gradient(to bottom, rgba(104, 183, 56, 0.85) 0, rgba(104, 183, 56, 0.85) 100%), url("../../img/background/bg-cat-in-bag-tablet.jpg");
  }
}
@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 768px) and (min-resolution: 144dpi), (min-width: 768px) and (min-resolution: 1.5dppx) {
  .offer {
    background-image: linear-gradient(to bottom, rgba(104, 183, 56, 0.85) 0, rgba(104, 183, 56, 0.85) 100%), url("../../img/background/bg-cat-in-bag-tablet@2x.jpg");
    background-size: 1414px auto;
  }
}
@media (min-width: 1300px) {
  .offer {
    padding: 184px 20px 42px;
    text-align: center;
    background-image: linear-gradient(to bottom, rgba(104, 183, 56, 0.85) 0, rgba(104, 183, 56, 0.85) 100%), url("../../img/background/bg-cat-in-bag-desktop.jpg");
    background-size: 490px auto;
  }
}
@media (min-width: 1300px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 1300px) and (min-resolution: 144dpi), (min-width: 1300px) and (min-resolution: 1.5dppx) {
  .offer {
    background-image: linear-gradient(to bottom, rgba(104, 183, 56, 0.85) 0, rgba(104, 183, 56, 0.85) 100%), url("../../img/background/bg-cat-in-bag-desktop@2x.jpg");
  }
}
.offer:before {
  position: absolute;
  content: "";
  width: 80px;
  height: 82px;
  top: 58px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  background-image: url("../../img/icons/icon_gift.svg");
}
@media (min-width: 768px) {
  .offer:before {
    margin: 0;
    left: 77px;
    right: auto;
  }
}
@media (min-width: 1300px) {
  .offer:before {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }
}

.offer__text {
  font-size: 16px;
  line-height: 20px;
  margin: 0;
}
@media (min-width: 1300px) {
  .offer__text {
    padding: 0 10px;
  }
}

@media (min-width: 768px) {
  .form__container {
    padding: 0 40px;
    display: grid;
    column-gap: 60px;
  }
}
@media (min-width: 1300px) {
  .form__container {
    grid-template-columns: 1fr 1fr;
    padding: 0;
    column-gap: 80px;
  }
}

.form__group {
  border: none;
  margin: 0;
  padding: 0;
}
@media (min-width: 1300px) {
  .form__group {
    grid-column: 1/-1;
  }
}
@media (min-width: 768px) {
  .form__group--cat {
    margin-bottom: 72px;
  }
}
@media (min-width: 1300px) {
  .form__group--cat {
    grid-column: 1/2;
    margin-bottom: 69px;
  }
}
.form__group--target {
  padding-top: 22px;
  padding-bottom: 16px;
  margin-top: 24px;
  margin-bottom: 27px;
  margin-right: -21px;
  margin-left: -21px;
  padding-left: 21px;
  padding-right: 21px;
  border: 1px solid #d9d9d9;
}
@media (min-width: 768px) {
  .form__group--target {
    margin: 0;
    margin-bottom: 75px;
    padding: 25px 28px;
  }
}
@media (min-width: 1300px) {
  .form__group--target {
    grid-column: 2/3;
    margin-bottom: 69px;
  }
}
.form__group--contacts {
  margin-bottom: 24px;
}
@media (min-width: 1300px) {
  .form__group--contacts {
    margin-bottom: 28px;
  }
}
.form__group--comment {
  margin-bottom: 22px;
}
@media (min-width: 768px) {
  .form__group--comment {
    margin-bottom: 65px;
  }
}
.form__group--additional {
  margin-bottom: 36px;
}
@media (min-width: 768px) {
  .form__group--additional {
    margin-bottom: 54px;
  }
}
@media (min-width: 1300px) {
  .form__group--additional {
    margin-bottom: 62px;
  }
}

.form__footer {
  margin-bottom: 32px;
  text-align: center;
}
@media (min-width: 768px) {
  .form__footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    text-align: left;
    align-items: center;
    margin-bottom: 72px;
  }
}
@media (min-width: 1300px) {
  .form__footer {
    margin-bottom: 82px;
    grid-column: 1/-1;
    gap: 80px;
  }
}

.form__button {
  display: block;
  width: 100%;
  line-height: 1;
}
@media (max-width: 767px) {
  .form__button {
    margin-bottom: 23px;
  }
}

.form__explanation {
  margin: 0;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}
@media (min-width: 768px) {
  .form__explanation {
    font-size: 16px;
    margin-bottom: 6px;
  }
}

.field-group__heading {
  display: block;
  margin-bottom: 34px;
  margin-top: 26px;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
}
@media (min-width: 768px) {
  .field-group__heading {
    margin-bottom: 75px;
    font-size: 36px;
    line-height: 1;
    margin-top: 40px;
  }
  .field-group__heading--comment {
    margin-bottom: 77px;
  }
  .field-group__heading--additional {
    margin-bottom: 57px;
  }
}
.field-group__heading span {
  position: relative;
  z-index: 1;
  background-color: #ffffff;
  width: max-content;
  padding-left: 22px;
  padding-right: 22px;
  margin-left: -22px;
  display: flex;
}
@media (min-width: 768px) {
  .field-group__heading span {
    padding-left: 40px;
    padding-right: 40px;
    margin-right: -40px;
    margin-left: -40px;
  }
}

@media (min-width: 768px) {
  .field-group__br-mobile {
    display: none;
  }
}

.field-group__heading::before {
  position: absolute;
  content: "";
  height: 2px;
  left: 0;
  right: 0;
  margin-top: 16px;
  background-color: #68b738;
}
@media (min-width: 768px) {
  .field-group__heading::before {
    margin-top: 22px;
  }
}

.field-group__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  gap: 14px;
}
@media (min-width: 768px) {
  .field-group__list {
    gap: 21px;
  }
}
@media (min-width: 768px) {
  .field-group__list--target {
    gap: 13px;
  }
}
@media (min-width: 1300px) {
  .field-group__list--contacts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
  }
}
.field-group__list--additional {
  gap: 12px;
}
@media (min-width: 768px) {
  .field-group__list--additional {
    grid-template-columns: 1fr 1fr;
    row-gap: 32px;
    column-gap: 60px;
  }
}
@media (min-width: 1300px) {
  .field-group__list--additional {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 80px;
  }
}

.field-group__item--disabled {
  opacity: 0.3;
  pointer-events: none;
}

.field__input::placeholder {
  color: #444444;
}

.field {
  display: grid;
  grid-template-columns: max-content 1fr;
  align-items: center;
  gap: 12px;
}
@media (min-width: 768px) {
  .field {
    gap: 18px;
    font-size: 20px;
  }
}
.field--textarea {
  grid-template-columns: auto;
}
.field--email, .field--telephone {
  position: relative;
}
.field--email svg, .field--telephone svg {
  position: absolute;
  right: 15px;
  color: #222222;
}

.field__lead,
.field__input {
  font-family: "Oswald", sans-serif;
  color: #444444;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  text-transform: uppercase;
}

.field__input {
  width: 100%;
  padding-top: 9px;
  padding-bottom: 10px;
  padding-left: 14px;
  padding-right: 14px;
  border: 1px solid #e7e7e7;
}
@media (min-width: 768px) {
  .field__input {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 19px;
    padding-left: 19px;
  }
}

.field__input::placeholder {
  opacity: 1;
  color: #222222;
}

.field--icon .field__input {
  padding-right: 50px;
}

.field:hover .field__input {
  border-color: #cdcdcd;
}

.field--icon:focus-within svg {
  color: #68b738;
}

.field__input:focus,
.field__input:focus-visible {
  outline: none;
  outline: 2px solid #444444;
  outline-offset: -2px;
}

.field__input:not(:placeholder-shown):invalid {
  outline: 2px solid #ff8282;
  outline-offset: -2px;
}

.field__input:not(:placeholder-shown):invalid + .field__icon {
  color: #ff8282;
}

.field textarea {
  line-height: 2;
  height: 153px;
  padding-top: 4px;
  padding-right: 12px;
  resize: none;
}
@media (min-width: 768px) {
  .field textarea {
    height: 175px;
  }
}

.control {
  font-family: "Oswald", sans-serif;
  color: #222222;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  cursor: pointer;
  display: grid;
  grid-template-columns: 30px 1fr;
  gap: 15px;
}

.control--disabled,
.control:disabled {
  opacity: 0.3;
  pointer-events: none;
}

.control__lead,
.control__input {
  font-family: "Oswald", sans-serif;
  color: #444444;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .control__lead,
.control__input {
    font-size: 20px;
  }
}

.control__input {
  z-index: 1;
  width: 30px;
  height: 30px;
  grid-column: 1/2;
  grid-row: 1/2;
  margin: 0;
  opacity: 0;
}
@media (min-width: 768px) {
  .control__input {
    width: 40px;
    height: 40px;
  }
}

.control__lead {
  grid-column: 1/-1;
  grid-row: 1/2;
  display: grid;
  grid-template-columns: 30px 1fr;
  gap: 15px;
  align-items: center;
}
@media (min-width: 768px) {
  .control__lead {
    grid-template-columns: 40px 1fr;
    gap: 20px;
  }
}
.control__lead::before {
  border: 1px solid #cdcdcd;
}
.control__lead::before, .control__lead::after {
  margin: auto;
  grid-column: 1/2;
  grid-row: 1/2;
  content: "";
  width: 30px;
  height: 30px;
}
@media (min-width: 768px) {
  .control__lead::before, .control__lead::after {
    width: 40px;
    height: 40px;
  }
}

.control--radio .control__lead::before,
.control--radio .control__lead::after {
  border-radius: 50%;
}

.control--radio .control__input:checked + .control__lead::after {
  width: 14px;
  height: 14px;
  background-color: #68b738;
  border-radius: 50%;
}
@media (min-width: 768px) {
  .control--radio .control__input:checked + .control__lead::after {
    width: 18px;
    height: 18px;
  }
}

.control--checkbox .control__input:checked + .control__lead::after {
  width: 26px;
  height: 26px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-image: url("../../img/icons/check-mark.svg");
}
@media (min-width: 768px) {
  .control--checkbox .control__input:checked + .control__lead::after {
    background-size: 26px 26px;
  }
}

.control--checkbox .control__lead {
  color: #000000;
}

.control:hover .control__lead::before {
  border: 1px solid #bababa;
}

.control:focus-within .control__lead::before {
  outline: 2px solid #444444;
}
/*# sourceMappingURL=style.css.map */
