@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/oswaldregular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  src: url("../../fonts/oswaldmedium.woff2") format("woff2");
  font-display: swap;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page {
  font-family: "Arial", sans-serif;
  min-width: 320px;
  height: 100%;
  font-size: 14px;
  line-height: 18px;
}
@media (min-width: 768px) {
  .page {
    font-size: 16px;
    line-height: 24px;
  }
}

.page__body {
  margin: 0;
  min-height: 100%;
  color: #000000;
  background-color: #ffffff;
}

@media (max-width: 767px) {
  .page-header__nav {
    border-bottom: 1px solid #e6e6e6;
  }
}
@media (min-width: 768px) {
  .page-header__nav {
    width: 708px;
    margin: 0 auto;
    padding: 24px 0;
    display: grid;
    grid-template-columns: 174px 1fr;
    gap: 16px;
  }
}
@media (min-width: 1440px) {
  .page-header__nav {
    width: 1220px;
  }
}

@media (max-width: 767px) {
  .page-header__bar {
    width: 320px;
    margin: 0 auto;
    padding: 12px 20px 13px;
    display: grid;
    grid-template-columns: 34px 1fr 34px;
    gap: 16px;
    align-items: center;
  }
}

.page-header__logo {
  grid-column-start: 1;
  grid-column-end: 3;
}

.page-header__toggle {
  border: none;
  width: 40px;
  height: 40px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: url("../../img/icons/burger-button.svg");
  display: none;
}
@media (max-width: 767px) {
  .page-header__nav--closed .page-header__toggle {
    display: block;
  }
  .page-header__nav--opened .page-header__toggle {
    display: block;
    background-image: url("../../img/icons/");
  }
}
@media (min-width: 768px) {
  .page-header__toggle {
    display: none;
  }
}

.logo {
  display: grid;
  grid-template-columns: 34px 1fr;
  align-items: center;
  gap: 16px;
}

.logo__sign {
  justify-self: center;
}

.site-menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  line-height: 1;
}
@media (max-width: 767px) {
  .site-menu {
    font-size: 20px;
    font-weight: 500;
    border-top: 1px solid #e6e6e6;
    text-align: center;
  }
}
@media (min-width: 768px) {
  .site-menu {
    font-size: 18px;
    line-height: 24px;
    /* 133.333% */
    display: flex;
    justify-content: flex-end;
  }
}

@media (max-width: 767px) {
  .site-menu__item {
    border-bottom: 1px solid #e6e6e6;
  }
}

@media (min-width: 768px) {
  .site-menu__item--active {
    position: relative;
  }
  .site-menu__item--active::after {
    position: absolute;
    bottom: 8px;
    left: 18px;
    right: 18px;
    content: "";
    height: 2px;
    background-color: #68b738;
  }
}
@media (min-width: 1440px) {
  .site-menu__item--active::after {
    background-color: #ffffff;
  }
}

.site-menu__link {
  display: block;
  padding: 22px 20px 24px;
  color: #000000;
  text-decoration: none;
}
@media (min-width: 768px) {
  .site-menu__link {
    padding: 17px;
  }
}
@media (min-width: 1440px) {
  .site-menu__link {
    color: #ffffff;
  }
}

.page-main__header {
  padding: 28px 0 40px;
}

.page-main__heading {
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  font-family: "Oswald", sans-serif;
}
@media (min-width: 768px) {
  .page-main__heading {
    font-size: 60px;
    line-height: 60px;
  }
}
@media (min-width: 1440px) {
  .page-main__heading {
    font-size: 60px;
    line-height: 60px;
  }
}

.promo {
  padding-top: 27px;
  text-align: center;
}
@media (max-width: 767px) {
  .promo {
    color: #ffffff;
    background-color: #68b738;
    background-image: linear-gradient(to bottom, rgba(104, 183, 56, 0.85) 0px, rgba(104, 183, 56, 0.85) 302px, #ffffff 302px), url("../../img/background/index-background-@x1.jpg");
    background-repeat: no-repeat;
    background-position: 50% 0;
  }
}
@media (min-width: 768px) {
  .promo {
    color: #000000;
    background-image: none;
    background-color: transparent;
    text-align: left;
  }
}
@media (min-width: 1440px) {
  .promo {
    position: relative;
  }
  .promo::after {
    content: "";
    position: absolute;
    top: -200px;
    right: 0;
    bottom: 0;
    left: 50%;
    z-index: -2;
    background-color: rgba(104, 183, 56, 0.85);
    background-repeat: no-repeat;
    background-position: 0 100%;
    background-image: linear-gradient(to bottom, rgba(104, 183, 56, 0.85) 0px, rgba(104, 183, 56, 0.85) 100%), url("../../img/background/index-background-720x694.jpg");
  }
}

@media (min-width: 768px) {
  .promo__container {
    position: relative;
    padding: 0 90px 526px;
  }
}
@media (min-width: 1440px) {
  .promo__container {
    min-height: 582px;
    padding: 20px 610px 95px 80px;
  }
}

.promo__heading {
  margin: 0;
  margin-bottom: 25px;
  font-size: 36px;
  line-height: 1;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
}
@media (min-width: 768px) {
  .promo__heading {
    margin-bottom: 41px;
    font-size: 60px;
  }
}

.promo__text {
  margin-top: 0;
  margin-bottom: 29px;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 1;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .promo__text {
    font-size: 20px;
    margin-bottom: 49px;
  }
}

.promo__image {
  width: 280px;
}
@media (min-width: 768px) {
  .promo__image {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    width: 709px;
    height: 609px;
  }
}
@media (min-width: 1440px) {
  .promo__image {
    top: 30px;
    left: calc(50% - 162px);
    width: 552px;
    height: 499px;
  }
}

.promo__button {
  width: 100%;
}

.container {
  width: 280px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 708px;
  }
}
@media (min-width: 1440px) {
  .container {
    width: 1220px;
  }
}

.content-text {
  color: #444444;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  font-family: "Oswald", sans-serif;
}
.content-text-address {
  line-height: 20px;
}
@media (min-width: 768px) {
  .content-text {
    font-size: 16px;
    line-height: 24px;
  }
}

.button {
  display: inline-block;
  font-family: "Oswald", sans-serif;
  text-decoration: none;
  border: none;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #68b738;
  font-weight: 400;
  text-align: center;
  padding: 10px;
}
@media (min-width: 768px) {
  .button {
    padding: 14px 26px;
    width: auto;
    font-size: 20px;
    line-height: 1;
  }
}

.button--secondary {
  color: #444444;
  background-color: #f2f2f2;
}

.catalog-sections {
  padding-top: 20px;
}
@media (min-width: 768px) {
  .catalog-sections {
    padding-top: 0;
  }
}
@media (min-width: 1440px) {
  .catalog-sections {
    padding-top: 82px;
  }
}

@media (min-width: 1440px) {
  .catalog-section__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }
}

.catalog-sections__item {
  position: relative;
  padding: 24px 20px 18px;
  background-color: #f2f2f2;
}
@media (min-width: 768px) {
  .catalog-sections__item {
    padding: 77px 316px 52px 53px;
  }
}
@media (min-width: 1440px) {
  .catalog-sections__item {
    padding: 47px 55px 59px;
  }
}
.catalog-sections__item + .catalog-sections__item {
  margin-top: 20px;
}
@media (min-width: 768px) {
  .catalog-sections__item + .catalog-sections__item {
    margin-top: 30px;
  }
}
@media (min-width: 1440px) {
  .catalog-sections__item + .catalog-sections__item {
    margin-top: 0;
  }
}

.catalog-sections__heading {
  position: relative;
  min-height: 50px;
  margin: 0;
  margin-bottom: 22px;
  padding-left: 68px;
  display: flex;
  align-items: center;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .catalog-sections__heading {
    position: static;
    padding-left: 0;
    font-size: 36px;
  }
}
@media (min-width: 1440px) {
  .catalog-sections__heading {
    position: relative;
    padding-left: 162px;
    min-height: 100px;
    margin-bottom: 39px;
  }
}
.catalog-sections__heading::before, .catalog-sections__heading::after {
  position: absolute;
  content: "";
}
.catalog-sections__heading::before {
  top: 0;
  left: 0;
  background-color: #68b738;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
@media (min-width: 768px) {
  .catalog-sections__heading::before {
    width: 200px;
    height: 200px;
    top: calc(50% - 100px);
    right: 62px;
    left: auto;
  }
}
@media (min-width: 1440px) {
  .catalog-sections__heading::before {
    width: 100px;
    height: 100px;
    top: calc(50% - 50px);
    right: auto;
    left: 0;
  }
}
.catalog-sections__heading::after {
  background-size: contain;
}

.catalog-sections__heading--slim::after {
  width: 36px;
  height: 50px;
  top: -3px;
  left: 7px;
  background-image: url("../../img/icons/cat-slim.svg");
}

.catalog-sections__heading--pro::after {
  width: 67px;
  height: 28px;
  top: 11px;
  left: -9px;
  background-image: url("../../img/icons/cat-pro.svg");
}

@media (min-width: 768px) {
  .catalog-sections__text {
    color: #000000;
  }
}

.catalog-sections__link {
  font-family: "Oswald", sans-serif;
  color: #000000;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  border-top: 1px solid #d9d9d9;
}
@media (min-width: 768px) {
  .catalog-sections__link {
    border-top: transparent;
    font-size: 20px;
    line-height: 20px;
  }
}
@media (min-width: 1440px) {
  .catalog-sections__link {
    font-size: 20px;
    line-height: 20px;
  }
}

.process {
  background-color: #ffffff;
}

.process__list {
  list-style-type: none;
  color: #444444;
}

.process__text {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.example {
  background-color: #eaeaea;
}
@media (min-width: 768px) {
  .example {
    background-color: #ffffff;
  }
}

@media (min-width: 1440px) {
  .example__columns-wrapper {
    background-color: #f2f2f2;
  }
}

.example__termin {
  color: #444444;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
}

.example__description-termin {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
}

.example__price-total {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

.example__toggle {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
  background-color: transparent;
}

.contacts__heading {
  margin: 0;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

.contacts__address {
  color: #444444;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.page-footer__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  outline: 1px solid green;
  outline-offset: -1px;
}

.page-footer__logo {
  border-bottom: 1px solid #d9d9d9;
}

.developer {
  color: #444444;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}

.product__heading {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
}

.product__list {
  list-style-type: none;
}

.product__title {
  font-family: "Oswald", sans-serif;
  color: #222222;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

.product__details-termin,
.product__details-description {
  color: #444444;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}

.show-more__title {
  font-family: "Oswald", sans-serif;
  color: #111111;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

.show-more__slogan {
  color: #444444;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}

.show-more__button {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.addition-product__heading {
  font-family: "Oswald", sans-serif;
  color: #000000;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
}

.addition-product__list {
  list-style-type: none;
}

.addition-product__title {
  font-family: "Oswald", sans-serif;
  color: #222222;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
}

.addition-product__quantity,
.addition-product__price {
  color: #444444;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
}

.buyer-info {
  font-family: "Oswald", sans-serif;
  padding-top: 48px;
  padding-bottom: 43px;
  background-image: linear-gradient(to top, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../../img/background/background-cat-in-bag@1x.png");
}

.buyer-info__text {
  text-align: center;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #ffffff;
}

.form__heading {
  font-family: "Oswald", sans-serif;
  color: #000000;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
}

.form__intro {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

.form__explanation {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}

.field-group {
  border: none;
}

.field-group__list {
  list-style-type: none;
}

.field-group__lead,
.field-group__input {
  font-family: "Oswald", sans-serif;
  color: #444444;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

.field-group__input::placeholder {
  color: #444444;
}

.field-group__lead--radio {
  color: #222222;
}

.field-group__heading {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
}
/*# sourceMappingURL=style.css.map */