@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/oswaldregular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  src: url("../../fonts/oswaldmedium.woff2") format("woff2");
  font-display: swap;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  font-family: "Oswald", sans-serif;
  text-decoration: none;
  border: none;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #68b738;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.button--secondary {
  color: #444444;
  background-color: #f2f2f2;
}

.page {
  font-family: "Arial", sans-serif;
  height: 100%;
  font-size: 16px;
  line-height: 24px;
}

.page__body {
  margin: 0;
  min-height: 100%;
  color: #000000;
  background-color: #ffffff;
}

.page-header {
  margin: 0 auto;
  min-height: 65px;
  display: flex;
  flex-direction: column;
  position: relative;
}
@media (min-width: 768px) {
  .page-header {
    min-height: 76px;
    display: grid;
    grid-template-columns: 174px 1fr;
    column-gap: 93px;
    width: 768px;
    margin: 0 auto;
    padding-top: 24px;
  }
}
@media (min-width: 1440px) {
  .page-header {
    min-height: 110px;
    width: 1440px;
    grid-template-columns: 202px 1fr;
    column-gap: 538px;
    padding-top: 53px;
  }
}

.page-header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 23px;
  padding-bottom: 24px;
  border-bottom: 1px solid #e6e6e6;
}
@media (min-width: 768px) {
  .page-header__logo {
    height: 52px;
  }
}
@media (min-width: 1440px) {
  .page-header__logo {
    height: 59px;
  }
}

.page-header__logo-image {
  position: absolute;
  top: 10px;
  left: 20px;
}
@media (min-width: 768px) {
  .page-header__logo-image {
    position: static;
  }
}

.main-nav {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  background-color: #ffffff;
  color: #000000;
}

.main-nav__toggle {
  position: absolute;
  top: 24px;
  right: 20px;
  width: 18px;
  height: 18px;
}
@media (min-width: 768px) {
  .main-nav__toggle {
    display: none;
  }
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

@media (min-width: 768px) {
  .main-nav__list {
    width: 440px;
    display: flex;
    flex-wrap: wrap;
  }
}
.main-nav__link {
  display: block;
  text-decoration: none;
  color: #000000;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  text-transform: uppercase;
  padding: 22px 0 24px;
  border-bottom: 1px solid #e6e6e6;
}

.promo {
  font-weight: 400;
  padding: 27px 20px 20px;
  color: #ffffff;
  background-image: linear-gradient(to top, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../../img/background/index-background-@x1.jpg");
  background-color: #68b738;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .promo {
    color: #000000;
    background-image: none;
    background-color: #ffffff;
    padding: 0 30px;
  }
}
@media (min-width: 1440px) {
  .promo {
    padding: 0 110px 0;
  }
}

.promo__heading {
  font-family: "Oswald", sans-serif;
  margin-top: 0;
  margin-bottom: 25px;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
}
@media (min-width: 768px) {
  .promo__heading {
    align-self: start;
    text-align: left;
    width: 424px;
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 40px;
    margin-left: 87px;
  }
}
@media (min-width: 768px) {
  .promo__heading {
    margin-left: 80px;
  }
}

.promo__slogan {
  font-family: "Oswald", sans-serif;
  margin-top: 0;
  margin-bottom: 29px;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}

.promo__image {
  margin-bottom: 3px;
}

.catalog-sections {
  color: #000000;
  font-weight: 400;
  text-align: left;
  padding: 20px;
}
@media (min-width: 768px) {
  .catalog-sections {
    padding: 0 30px;
  }
}
@media (min-width: 1440px) {
  .catalog-sections {
    padding: 82px 110px 0;
  }
}

.catalog-sections__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  row-gap: 20px;
}
@media (min-width: 768px) {
  .catalog-sections__list {
    row-gap: 30px;
  }
}
@media (min-width: 1440px) {
  .catalog-sections__list {
    grid-template-columns: 570px 570px;
    column-gap: 80px;
  }
}

.catalog-sections__item {
  background-color: #f2f2f2;
}

.catalog-sections__heading {
  margin: 0;
  padding-bottom: 7px;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
}

.catalog-sections__description {
  margin: 0;
  margin-right: 33px;
  margin-left: 20px;
  padding: 22px 0;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 18px;
  border-bottom: 1px solid #d9d9d9;
}

.catalog-sections__link {
  display: block;
  padding: 15px 19px 0;
  font-family: "Oswald", sans-serif;
  color: #000000;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
}

.process {
  background-color: #ffffff;
  padding: 0 20px 29px;
}
@media (min-width: 768px) {
  .process {
    padding: 45px 30px 47px;
  }
}
@media (min-width: 1440px) {
  .process {
    padding: 71px 110px 0;
  }
}

.process__heading {
  margin-top: 0;
  margin-bottom: 40px;
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
}

.process__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  color: #444444;
}
@media (min-width: 768px) {
  .process__list {
    display: grid;
    grid-template-columns: 230px 230px;
    column-gap: 154px;
    row-gap: 37px;
  }
}
@media (min-width: 1440px) {
  .process__list {
    grid-template-columns: auto auto auto auto;
    column-gap: 80px;
  }
}

.process__item {
  margin-top: 0;
  margin-bottom: 20px;
}

.process__text {
  margin: 0;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.example {
  background-color: #eaeaea;
  padding: 25px 20px 40px;
}
@media (min-width: 768px) {
  .example {
    padding: 43px 30px 55px;
  }
}
@media (min-width: 1440px) {
  .example {
    padding: 26px 110px 65px;
  }
}

.example__heading {
  margin-top: 0;
  margin-bottom: 40px;
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
}
@media (min-width: 768px) {
  .example__heading {
    background-color: #ffffff;
  }
}

.example__title {
  color: #444444;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
}

.example__description {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
}

.example__price-total {
  margin-top: 0;
  margin-bottom: 40px;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

.example__images {
  margin-bottom: 15px;
}

.example__toggle {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

.contacts__head-container {
  padding: 26px 20px;
}

.contacts__heading {
  margin: 0;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

.contacts__address {
  margin: 0;
  color: #444444;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.page-footer {
  padding: 7px 20px 0;
}

.page-footer__logo {
  border-bottom: 1px solid #d9d9d9;
  padding: 32px 0;
}

.social {
  padding-top: 20px;
  padding-bottom: 21px;
  border-bottom: 1px solid #d9d9d9;
}

.developer {
  padding: 22px 0;
  color: #444444;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}

.product__heading {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
}

.product__list {
  list-style-type: none;
}

.product__title {
  font-family: "Oswald", sans-serif;
  color: #222222;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

.product__details-termin,
.product__details-description {
  color: #444444;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}

.show-more__title {
  font-family: "Oswald", sans-serif;
  color: #111111;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

.show-more__slogan {
  color: #444444;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}

.show-more__button {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.addition-product__heading {
  font-family: "Oswald", sans-serif;
  color: #000000;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
}

.addition-product__list {
  list-style-type: none;
}

.addition-product__title {
  font-family: "Oswald", sans-serif;
  color: #222222;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
}

.addition-product__quantity,
.addition-product__price {
  color: #444444;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
}

.buyer-info {
  font-family: "Oswald", sans-serif;
  padding-top: 48px;
  padding-bottom: 43px;
  background-image: linear-gradient(to top, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../../img/background/background-cat-in-bag@1x.png");
}

.buyer-info__text {
  text-align: center;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #ffffff;
}

.form__heading {
  font-family: "Oswald", sans-serif;
  color: #000000;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
}

.form__intro {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

.form__explanation {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}

.field-group {
  border: none;
}

.field-group__list {
  list-style-type: none;
}

.field-group__lead,
.field-group__input {
  font-family: "Oswald", sans-serif;
  color: #444444;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

.field-group__input::placeholder {
  color: #444444;
}

.field-group__lead--radio {
  color: #222222;
}

.field-group__heading {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
}
/*# sourceMappingURL=style.css.map */